[2019-11-29 06:40] Gyulank opened #6164 "Thunderbird can't sign in to gmail."
I have Ubuntu 20.04 Hu and Thunderbird 60.3.0 (64-bit) En.
When I fill in the data, the net window pops up and then I fill in and then a window pops up to enable Thunderbird and then prints Thunderbird that the username or password invalid. But the new 68.2.2 Hu working, and I tell it to Ubuntu too. Maybe they update it.

[2019-11-30 00:21] wisyr opened #6166 "Remove automatic language change function"
Please, it's driving me crazy when with every time I enter on MDN docs I have to manually change from - in my particular case - polish to english language.

Even if polish is my native language I don't want to read docs in polish, since they are usually incomplete and sometimes even deprecated or simply empty.

I guess most of programmers are familiar with english and they don't really need to rea

[2019-11-30 00:39] callahad opened #6167 "E - Update foundational dependencies (especially Django)"
Now that we've moved to Python 3 (#5943), it's time to turn our attention to the libraries that Kuma relies on.

__Django 1.11 reaches [end-of-life in April 2020](https://www.djangoproject.com/download/#supported-versions).__ To ensure the security and maintainability of Kuma, we must upgrade ot Django 2 before that date. Django 2 is supported until April 2022.

Additionally, at least 70 more of o

[2019-11-30 00:53] callahad opened #6168 "Production images include development libraries"
While investigating #6167 (updating our Python dependencies), I discovered that our `kuma_base` Dockerfile installs our development requirements:

https://github.com/mdn/kuma/blob/5a9fb57aa304ed0724e7fd1cff89b4540ba0f0de/docker/images/kuma_base/Dockerfile#L103

This means that we're deploying our development dependencies to production. While that shouldn't be directly harmful, it does have the pot

[2019-12-01 23:07] escattone commented on #6164
@Gyulank The issues in this repo are for MDN Web Docs only.

[2019-12-01 23:07] #6164 closed

[2019-12-02 05:57] #6046 closed

[2019-12-02 12:05] SatheesA opened #6170 "Browsing with older browser is not handled as described in datetime documentation"
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local
Under Handling browser support there are different scenarios where older browser that doesn't support it should be handled.. For example this referred example: https://codepen.io/pen/?&editable=true does not work in IE11 (11.1130.17134.0)

[2019-12-02 12:40] #6090 closed

[2019-12-02 14:35] peterbe commented on #6168
This is a tricky thing. I've had the same discussion with a lot of people and there's no one clear way. The advantage of installing everything like this, including some direct libs like `flake8` is that devs and CI end up with the exact same copy locally as what gets deployed. That has advantages.
Having all the extra dependencies also adds weight to the docker image which causes slower times to c

[2019-12-02 14:57] callahad commented on #6168
Agreed, this is a P3 at best.

My greatest concern is that the current separation of `default.txt` and `dev.txt` is a lie. We don't _really_ know what our production dependencies are, because we could potentially be relying on anything pulled in by any of our so-called dev dependencies.

[2019-12-02 16:23] tobinmori opened #6171 "Transfer MDN frontend private repos to MDN org repo"
Repos to move:
- mdn-storybook
- mdn-minimalist
- mdn-dinocons

[2019-12-02 17:09] tobinmori commented on #6167
@tobinmori convert to epic/subtickets.

[2019-12-02 17:16] tobinmori commented on #6166
Thanks @wisyr this is on our radar and in our backlog.

[2019-12-02 17:21] atopal commented on #6163
We discussed removing links for developer.mozilla.org and only displaying them on the wiki.

[2019-12-02 17:24] atopal commented on #6162
Hey Leela, we are currently in the process of moving away from the wiki editor and won't be fixing bugs on mobile. Sorry for the inconvenience here, but hopefully we'll have a better editing experience soon

[2019-12-02 17:24] #6162 closed

[2019-12-02 17:27] peterbe commented on #6163
If a page doesn't exist yet, you have a `class="new"` but no `title` tooltip.
Example: https://developer.mozilla.org/en-US/docs/Web/Houdini#The_Houdini_APIs
[code]

I think it would be a mistake to make them invisible.

Whatever the code is that injects the `new` to the `class`, could also add a `title` tooltip.

Also, the rather weird thing is that it's still clickable even though it's busted. Bu

[2019-12-02 17:27] #6129 closed

[2019-12-02 17:29] callahad opened #6172 "T - Upgrade to Django 2.2"
Django 1.11 reaches [end-of-life in April 2020](https://www.djangoproject.com/download/#supported-versions).

To ensure the security and maintainability of Kuma, we must upgrade ot Django 2 before that date. Django 2 is supported until April 2022.

Part of Epic #6167

## Blockers / Necessary Tasks

- [x] [(comment)](https://github.com/mdn/kuma/issues/6172#issuecomment-586203805) Assess current dep

[2019-12-02 17:31] callahad opened #6173 "Manually upgrade Python dependencies where possible"
Additionally, at least 70 more of our approximately 120 dependencies are outdated.

As part of #6167 we should update our dependencies where possible.

[2019-12-02 17:37] peterbe commented on #6163
There are times it makes sense but someone might have typed:

[code]

If anything I think it's more valuable to indicate that the page doesn't exist yet. That's actually helping the user.
Also, if it was a link to the Wiki it'll potentially inspire people to contribute.

[2019-12-02 17:37] #5976 closed

[2019-12-02 17:37] atopal commented on #5976
Don't have enough info to triage.

[2019-12-02 17:39] callahad opened #6174 "Switch to Poetry or Pipenv"
As part of #6167, we should switch from our curated `requirements/*.txt` files to a tool like [Poetry](https://poetry.eustace.io/) or [Pipenv](https://pipenv.kennethreitz.org/).

This will make it easier to audit and maintain our dependencies into the future, and will dramatically ease the upgrade to Django 2 (#6172), and upgrading our other libraries (#6173).

Current plan:

- [x] Spend half a da

[2019-12-02 17:44] callahad opened #6175 "Configure Dependabot or Renovate to monitor Python dependencies"
Once we're on Poetry (#6174), we should configure [Dependabot](https://dependabot.com/) or [Renovate](https://renovate.whitesourcesoftware.com/) to automatically send pull requests keeping our Python dependencies up to date. This would improve Kuma's security and sustainability by reducing its ongoing maintenance burden.

[2019-12-02 20:24] peterbe opened #6177 "ClientError (Throttling) in request_cdn_cache_invalidation()"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6766908/

[code]

[2019-12-02 21:55] escattone commented on #6115
@peterbe and I discussed this verbally in our video meeting earlier today, so I thought I'd summarize that here for the record.

I think this issue is an unintended consequence of moving from an absolute value to the default relative value for the `STATIC_URL` setting (see https://github.com/mdn/infra/pull/276). @peterbe and I couldn't see any reason to not serve static files, which we completely

[2019-12-02 23:42] escattone commented on #5789
Now that I understand this task better, I'm bumping the estimate up to 3 points.

[2019-12-03 00:49] wbamberg opened #6192 "Write a tool that can reliably render a set of macro calls in a collection of docs"
Write a tool that can reliably render a set of macro calls in a collection of docs, and write the result back into the Wiki DB.

"render" means that the macro call is replaced with the static HTML it creates.

## Acceptance criteria
We can easily selectively render KumaScript macros for subsets of the Wiki.

[2019-12-03 00:56] wbamberg opened #6193 "Write a tool that can reliably remove a set of macro calls from a collection of docs"
Write a tool that can reliably remove a set of macro calls from a collection of docs, and write the result back into the Wiki DB.

"remove" means that the macro call no longer appears in the source doc.

## Acceptance criteria
We can easily selectively remove KumaScript macros from subsets of the Wiki.

[2019-12-03 01:46] FYS397 opened #6179 "收藏问题"
前段时间还有标题对应的收藏按钮，现在怎么消失了呢，是出错了还是取消了？这个收藏按钮很实用的呀，可不可以恢复，谢谢！

[2019-12-03 11:21] wisyr commented on #6166
@tobinmori Thank you and once again thanks for an outstanding library!

[2019-12-03 11:21] #6166 closed

[2019-12-03 12:52] a2sheppy commented on #6125
Be sure to check to make sure the SVG also renders when the page is presented to the user, both on the wiki and on the react site. I could see that being handled differently in different code paths. :)

[2019-12-03 12:53] Gregoor commented on #6040
Oh I shouldn't only view things on ZenHub, it didn't show that this was closed by a commit 🙈 I think the backend issue is enough to track this now (where I'll also wire up the frontend with it), so closing it again

[2019-12-03 12:53] #6040 closed

[2019-12-03 14:28] peterbe opened #6180 "Documents without revisions can't be edited"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6775548/

[code]

[2019-12-03 14:44] tobinmori commented on #6122
@peterbe to convert to spreadsheet.

[2019-12-03 14:48] tobinmori commented on #6039
#6108 was done, but needs to be redone after some consideration.

[2019-12-03 14:59] tobinmori commented on #6016
PR #6143 will solve this.

[2019-12-03 15:02] peterbe commented on #6180
The problem is because the document doesn't have any revisions. At all.
[code]

The document doesn't have revisions. Is that what it means for it to not be approved?
Here's what the page says in English:
<img width="946" alt="Screen Shot 2019-12-03 at 10 01 19 AM" src="https://user-images.githubusercontent.com/26739/70062374-e267bc80-15b3-11ea-9ed6-d26fe95019cc.png">

I'm still curious about what

[2019-12-03 15:03] peterbe commented on #6180
A bit of context; there are various errors in Sentry related to this ultimate problem. It would be worth taking a stab to decrease the Sentry noise.

[2019-12-03 15:09] peterbe commented on #6168
That's a good point! What's the point of having a `dev.txt` if you're not going to bother using it.

I'm mindful though because I haven't yet seen any *real* problem with having some dev python libs installed in a production container. Since we're using constraints and hashes with `pip` we don't need to worry about some dev lib causing incorrect installation of versions that conflict with the "pro

[2019-12-03 15:15] peterbe commented on #6163
Perhaps we can ask some of the experienced editors what they feel about the idea of doing `a.new { display: none }` on the links to pages that don't yet exist.

A possible concern I have is that you don't notice that they haven't been created yet unless you hop over to `wiki.`.

Thoughts @chrisdavidmills @a2sheppy @wbamberg ?

[2019-12-03 15:22] tobinmori commented on #6037
@escattone what else needs to be completed on this one?
And, is this estimate still accurate?

[2019-12-03 15:23] chrisdavidmills commented on #6163
@peterbe wouldn't that just cause the links, and the contained link text, to not appear at all on the page? Which would surely make the pages look more broken and confusing than just having red links sat there?

The problem here is that readers see these red links on our pages and go "argh, broken link, there's a bug, must report the problem!" leading to us getting loads of bug reports about thing

[2019-12-03 15:34] peterbe commented on #6163
We can't have different HTML since this is HTML generated inside Django and sent to the wiki and the react front-end as a blob of HTML. Same HTML.
But what we CAN do with the "user version" (aka. the React site, aka. the read-only site) is to make those links unclickable. E.g. something like this pseudo code:

[code]

There's still stuff we can do differently/better with CSS for these `a.new` sele

[2019-12-03 15:38] Gregoor commented on #6101
Heya @malqinneh, could use your guidance here, if you have the time. Do you have a recommendation how we'd highlight the active page in the sidebar?

[2019-12-03 15:51] chrisdavidmills commented on #6163
Ah, I getcha.

Yeah, I think that might well help. but perhaps make the links look not much like links, with no underline and a more neutral color?

[2019-12-03 15:52] schalkneethling commented on #6163
We can indeed make the anchor links with class `new` not look like links. Should a user hover over them, however, they will still present as a link.

[2019-12-03 15:53] schalkneethling commented on #6163
The upside of the CSS approach is not JS that needs to run on each page load and scan the DOM for links marked with `new`

[2019-12-03 16:40] tobinmori commented on #6037
@escattone we should close this ticket and create a new one with acceptance criteria for the actual work. Can you do that?

[2019-12-03 16:46] malqinneh commented on #6101
@Gregoor I can certainly try to help / add input on how to improve sidebar navigation. We're currently doing work on an MDN design system, is this something we want to tackle ASAP?

[2019-12-03 16:49] Gregoor commented on #6101
Thanks for the quick response, I saw that Kadir already gave me a design direction so I quickly removed my comment again (apparently not quickly enough though 🙂). So I think I'm good with that for now!

[2019-12-03 16:58] escattone commented on #6037
Yes, I think we should close this one, and I'll create a new one, thanks @tobinmori.

[2019-12-03 18:31] jol64 opened #6181 "certificate"

[2019-12-03 18:31] #6181 closed

[2019-12-03 18:40] escattone opened #6182 "Implement automatic merging of Persona/GitHub/Google accounts on signup"
### Summary
When creating an MDN account via GitHub/Google social login, if one of the verified GitHub/Google email addresses matches an existing Persona/GitHub/Google social account associated with an existing user, automatically recover that user instead of creating a new one, skipping the usual `/<locale>/users/account/signup` page step (where the user selects a username and email address).

Se

[2019-12-03 20:02] peterbe commented on #6125
Just to be clear; this is more of a note-to-self-and-other-writers, right?

[2019-12-03 20:40] tobinmori opened #6183 "Payments: add membership/payment request callout/confirmation on MDN User Acct edit page"
**Design ticket:**
https://github.com/mdn/sprints/issues/2428

**Invision Comp:**
https://mozilla.invisionapp.com/share/8AUY90P273Y
https://mozilla.invisionapp.com/share/8AUY90P273Y#/screens/394804916

**Acceptance criteria:**
- [ ] Added static HTML/CSS 'Help Grow MDN' form to the bottom of the page.
- [ ] Clicking 'Continue' button (when checkbox is checked) opens MDN-styled Stripe Modal. See #6

[2019-12-03 21:05] tobinmori opened #6184 "Payments: add MDN-styled Stripe payment modal"
**Description:**
Stripe modal with MDN-styling. This work will also including JS that submits charge to Stripe.

**Invision Design:**
https://mozilla.invisionapp.com/share/8AUY90P273Y#/screens/394804915

**Stripe docs:**
https://stripe.com/docs/payments/checkout/subscriptions/starting
https://stripe.com/docs/payments/checkout/customization

**Acceptance criteria:**
- [ ] MDN-styled Stripe modal ap

[2019-12-03 21:10] tobinmori opened #6185 "Payments: confirmation screen of submitted payment"
**Invision Comp:**
https://mozilla.invisionapp.com/share/8AUY90P273Y#/screens/394804916

**Acceptance Criteria:**
- [ ] "You're helping MDN Grow" React component appears on the bottom of the User Acct edit page.
- [ ] Component has confirmation details: last-4 CC, expiry, postal
- [ ] the component is only shown to staff users via a feature flag

[2019-12-03 21:36] tobinmori opened #6186 "Payments: functional implementation"
The functional implementation is for internal user testing, documented here:
https://mozilla.invisionapp.com/share/8AUY90P273Y#/screens/394804916

[2019-12-03 21:52] jmswisher commented on #6059
@tobinmori @schalkneethling This is marked as Done in the spreadsheet, but the PR is still open. Move to next sprint?

[2019-12-03 21:54] peterbe commented on #6163
But if we make them not look like links, they're still links. And that's not just true for a human user, it's true for a bot like Googlebot too.

As concluded before, we can't easily change the raw HTML that Googlebot would encounter but remember that many bots, including Googlebot, do view pages with JS executed.

Doing a `document.querySelectorAll()` is pretty fast and it's rare that it actually

[2019-12-03 22:16] tobinmori commented on #6059
Yes please! Thanks @jmswisher

[2019-12-03 22:58] escattone commented on #6037
see https://github.com/mdn/kuma/issues/6182

[2019-12-03 22:58] #6037 closed

[2019-12-03 23:31] wbamberg opened #6187 ".env-dist.dev needs to be updated"
My local Kuma didn't work. Ryan suggested that the problem might be with this line in my `.env` file, which I just copied over from `.env-dist.dev`:

    DOMAIN=mdn.localhost

He suggested it should be:

    DOMAIN=localhost

...and that made my Kuma work again.

[2019-12-04 03:05] FYS397 opened #6188 "关于收藏"
子标题收藏按钮不见了

[2019-12-04 06:09] schalkneethling commented on #6163
True, but those links also have `rel=nofollow` :)

Easy enough to add the JS though if that works for @chrisdavidmills

[2019-12-04 08:30] chrisdavidmills commented on #6163
I don't think I'm convinced that what we're suggesting would really be much better. Could I see a prototype in action on a page somewhere, with the ability to compare it to the old version? i.e. before and after?

[2019-12-04 11:37] #6059 closed

[2019-12-04 11:39] schalkneethling commented on #6059
@violasong @digitarald This one has been merged https://github.com/mdn/kuma/pull/6160 and in all likelihood will go live today o/\o Apologies for the delay in getting it out there.

[2019-12-04 13:36] schalkneethling commented on #6163
@chrisdavidmills @peterbe Indeed, it does not make that much of a difference. I ran the following against the Houdini page:

[code]

All that does is change the links to look like normal links(i.e. blue and underlined) on MDN. Just removing them entirely is also not an option as they can appear in a multitude of places.

[2019-12-04 13:40] schalkneethling commented on #6163
This seems slightly better:

[code]

Results in the following:

![Screenshot 2019-12-04 at 15 39 04](https://user-images.githubusercontent.com/10350960/70147144-5c7b6c80-16ac-11ea-9496-0b3012b1a85c.png)

[2019-12-04 13:50] #6075 closed

[2019-12-04 14:40] tobinmori commented on #6185
closing, combined work in #6183

[2019-12-04 14:40] #6185 closed

[2019-12-04 16:34] peterbe opened #6190 "http:// images in code samples"
**Summary**
On https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout images such as `http://placehold.it/200x300` are used making the page look insecure
<img width="634" alt="Screen Shot 2019-12-04 at 11 33 22 AM" src="https://user-images.githubusercontent.com/26739/70161334-e8c86800-1689-11ea-835f-1fb5d7444c72.png">

**Steps To Reproduce (STR)**

1. Go

[2019-12-04 16:34] peterbe commented on #6190
@a2sheppy Is this a content issue you take care of?

[2019-12-04 18:48] SphinxKnight opened #6191 "Purging an empty page with no revision causing ISEs"
**Summary**
A user reported https://github.com/mdn/sprints/issues/2509. I investigate via the admin panel (document ID 246112) and removed the link from the English parent to allow the user to add a translation.

However with this slug (https://wiki.developer.mozilla.org/ko/docs/Learn/CSS/CSS_layout/레거시_조판_메서드 ) I cannot:

* edit without an ISE
* get the history without an ISE
* get the revisions

[2019-12-04 18:50] peterbe commented on #6163
Or, to remove them, go to https://developer.mozilla.org/en-US/docs/Web/Houdini#The_Houdini_APIs and open the web console and type:
[code]
it causes a bit of a weird extra whitespace.

And if you go to https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model#CSS_Typed_Object_Model and paste in the same JS snippet in the web console you get this:
<img width="1074" alt="Screen Shot 2019-12-0

[2019-12-04 19:35] peterbe commented on #6161
This is what's happening: https://codepen.io/peterbe/pen/LYEVYxy?editors=1010#0

In jQuery it can merge the text content of multiple DOM nodes. I think it basically does `string1 + string2 + stringN == $element.text()`

[2019-12-04 19:36] peterbe commented on #6161
Here's the foundation of the solution by the way: https://codepen.io/peterbe/pen/yLyNLXL?editors=1010#0

[2019-12-04 21:39] jmswisher commented on #6016
Is this the same as #6139? Both reference PR #6143; please pick one and close the other.

[2019-12-04 23:08] callahad opened #6195 "New Relic's native_metrics fails to build after Python 3 upgrade"
**Summary**

New Relic's `native_metrics` package fails to build.

This is because our version of Node (10.16.3) ships a version of `node-gyp` which only works with Python 2. Updating to Node 10.17.0 ([Changelog](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V10.md)) gets us a better error message, but still fails.

Version 6.x of `node-gyp` supports Python 3, but the most re

[2019-12-04 23:15] violasong commented on #6059
No worries! Thanks so much Schalk!

[2019-12-05 00:06] callahad commented on #6179
(Google Translate)

[2019-12-05 10:51] davecaos opened #6197 "Empty example in at Array.prototype.reduce() page"
https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/Array/reduce
![imagen](https://user-images.githubusercontent.com/6124495/70228923-02be8500-1734-11ea-9045-ec9d9090aa63.png)

[2019-12-05 11:19] chrisdavidmills commented on #6197
This example works fine for me on Firefox and Chrome; what browser are you looking at this in?

[2019-12-05 11:40] schalkneethling commented on #6041
This one is complete. Closing.

[2019-12-05 11:40] #6041 closed

[2019-12-05 11:41] schalkneethling commented on #6171
This one has been completed.

[2019-12-05 11:41] #6171 closed

[2019-12-05 12:08] davecaos commented on #6197
It was in Firefox, but when I reached help -> about the browser download the upgrade/restart and now it is working :ok:  ¯\_(ツ)_/¯

![imagen](https://user-images.githubusercontent.com/6124495/70234093-a0b74d00-173e-11ea-9f92-159a218ef4dd.png)

[2019-12-05 12:08] #6197 closed

[2019-12-05 12:25] peterbe commented on #6016
@jmswisher The PR will close both issues. It's a PR that kills two birds with one stone.

[2019-12-05 16:30] atopal opened #6199 "Turn back on instrumentation of MDN header"
**Summary**
When we switched to the react header, we disabled sending events for usage of the header, the breadcrumbs, login, etc.

**Steps To Reproduce (STR)**
Hover or click on a header item in the wiki, it will send an event, do the same on the developer.mozilla.org and it will not.

[2019-12-05 16:45] tobinmori opened #6200 "U - Research static site generators for use in Stumptown"
Acceptance criteria:

- [ ] investigate 2-3 popular static site generators such as Gatsby
- [ ] determine whether they can be used instead of site generator part of Stumptown Renderer
- [ ] document learnings

[2019-12-05 16:46] atopal opened #6201 "Add slug to BCD signals report"
**Summary**
_What problem would this solve?_

**Audience**
_Who has this problem? Everyone? Article authors? Etc._

**Rationale**
_How do you know that people identified above actually have this problem?_

**Workaround**
_How are the people identified above currently handling this problem?_

**Proposal**
_Do you have suggestions for solving this problem?_

**Additional context**
_Is there anything

[2019-12-05 18:25] peterbe commented on #6201
"slug"? It's already "embedded" in the document. E.g. https://developer.mozilla.org/admin/wiki/bcsignal/2383/change/

[2019-12-05 19:27] peterbe opened #6202 "Move developer_needs to waffle Switch"
Spawned from: https://github.com/mdn/kuma/pull/6108#issuecomment-561241527

We're currently doing this:
[code]
...to determine loading the banners CSS.

It doesn't need to be a waffle FLAG and it can't be either because a Flag doesn't work for CSS. It only works for the `/api/v1/whoami` which triggers the loading of `banners.jsx` in runtime.

It should become this:
[code]

Also, *today* the only f

[2019-12-05 19:30] peterbe opened #6203 "BCD Signaling doesn't need to be a waffle flag"
Spawned from: https://github.com/mdn/kuma/pull/6108#issuecomment-561241527

BCD Signalling is and will be on for everyone.

For good measure we shouldn't just remove all waffle stuff but also move it to `settings/common.py`.

[2019-12-05 19:40] peterbe commented on #6163
This *might* be unrealistic because my local mysql has less pages than the production DB but this'd be hard to get right if we remove all `a.new` links:
<img width="508" alt="Screen Shot 2019-12-05 at 2 39 05 PM" src="https://user-images.githubusercontent.com/26739/70267820-34077700-176d-11ea-935d-8d6175a80ba1.png">

[2019-12-05 19:43] atopal commented on #6201
I wanted to make sure I added the bug, but didn't have enough time to elaborate.

This is to add the slug to the table, so that I can get sql query dump with it.

[2019-12-05 21:18] tobinmori opened #6205 "Tobin's Test"
**Summary**
_What problem would this solve?_

**Audience**
_Who has this problem? Everyone? Article authors? Etc._

**Rationale**
_How do you know that people identified above actually have this problem?_

**Workaround**
_How are the people identified above currently handling this problem?_

**Proposal**
_Do you have suggestions for solving this problem?_

**Additional context**
_Is there anything

[2019-12-05 23:05] peterbe commented on #6201
It can be done with a JOIN. I can show you.

On Thu, Dec 5, 2019 at 2:43 PM Kadir Topal <notifications@github.com> wrote:

--
Peter Bengtsson
Mozilla MDN Web Docs
https://www.peterbe.com

[2019-12-06 09:06] #6138 closed

[2019-12-06 09:08] #6161 closed

[2019-12-06 09:11] schalkneethling commented on #6163
Yup, completely removing them is not an option I reckon.

[2019-12-06 09:20] SphinxKnight commented on #6161
@schalkneethling / @peterbe Thanks a lot :) (I wish I could "thumbs up" a commit)
I always forget: when approximately will it be possible to test that in prod?

[2019-12-06 09:21] schalkneethling commented on #6161
We do not do prod pushes on a Friday so, I would say on Monday?

[2019-12-06 09:22] SphinxKnight commented on #6161
Thanks :)

[2019-12-06 12:32] callahad commented on #6200
Gatsby's clearly the new VC-funded hotness, but I'd strongly recommend considering [Hugo](https://gohugo.io/). I have experience with it and can answer any questions that might arise.

A few pros:

* Renders pages _incredibly_ quickly (typically under 1 ms/page)
* Ships as a standalone binary (easy deployment / maintenance)
    * The binary includes built-in support for Sass, syntax highlighting,

[2019-12-06 12:36] peterbe commented on #6163
So, what we know:

1. Removing any `a.new` is probably too weird to attempt.
2. We can't, in Python, do much because that HTML that Python makes is shipped identically to the wiki and to the read-only site.
3. If we did this (*) we a ruining the links that are "slightly busted" such as the `<a href="/en-US/docs/Web/Houdini/">Houdini</a>` link (**) in the ["See Also" section](https://developer.mozi

[2019-12-06 14:56] peterbe opened #6206 "deleteuser API endpoint"
Parent ticket: https://github.com/mdn/sprints/issues/1922

In https://github.com/mdn/kuma/issues/6071 there's going to be a UI where the user clicks to delete hes account and then as part of that UI it needs to figure out whether to bother the user asking them the questions that are demonstrated (in the wiki) in these screenhots: https://github.com/mdn/kuma/pull/6149#issue-344684821

Also, that sa

[2019-12-06 15:21] peterbe commented on #6191
We do get a lot of Sentry errors related to documents that don't have a revision. I don't yet understand why a document wouldn't have a revision but it's definitely related to translated content in some way. It's moderately rare but when it happens it breaks hard.

[2019-12-06 15:42] peterbe commented on #6200
I changed the estimate from a 2 to a 5 because I think this is big.
The empiricism isn't going to come from reading through the README of these ready-made shrinkwrapped tools. It would require deep-diving and really understanding the product to be able to contrast it with what we want to build in Yari.

[2019-12-06 16:28] Gregoor commented on #6184
@atopal @malqinneh I just learned that [Stripe deprecated the payment modal](https://stripe.com/docs/payments/checkout/migration). It's been replaced by [Checkout](https://stripe.com/docs/payments/checkout) which takes user to a site hosted by stripe. If we want a little more customizability and keep people on our site we can use [Elements](https://stripe.com/en-de/payments/elements). And if that

[2019-12-06 16:42] malqinneh commented on #6184
@Gregoor I thought they did but @atopal confirmed that they were still using the modal workflow for payments. We do have a version of the workflow using Stripe's new dedicated page. I can share that with you if it helps but I'd check with @tobinmori and @atopal first :)

[2019-12-06 17:02] Gregoor commented on #6184
Right, that seems to be one of the drivers (as well as ApplePay which I assume we don't care too much about either 😁). Just wanted to point out that this might get an expiration date.

[2019-12-06 18:12] chrisdavidmills commented on #6163
I think the suggested wording is OK - it means what it says. I don't think we should try any further visual tricks for now; let's see if this improves things first.

[2019-12-06 19:41] callahad opened #6208 "T - Post-S3: Remove code paths that serve from local filesystem"
Blocked by #5798

Once we're happy with our use of S3 in production, we should remove old code paths that served attachments from the local filesystem.

That means, at least:

- [ ] Removing the `USE_S3` configuration switch
- [ ] Removing filesystem serving code from the `raw_file` view

[2019-12-06 19:44] callahad opened #6209 "Post-S3: Decommission EFS storage"
Blocked by #5798

Once we're happy with our use of S3 in production, we should remove and decommission our previous EFS storage resources.

[2019-12-06 19:57] mindy commented on #6200
I have some experience with Gatsby (used it to build a marketing site)-- happy to answer any questions that you might have.

I hate being the "new" person and commenting without context or historical awareness, but in case this is helpful, this might be worth taking a look: https://github.com/facebook/docusaurus. At the very least, it fits in with the dinosaur theme.

[2019-12-06 20:02] callahad opened #6210 "Post-S3: Find a way to decommission the old attachments CDN"
Blocked by #5798. This is a wishlist item.

Once we're happy with our use of S3 in production, we should consider removing the old attachments domain, `mdn.mozillademos.org`.

All attachments on Kuma are embedded into the document text as literal URLs which point to `https://mdn.mozillademos.org/files/{file_id}/{file_name}`. Despite appearances, this does not point to a single file. Rather, it poi

[2019-12-06 20:02] callahad opened #6211 "T - Post-S3: Document how Kuma handles attachments"
Blocked by #5798

Once we're happy with our use of S3 in production, we should document how Kuma handles attachments. Because it's a maze of twisty little passages.

Documenting how it actually works would be a boon for any future maintenance that may need to take place (e.g., #6210).

**Acceptance Criteria**
- [ ] text file documenting attachments

[2019-12-06 20:13] callahad opened #6212 "Attachments without an AttachmentRevision can exist and cause breakage"
**Summary**
_What is the problem?_

While working on #5998, I somehow managed to create an Attachment without a current AttachmentRevision.

This caused the `Attachment.get_file_url()` method to blow up, breaking all kinds of things.

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

Unknown

**Actual behavior**
_What actually happened?_

Many things broke. Mainly in the Django adm

[2019-12-06 20:22] callahad opened #6214 "Update minor Node version in kuma_base Docker image"
Our `kuma_base` image currently pulls in Node 10.16.3:

https://github.com/mdn/kuma/blob/6d51409fd3f0321d99e66fbed4187af36abe1aac/docker/images/kuma_base/Dockerfile#L4

Node 10.17.0 was [released two months ago](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V10.md); we should bump the version.

Note: Node v10 is an LTS release that is [supported until April 2021](https://node

[2019-12-06 20:23] callahad commented on #6214
If nothing else, this would at least give us a better error message for #6195 😁

[2019-12-06 20:28] callahad opened #6215 "Move or remove requirements/docs.txt"
Blocked by #6174

Once we move to Poetry or Pipenv, we'll be left with a weird little mostly-empty `requirements/` folder in our root, holding only a `README.rst` and `docs.txt`, the Python requirements for building our documentation.

We should fix that by either moving `requirements/docs.txt` to `docs/requirements.txt` or by folding those requirements into our `Pipfile` or `pyproject.toml` (perh

[2019-12-06 20:43] callahad commented on #6200
Do it! Your perspective, unburdened by historical context is super useful here.

To be honest, I'm not super aware of what our needs are, either. There's a very real chance that Hugo is a total non-starter (especially if we need React + SSR), so I think the most useful thing you and I can do right now is raise our hands and say "I know this platform, what do you need to know about it?"

[2019-12-06 21:00] callahad opened #6216 "Revise CI builds"
Our CI builds take a long time before they even begin executing, and the whole suite usually takes over 12 minutes before it completes.

We should look into cleaning up our Travis setup (or moving to GitHub Actions?) to both do less work, and to do it in a more parallel way.

(#6174 also makes this a bit worse for the linting task, but my hope is to first simplify our dependency situation, _then_

[2019-12-06 21:09] peterbe commented on #6215
Drive-by-comment; It should probably be `docs/requirements.txt` anyway since that file, if I'm guessing correctly, is exclusively a readthedocs kinda thing and has nothing to do with our web app. We just need to change this line:
<img width="792" alt="Screen Shot 2019-12-06 at 4 08 21 PM" src="https://user-images.githubusercontent.com/26739/70356593-bc0b8080-1842-11ea-94d6-47e19b515c89.png">

[2019-12-06 21:12] peterbe opened #6217 "class="new" is inserted on links that could work"
See https://github.com/mdn/kuma/issues/6163#issuecomment-561802945

The document has this raw HTML:
[code]
but when you save this, the post-process rendering turns that into:
[code]
But the only reason it claims it doesn't exist is because someone accidentally put in an extra trailing `/`. If you'd just remove that, it should work fine.

[2019-12-06 22:09] callahad commented on #6215
That'd be it! :)

[2019-12-06 22:09] callahad commented on #6215
You also just volunteered yourself as someone who has access to our RtD dashboard to change it, when the time comes 😉

[2019-12-07 00:26] #6115 closed

[2019-12-07 00:55] Forkest opened #6218 "Can't confirm email because it was sent to the wrong one"
I had two emails connected to my GitHub account:
First one was marked Receives notifications (It seems like you can't move this marker manually)
Second one was marked Primary
Actually, I have lost access to the first one long ago, so I added the second one and made it Primary, without removing the first. And it was OK up until today when I tried to register on MDN.

By default MDN suggested me my

[2019-12-07 02:12] peterbe commented on #6163
@schalkneethling Sorry. I saw this was assigned to you but I had a my finger on the trigger and just took a gamble to fix it. Or, at least to get started on a PR.

[2019-12-08 16:34] tomrowbo opened #6221 "First example Button Does Not Work"
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Sending_forms_through_JavaScript
Error: Uncaught ReferenceError: sendData is not defined
    at HTMLButtonElement.onclick

[2019-12-09 07:21] chrisdavidmills commented on #6221
Hi @tomrowbo , and thanks for reporting this. Some errors got introduced into these examples; I've fixed them now. They'll still alert an error, but this behaviour is to be expected, I think.

[2019-12-09 07:21] #6221 closed

[2019-12-09 10:42] #6163 closed

[2019-12-09 11:52] #5964 closed

[2019-12-09 12:08] peterbe commented on #6214
Do we have any objections to just going for Node 12 here?

[2019-12-09 12:56] peterbe commented on #6215
But do you agree this is orthogonal to the post-pip work? If so, I can just take care of this.

[2019-12-09 13:23] callahad commented on #6215
Could be done on its own now, sure.

On Mon, Dec 9, 2019, 12:56 Peter Bengtsson <notifications@github.com> wrote:

[2019-12-09 13:29] #6214 closed

[2019-12-09 13:46] callahad commented on #6195
Per Slack, seems like our options are:

1. Install Python 2, just to satisfy building `native_metrics`
2. Mess with NPM under the hood to upgrade it's bundled copy of `node-gyp` to a version that supports Python 3
3. Accept that we can't easily build the extension module ourselves, and automatically fall back to New Relic's prebuilt binaries if possible. It is optional, after all.

...Peter and I

[2019-12-09 15:07] callahad commented on #6173
As a benchmark, with all of our dependencies pinned at their current version.

[code]

That's where we're starting from:

__71/113 (63%) of our Python dependencies are outdated.__

[2019-12-09 15:59] #6205 closed

[2019-12-09 16:12] tobinmori commented on #6200
Thanks for the suggestions/advice @callahad and @mindy.

I'm going to break this story up since it's so potentially huge, into 2-3 points for each site-generator. For now it sounds like Gatsby/Hugo are the contenders.

Any other ones anybody?

[2019-12-09 17:07] tobinmori commented on #6218
Hi @forkest we don't send a confirmation email. we only send confirmation emails for unconfirmed email addresses.

Can you let us know if you'd like to delete your MDN acct so you can start over?

[2019-12-09 17:22] #6201 closed

[2019-12-09 17:25] #6195 closed

[2019-12-09 17:31] tobinmori commented on #6179
Can you check wiki.developer.mozilla.org and see if it's there? Thank you.

[2019-12-09 17:34] callahad commented on #6188
(Google Translate)

I think this is asking about the same topic as #6179?

Closing as duplicate of #6179. Please let us know if what you're looking for still works on https://wiki.developer.mozilla.org? (We recently changed MDN's frontend; the `wiki.*` site is still running the old frontend code.)

[2019-12-09 17:34] #6188 closed

[2019-12-09 17:45] callahad commented on #6179
Oh! @atopal thinks this might be asking about the permalink icons on subheads, e.g.:

![Screen Shot 2019-12-09 at 17 43 55](https://user-images.githubusercontent.com/24193/70459242-a8af1e00-1aab-11ea-9155-63e83bc218e8.png)

[2019-12-09 17:46] callahad commented on #6179
We'd be happy to accept pull requests re-adding these to the main MDN site.

[2019-12-09 18:02] callahad commented on #6179
(Removing "good first issue" label... seems like our rendering infrastructure is a bit more complex than I had imagined.)

[2019-12-09 20:39] peterbe commented on #6200
Not needed. The task is an exploration.

There is no doubt in my mind that you *can* generate a static site (ready to be thrown upon a CDN) with Hugo, Gatsby, Django, Docusaurus, etc. The really important and interesting exploration is to taste how they feel against our context, scale, and legacy. Unfortunately, those things are hard to genuinely answer until you just try to do it fully. Something

[2019-12-09 20:49] #6215 closed

[2019-12-09 22:48] Forkest commented on #6218
Yes, that e-mail was unconfirmed on GitHub, but I didn't request an MDN account with that address in the first place. I selected another one that was my Primary and confirmed on GitHub. And now my profile is locked until I'll be able to confirm the e-mail I don't have access to. I don't even have that e-mail on my account anymore, but MDN doesn't bother to check.

Yes, please, delete my MDN accoun

[2019-12-09 22:55] atopal commented on #6200
I'd strongly suggest breaking it down, so we have some milestones along the way. 5 points is about two weeks straight. What would be a meaningful way marker? A good point to collect feedback?

[2019-12-10 03:34] caitmuenster opened #6225 "Redirect "Featured"
Hi there!

Apologies; it looks like we have another page that needs to be redirected from MDN to Extension Workshop.

AMO Features Extensions policies (https://developer.mozilla.org/docs/Mozilla/Add-ons/AMO/Policy/Featured) should be redirected to https://extensionworkshop.com/documentation/publish/recommended-extensions/.

This can happen during the next MDN push.

Thank you!

[2019-12-10 18:48] tobinmori commented on #6218
Thanks Forkest. I've deleted your MDN account. I hope the next account creation goes more smoothly!

[2019-12-10 19:10] peterbe commented on #5981
Note-to-self; the task is to verify that errors inside ssr-server.jsx triggers an error sent to Sentry.
And if the SSR service throws a 500, back to python `requests.post()` it should not trigger another Sentry error about that.

[2019-12-10 19:19] #6174 closed

[2019-12-10 19:30] peterbe commented on #5981
https://sentry.prod.mozaws.net/operations/mdn-stage/issues/6842194/?query=is:unresolved did happen from my local deliberate testing.
For local dev, and docker-compose, it doesn't read from the `.env` file so I manually added it in docker-compose.yml for the `ssr` service.

[2019-12-10 19:31] peterbe commented on #5981
In production, it appears to be *configured*. See this search from Papertrail:
<img width="1505" alt="Screen Shot 2019-12-10 at 2 30 49 PM" src="https://user-images.githubusercontent.com/26739/70562113-c6d35780-1b59-11ea-91df-3b24dc2b0d33.png">
Yay!

[2019-12-10 23:41] Forkest commented on #6218
Thanks, successfully registered now. Although the previously used nickname was unavailable, that is not much of a problem.

You might want to adjust the labels.

[2019-12-11 02:35] peterbe commented on #6174
Sorry, but I missed this in review.
I see that we now have this: https://github.com/mdn/kuma/tree/master/requirements and that's linked to from here: https://kuma.readthedocs.io/en/latest/development.html#managing-dependencies
But would you mind adding a line or two about how to use `poetry`.

I think we can link to https://poetry.eustace.io/docs/cli/#add and https://poetry.eustace.io/docs/cli/#up

[2019-12-11 02:37] peterbe commented on #6174
I'm sure I'll get the hang of this someday but not today apparently.

As a matter of fact, I wanted to try upgrading a single package. Just to get a feel for it and to help you with the mass-upgrading. I entered a docker-compose bash shell and typed: `poetry update requests-mock` (because we have 0.7.0 and [1.7.0](https://pypi.org/project/requests-mock/) is the latest) but all that happened was th

[2019-12-11 13:56] tobinmori commented on #6218
Thanks Forkest.

[2019-12-11 13:56] #6218 closed

[2019-12-11 16:35] #6009 closed

[2019-12-11 16:35] #6023 closed

[2019-12-11 19:14] #6202 closed

[2019-12-11 19:54] Forkest commented on #6218
Sad that you didn't bother to revisit the confirmation logic so that it wouldn't happen to other people in the future.

[2019-12-11 20:25] daflorescom opened #6228 "array error"
when constructing an array with numeric keys and omitting 0, the length of this appears as if there were 3 arrays
![Captura de Pantalla 2019-12-11 a la(s) 3 22 34 p  m](https://user-images.githubusercontent.com/51464050/70657753-6b24cf00-1c2a-11ea-988f-d98ae6108313.png)

[2019-12-12 13:29] #6217 closed

[2019-12-12 15:29] tobinmori opened #6230 "Document Kuma installation, fixes and workaround notes."
Reason: existing docs may be out of date and missing developer experience obstacles and their workarounds.

[2019-12-12 15:50] schalkneethling opened #6231 "Multi Auth - How do we want to switch it on and off?"
Hey All,

Now that the Google backend piece has landed, I picked up my front-end work again. I made a couple of small tweaks and I can now successfully sign in with either Github or Google o/\o

The question now is, how do we "dynamically" switch this feature on and off?

One thought I have is the following:

Inside `login.jsx` there is this piece of code:

[code]

Now, if we had access to somethi

[2019-12-12 16:04] #6125 closed

[2019-12-12 16:28] peterbe commented on #6231
I first wrote a long suggestion about how you could use the DOM and read from it.
Or we could have custom settings being passed in from `ssr.py` to `ssr.jsx`.

A much simpler and better suggestion would be to change `login.jsx` to:
[code]
Then, write a Django function that looks something like this:

[code]

The sign in link is not displayed until the `/api/v1/whoami` XHR fetch is complete so if y

[2019-12-12 16:30] peterbe commented on #6231
I don't understand this at all. What does the modal have to do with this?
When multi-auth is NOT enabled, clicking "Sign in" will take you to github.com's auth screen. When multi-auth IS enabled, clicking "Sign in" will take you to a page of our own, right?

Or, did we have in mind to implement a modal to be ready to use on whichever possible page you're on?

[2019-12-12 17:16] #5862 closed

[2019-12-12 17:18] peterbe opened #6233 "Upgrade pyquery to 1.4.1"
[pyquery 1.4.1](https://github.com/gawel/pyquery/blob/master/CHANGES.rst#141-2019-10-26) comes with changes that break our tests.
Let's fix that.

[2019-12-12 17:19] #6177 closed

[2019-12-12 23:00] #6182 closed

[2019-12-12 23:26] #6203 closed

[2019-12-12 23:30] #6233 closed

[2019-12-13 00:53] escattone opened #6235 "Viewing profile of user with Persona account generates an ISE"
**Summary**
It seems that viewing the profile of a user who has a Persona social account triggers an ISE.

**Steps To Reproduce (STR)**
1. Visit https://developer.allizom.org/en-US/profiles/sheppy
2. It will generate a 500 error
3. Visit https://developer.allizom.org/en-US/profiles/escattone
4. Displays fine

**Actual behavior**
Returns 500 (internal server error)

**Expected behavior**
Success di

[2019-12-13 02:31] escattone opened #6236 "Integration tests fail against the stage instance"
**Summary**
One of the `test_not_cached` headless CDN integration tests needs to be fixed. We forgot to update the test within https://github.com/mdn/kuma/pull/6149.
[code]

[2019-12-13 02:36] escattone opened #6237 "Kuma integration-tests Dockerfile needs to use poetry"
**Summary**
The `integration-tests` Dockerfile (see https://github.com/mdn/kuma/blob/master/docker/images/integration-tests/Dockerfile) needs to be updated to use `poetry` instead of `pip`. It currently fails to build, so the integration tests cannot be run from Jenkins.

[2019-12-13 02:42] escattone opened #6238 "T - Stream of "Refusing to deserialize disabled content of type pickle" errors on prod celery-workers"
**Summary**
Each of the prod Celery workers log a steady stream of these errors:

`ERROR/MainProcess] Refusing to deserialize disabled content of type pickle (application/x-python-serialize)`

even though all of the message queues are empty. We don't know why this is happening, and seems to have been happening for at least the past few days (based on Papertrail).

[2019-12-13 07:00] escattone commented on #6235
FYI, I know what this is and am working on a fix which I'll submit tomorrow morning.

[2019-12-13 07:53] schalkneethling commented on #6231
So, if you are on a mobile device or, JavaScript is not available(for whatever reason), the link will direct you to a dedicated multi auth landing page.

Should you be on a tablet or desktop device, clicking sign-in will open a modal dialog. See below:

![Screenshot 2019-12-13 at 09 53 13](https://user-images.githubusercontent.com/10350960/70781020-6c6f0c80-1d8e-11ea-917e-2771418ac91d.png)

[2019-12-13 07:56] schalkneethling commented on #6231
This sounds great! Thanks for the suggestions @peterbe. Do you have any available cycles to open a PR against my PR[https://github.com/mdn/kuma/pull/6094] to add this? Alternatively, @Gregoor do you some time?

I don't think we will need this.

[2019-12-13 08:57] s-e1 opened #6239 "correct number of levels"
"Table
The following table is ordered from highest (20) to lowest (1) precedence."

The table actually has 21 levels.

[2019-12-13 11:20] schalkneethling commented on #6231
It does seem that we are decided on using a `setting` in `common.py` though, correct?

[2019-12-13 12:00] Gregoor commented on #6231
Happy to take that on (I think it is also still assigned to me). Though I do believe we'd need to handle it on the client-side, given the modal interaction. I'm gonna check if we already make config settings available to the client somewhere.

On an organizational note, we might want to merge this issue with #6107

[2019-12-13 12:18] peterbe commented on #6231
[Ryan has spoken](https://github.com/mdn/kuma/issues/6107#issuecomment-553665528) and I agree.

Only use Constance or Waffle if there's a solid requirement to be able to turn on/off immediately and without being able to wait for a release.

Also, although I don't know if it's been practiced, but we can technically toggle an environment variable in Kubernetes without having to wait for a kuma relea

[2019-12-13 12:25] peterbe commented on #6107
The "Mugshot or 'Sign in' link" always depend on the XHR fetch of `/api/v1/whoami` so we can add stuff to that in `api/v1/views.py`.

[2019-12-13 12:25] peterbe commented on #6231
Actually, let's move any discussion about *how* to get the env vars into React components to https://github.com/mdn/kuma/issues/6107

[2019-12-13 12:32] Gregoor commented on #6107
@peterbe wdyt about rendering required settings into the HTML after SSR? i.e.

[code]

[2019-12-13 14:24] peterbe commented on #6107
I wouldn't be opposed to that.
Thing is, I'd rather keep `whoami` clean and pure and personal.

[2019-12-13 20:23] #6236 closed

[2019-12-13 20:24] escattone commented on #6237
Actually, I should have deleted the `integration-test` Dockerfile a while back when I removed the browser-based tests, since we no longer need a special Docker image other than `kuma_base` for the integration tests.

[2019-12-13 21:42] #6235 closed

[2019-12-13 23:02] #6237 closed

[2019-12-13 23:26] wbamberg commented on #6146
This makes it basically impossible to kill macros any more, since given search results like https://wiki.developer.mozilla.org/en-US/search?locale=*&kumascript_macros=Preferences_System_TOC&topic=none we can't see which pages actually call the macros :(.

[2019-12-14 03:05] ghost opened #6245 ""Sign In" grid item on MDN Web Docs Homepage is obscured by Mozilla Logo for Galaxy mobile phones"
On your [MDN Web Docs](https://developer.mozilla.org/en-US/) home page, your "Sign In" grid item is missing the declaration grid-area: L for the .signin-link class. This is especially noticeable when viewing the website using a mobile reponsive smartphone view (Galaxy s9/s9+) with your developer tools and on an actual Galaxy S8.

Sincererly,
Matt
[John 14:6](https://www.biblegateway.com/passage/?s

[2019-12-14 06:51] velusgautam commented on #6245
![homepage-s9](https://user-images.githubusercontent.com/8556085/70844802-2b4d2a00-1e6c-11ea-9e20-621b6de2b08f.jpeg)
I can see the "Sign In" in Galaxy S9 can you share your screenshot.

[2019-12-14 06:53] velusgautam commented on #6239
@s-e1 Can you be more specific about this bug like URL of the page you are referring or screenshot.

[2019-12-14 12:34] iam9g opened #6246 "iibhl.ca Muslim Terrorists Toronto, Canada"
https://docs.google.com/document/d/1e7CdC3AF-A-WiYwTbWnvV1zSPvPjI40uDjpolsyrSyA/edit?usp=drivesdk

  While surfing online, this java page was being used to clean up after Internet pages.
https://docs.google.com/document/d/1pRPZCU7uYQVQfwOiEzT77fmyI5_MA3SzU-kYB51D_bc/edit?usp=drivesdk
Pjax.java
 "I found this when my chrome browser started lagging."  After tapping the back button.  This java appear

[2019-12-14 17:21] s-e1 commented on #6239
Sorry.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence
at the Table section.

[2019-12-14 23:46] matt16v16 commented on #6245
![Screen Shot 2019-12-14 at 18 32 23](https://user-images.githubusercontent.com/58869249/70855940-f3140e80-1ea0-11ea-8b17-ddb72844f684.png)

This screenshot was taken using firefox's responsive design mode with the Galaxy S9/S9+ option. I also confirmed this bug by actually looking at Mozilla Web Docs on a Galaxy S8 today.

Sincerely,
Matt

[2019-12-16 04:59] sirartemis opened #6247 "Problem in the Russian Lessons Javascript Internal"

[2019-12-16 09:02] chrisdavidmills commented on #6239
Fixed. Thanks for reporting!

[2019-12-16 09:02] #6239 closed

[2019-12-16 13:17] ZhiLi1991 opened #6248 "How can i get the firefox tab handle."
I can get one window handle by using syp++.
I want to get the firefox tab handle. Who can help me?
Or how can i listen drag in and out？
Thank you

[2019-12-16 13:28] peterbe commented on #6248
That sounds like a matter of *using* Firefox. Try support.mozilla.org
This repo is about the code behind developer.mozilla.org

[2019-12-16 13:28] #6248 closed

[2019-12-16 14:30] #6246 closed

[2019-12-16 14:47] peterbe commented on #5682
Can we just close this?
In Yari we'll go for the jamstack which means there's no gain at all in anything but long TTLs on the CDN caching. So there we're going to get those 200-400ms for free to boot.
There's clearly lack of interest in making Kuma faster at the moment.

[2019-12-16 14:48] peterbe commented on #5682
Sorry. I meant it as a question. Pressed the wrong button. Considering that this is assigned to @escattone I'll let him decide if it's worth it.

[2019-12-16 14:52] peterbe commented on #6228
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Console

[2019-12-16 14:52] #6228 closed

[2019-12-16 16:11] kdidenko opened #6251 "Russian translated page says it's not translated to Russian yet"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

🤭I have occasionally followed the 🔖bookmark from my handy and suddenly appeared on the 🇷🇺Russian version of the actual article (thought my browser is configured for 🇬🇧 En locale) , which declares itself as it's an English version of th

[2019-12-16 17:09] Gregoor commented on #6107
Fixed in https://github.com/schalkneethling/kuma/pull/3

[2019-12-16 17:10] #6231 closed

[2019-12-16 17:10] tobinmori commented on #6231
moved to #6107. closing.

[2019-12-16 17:17] tobinmori commented on #6245
@malqinneh will add a UX epic as a blocker to this issue.

[2019-12-16 17:34] tobinmori opened #6249 "Spaces changed to non-breaking spaces near edits after using WYSIWYG editor"
https://bugzilla.mozilla.org/show_bug.cgi?id=1600854

[2019-12-16 18:30] tobinmori commented on #6225
Thanks for ticket @caitmuenster, we'll get this out in our next push!

[2019-12-16 20:41] peterbe commented on #6146
Yay! I can reproduce.
<img width="1083" alt="Screen Shot 2019-12-16 at 3 40 14 PM" src="https://user-images.githubusercontent.com/26739/70941418-6ab97900-201a-11ea-8549-0bcb4035267c.png">

I manually picked an uncommon macro and went to a non-en-US page an typed it in in the source and went back to the search (right-most number link on http://wiki.mdn.localhost:8000/en-US/dashboards/macros

[2019-12-17 09:25] schalkneethling commented on #6251
@Gregoor perhaps you can also take a look at this one? Thanks!

[2019-12-17 09:45] schalkneethling commented on #6199
Here is the list of signals I have identified:

- [ ] Track clicks on access menu items
- [ ] Track clicks on main nav links
- [ ] Track clicks on breadcrumb links
- [ ] Track clicks on Sign In

@atopal Do we get signals from clicks on the new table of contents? Also, are we still getting signals from interacting with the custom language selector in the header area?

[2019-12-17 16:53] peterbe opened #6253 "P1 - Switch to async GA tag"
From https://developers.google.com/analytics/devguides/collection/analyticsjs/#alternative_async_tag

*"The alternative async tag below adds support for preloading, which will provide a small performance boost on modern browsers, but can degrade to synchronous loading and execution on IE 9 and older mobile browsers that do not recognize the async script attribute. Only use this tag configuration i

[2019-12-17 17:36] peterbe commented on #6199
Here's what I've found; in the Wiki it triggers a `mdn.analytics.trackEvent` when...

1. You **right-click** on a link in the header sub-menus, a link in the `#nav-access` menu that might not be visible, or any of the links in the breadcrumbs. (independent of further clicks)
2. You **hover, `touchstart`, or focus** on any header-area menu that opens. Including "Technologies", "Tools", your mugshot

[2019-12-17 18:35] #6225 closed

[2019-12-17 18:48] peterbe commented on #6251
I still believe the translation message thing is for @Gregoor to look at but I was curious and looked it up:
[code]

[2019-12-17 19:28] peterbe opened #6255 "_nav-access.scss is included twice"
At the time of writing https://developer.mozilla.org/static/build/styles/react-mdn.6ee517b0c3a5.css looks like this if you pretty-print it:
https://gist.github.com/peterbe/58d13ed197fa5f05fc93def81f432606
(search for `#nav-access {` and you'll see it appears twice)

A tool that minifies won't be able to clean this because the order might matter I suppose.

It's included [here](https://github.com/m

[2019-12-17 19:30] peterbe commented on #6255
`stylelint` has a plugin called [no-duplicate-selectors](https://stylelint.io/user-guide/rules/no-duplicate-selectors) but it doesn't appear to catch this on the combined bundle :(

[2019-12-17 19:33] peterbe commented on #6255
Actually, if you add `"no-duplicate-selectors": true,` to `.stylelintrc` you get 404 of these warnings.

[2019-12-17 19:37] peterbe commented on #6255
By the way, I don't think we ever run `stylelint` on the bundles anyway but it's potentially useful anyway.
I wish there was a SASS tool that can analyze our source files on the the use of includes.

[2019-12-18 00:04] wbamberg opened #6258 "https://wiki.developer.mozilla.org/en-US/docs/with-errors might be broken"
I believe https://wiki.developer.mozilla.org/en-US/docs/with-errors is supposed to list pages that generate exceptions, and is used by us sometimes to find places where people are calling nonexistent macros, or macros with the wrong arguments, or...

But I added a call to a nonexistent macro in https://developer.mozilla.org/en-US/docs/User:wbamberg and it's still reporting zero errors.

I wonder i

[2019-12-18 00:31] 532910 opened #6259 "Value not found in DB! for @page -> size"
https://developer.mozilla.org/en-US/docs/Web/CSS/%40page/size

[code]

[2019-12-18 00:58] escattone commented on #6225
This is done!

[2019-12-18 01:38] limed opened #6260 "T - Add new attachment domains to CSP list"
For context see: https://github.com/mdn/infra/issues/354

Kuma now serves attachments from S3 via cloudfront, which means we will need to update the CSP list for stage and prod to include the attachment domains.

**Acceptance Criteria**
- [ ] The following domains will need to be added to CSP:

- https://media.stage.mdn.mozit.cloud
- https://media.prod.mdn.mozit.cloud

[2019-12-18 04:52] wbamberg commented on #6259
Looks like `size` is missing from https://github.com/mdn/data/blob/master/css/at-rules.json#L290-L315.

[2019-12-18 08:39] chrisdavidmills commented on #6259
Opened a PR to add it: https://github.com/mdn/data/pull/403

[2019-12-18 09:51] schalkneethling commented on #6199
Thanks for digging into this further Peter 🍵

This is wiki only so should not be applicable here no?

Again, not header related and not present on the new front end

[2019-12-18 13:36] peterbe opened #6261 "Site search searches on sidebar"
Look at this search result: https://developer.mozilla.org/en-US/search?q=django
<img width="726" alt="Screen Shot 2019-12-18 at 8 33 39 AM" src="https://user-images.githubusercontent.com/26739/71090488-2096db80-2171-11ea-999b-a92d470687db.png">

It's showing pages that mention "Django" in an "unexpanded" sidebar.
That's not helping. It's misleading and if a particular string is in the sidebar, it'

[2019-12-18 14:38] peterbe commented on #6261
The `content` sent to Elasticsearch is here: https://github.com/mdn/kuma/blob/94b36a861dd0bda3610c936a505af9e92b823df5/kuma/wiki/search.py#L79

[2019-12-18 16:09] caitmuenster commented on #6225
Thank you!

[2019-12-18 16:47] sirartemis opened #6262 "Problem with links in Russian translation pages"
The pages of Russian translations named and saved partialy on English, partialy on Russian.
For this reason navigation between Lessons was broken.
 I change link to page "Learn/JavaScript/Building_blocks/События"
rather "Learn/JavaScript/Building_blocks/Events"
in page "ru/docs/Learn/JavaScript/Building_blocks/Return_values", and link on this page was began to work.
I suggest to change names of pa

[2019-12-18 16:59] sirartemis commented on #6251
Guys!!! I think this is for the same reason that links don't work. Read my issue.

[2019-12-18 21:03] peterbe opened #6264 "Create Lightweight Elasticsearch Dev Instance"
About 60% of the bytes we transfer from MySQL into Elasticsearch is a field called `html_attributes`. Actually, here's a breakdown:
[code]

The only way to search on this `html_attributes` (or `css_classnames` for that matter) is if you find this page: https://developer.mozilla.org/en-US/docs/MDN/Contribute/Tools/Search
but I'm not even sure any of that is working.
https://developer.mozilla.org/en

[2019-12-18 21:08] peterbe commented on #6264
A simple solution would be something like this:

[code]

[2019-12-18 21:28] a2sheppy opened #6265 "Feature regression: "Advanced" search no longer allows query-less search"
Previously, using the advanced search functionality (through the special URLs documented on https://developer.mozilla.org/en-US/docs/MDN/Contribute/Tools/Search) did not require the `q=` term specifying a search term.

This allowed us to do things like use `css_classnames=` to find everywhere a given CSS is used in documentation content, `html_attributes=` to locate every use of a given HTML attri

[2019-12-18 21:30] peterbe commented on #6258
I think that the error message is simply lacking on the read-only site. It's just a matter of there being code in place to display the error. It's actually, for a user, pretty useful and attention-drawing which can explain why you're staring at these strange curly brackets.

[2019-12-18 21:30] peterbe commented on #6258
Works locally. Hmm...
<img width="851" alt="Screen Shot 2019-12-18 at 4 30 13 PM" src="https://user-images.githubusercontent.com/26739/71124834-b7848780-21b3-11ea-8cd7-a92e2a3fec51.png">

[2019-12-18 21:34] peterbe commented on #6258
Aha! The reason it's not working is because the `/with-errors` page relies on [`filter_for_list`](https://github.com/mdn/kuma/blob/94b36a861dd0bda3610c936a505af9e92b823df5/kuma/wiki/managers.py#L22) which, as you can see on line 29 excludes slugs like `User:wbamberg`.

[2019-12-18 21:34] #6258 closed

[2019-12-18 21:47] peterbe opened #6266 "inline style tags appear before <doctype> on homepage"
https://github.com/mdn/kuma/issues/6059 made it so that the home page has a bunch of inline `<link/>` tags before the `<!doctype html>`

See view-source:https://developer.mozilla.org/en-US/
<img width="1046" alt="Screen Shot 2019-12-18 at 4 44 11 PM" src="https://user-images.githubusercontent.com/26739/71125954-f1568d80-21b5-11ea-977c-47d8a1d8b539.png">

Here's the commit:
https://github.com/mdn/k

[2019-12-18 22:24] wbamberg commented on #6258
Thank you for looking into this, Peter, and sorry for the false report :(.

[2019-12-19 08:43] schalkneethling commented on #6266
Nice catch, thanks, Peter. I would not have expected the placement of the line causing to be *before* the doctype though, weird.

[2019-12-19 08:43] #6266 closed

[2019-12-19 22:04] #6261 closed

[2019-12-20 08:41] atopal commented on #6199
@schalkneethling no, we are not getting events for the TOC, nothing from the language selector either.

Btw, it's fairly easy to check whether an event is sent or not, just open the network panel of the dev tools and click on something. The event will show up in the list (or not)

[2019-12-20 13:58] #6025 closed

[2019-12-20 16:00] Gregoor commented on #6251
Thanks for the report and also thanks for the lookup Peter! I'm looking into it now

[2019-12-20 19:56] peterbe opened #6272 "auth modal doesn't respect Esc key"
I'm not a modal expert but it seems counter-intuitive that you can't click anywhere outside the modal to close. Either way, the `Esc` key handler only works if the modal is focused which it won't be unless you click into it.

Also, in Chrome there's a rather ugly blue border for focus on it.
<img width="638" alt="Screen Shot 2019-12-20 at 2 51 49 PM" src="https://user-images.githubusercontent.com/

[2019-12-20 19:59] peterbe commented on #6272
Interestingly, https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/dialog.html doesn't close the model if you click ouside the modal.
I can see the usefulness in that actually. Like, if you've typed a bunch of stuff an accidentally mouseclick outside the modal and it suddenly closes.

However, their example implementation listens for `Esc` on the body rather than the modal.

[2019-12-20 20:03] peterbe opened #6273 "modalDialog is tied to multi-auth"
Nit!

`mdn.modalDialog` is supposed to be generic but it [depends on `multi-auth` being enabled](https://github.com/mdn/kuma/blob/55a1f34e4c33022ada5628b06285e04bfe2c5268/kuma/static/js/components/modal.js#L23).

Move that check over to [auth-modal.js](https://github.com/mdn/kuma/blob/55a1f34e4c33022ada5628b06285e04bfe2c5268/kuma/static/js/components/user-signup/auth-modal.js#L6) instead.

Also, i

[2019-12-20 22:41] escattone commented on #6124
Sorry, although I've started this work, I haven't had the time I need to complete it with everything else that arose during the sprint (e.g, #6235, #6236, and #6237 among others). Can we moved this into the next sprint?

[2019-12-23 10:57] schalkneethling opened #6274 "Should we use the auth modal on mobile?"
@peterbe brought up a point for discussion here  https://github.com/mdn/kuma/pull/6094#pullrequestreview-315193086 around using the auth modal on mobile phones.

My initial thinking was that the benefit of using a modal is largely lost on mobile phones and perhaps, the user experience might be better if we simply send these users on to the dedicated sign-in/up page.

Firstly, I might have been mis

[2019-12-23 11:01] schalkneethling opened #6275 "Load modal javascript as defer"
Currently, the JavaScript for the auth modal is marked as `async`. As @peterbe mentions here https://github.com/mdn/kuma/pull/6094#discussion_r344937847, that is not ideal. To be honest, I believe mentally my intent was to mark this as `defer` and not `async`.

We should update it to be `defer`

[2019-12-23 11:07] schalkneethling commented on #6275
While doing this, we might as well make the following comment in `common.py` more useful:

[code]

[2019-12-23 12:30] peterbe commented on #6274
It should also be noted that we’re sending down JS, HTML, and CSS that even
for desktop browsers is not used 99% of the time because signing in is a
rare thing to do now that session cookies last a long time.

If we had better tools we could use code splitting to avoid that waste.

On Mon, Dec 23, 2019 at 5:57 AM Schalk Neethling <notifications@github.com>
wrote:

--
Peter Bengtsson
Mozilla MDN We

[2019-12-23 14:29] tobinmori commented on #6265
@peterbe is there a workaround for this? maybe a way to allow an explicit None or Null to the 'q' param, something like that?

[2019-12-23 17:22] volter opened #6276 "Grammar issue "nothing happen""
https://media.prod.mdn.mozit.cloud/attachments/2016/08/20/13779/66fccb7016e4c5dd189b35649c2bdd9f/HTTPRevved.png -- "nothing happen" in the second graph should probably read "nothing happens" (Used on https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching)

[2019-12-23 18:22] Developpeur2019 opened #6277 "Problème de connexion"
Bonjour,

Je ,n'arrive pas à me connecter avec mon adresse jules.augustin@gmail.com

Que puis-je faire ?

Cdt,

Jules

[2019-12-23 19:32] peterbe opened #6278 "There are some weird redirects in our database"
Here's just one example:
[code]

Redirects in Kuma is determined by 2 fields in the database model: `is_redirect` (integer 0 or 1) and `html`.
If the document has a `is_direct==1` it parses the `html` (in runtime, every time!) and redirects based on what it finds in there. For example, the example above, when deconstructed in the Django shell:
[code]

There are **thousands** of these documents.
~~

[2019-12-23 19:39] peterbe commented on #6278
@a2sheppy @chrisdavidmills @wbamberg  Perhaps you can add some wisdom and history to these and perhaps some thoughts about what it would/should mean as we're trying to port these away from MySQL.

[2019-12-23 21:22] peterbe commented on #6275
I would elevate the priority on this because it's disruptive in local development.
In local development you end up with this:
[code]
but those two files are not "thread-safe". Periodically (easy to reproduce by refreshing a couple of times) you'll get it that `/auth-modal.js` executes BEFORE `/moda.js` and then you get this:
<img width="524" alt="Screen Shot 2019-12-23 at 3 07 00 PM" src="https://

[2019-12-23 21:35] sirartemis commented on #6251
![screenshot-wiki developer mozilla org-2019 12 24-02_55_02](https://user-images.githubusercontent.com/24634762/71381600-5834d600-25fe-11ea-80cf-d5d3e30003b9.png)
![screenshot-wiki developer mozilla org-2019 12 24-02_58_27](https://user-images.githubusercontent.com/24634762/71381608-608d1100-25fe-11ea-9b23-2e185020cf7d.png)

[2019-12-23 21:37] peterbe opened #6279 "Help remember how you logged in last time"
[Modal or not](https://github.com/mdn/kuma/issues/6274), when presenting the sign-in provider choices it's really hard to remember which one you're supposed to use.
<img width="436" alt="Screen Shot 2019-12-23 at 4 31 27 PM" src="https://user-images.githubusercontent.com/26739/71381650-5ccba100-25a2-11ea-849e-af306c5b93bd.png">

If a user account has the same email in either provider it doesn't re

[2019-12-23 21:50] peterbe commented on #6274
Let's start with what's ideal?
* As a user, you click "Sign in" and the options "GitHub or Google?" is presented quickly.
* When I'm not clicking "Sign in" the pages should have to be bloated unnecessarily.
* I might prefer to sign in a new tab and not lose the page I'm on so I might right-click ("Open in a new tab") or hold-down click on mobile.
* The modal should look similar to the sign in land

[2019-12-23 21:54] peterbe opened #6280 "Multi-auth link loses the locale"
See https://github.com/mdn/kuma/blob/42cb1296be557401553b1abd090b56e4f4634491/kuma/javascript/src/header/login.jsx#L69
It links to `/users/account/signup-landing` which causes a redirect to `/en-US/users/account/signup-landing` (for me).

[2019-12-25 16:57] Tsatsraa opened #6282 "lem"

[2019-12-25 16:57] #6282 closed

[2019-12-26 14:10] tobinmori commented on #6124
Yes, it can @escattone! This is lower priority so moving it over is fine.

[2019-12-27 13:00] peterbe commented on #6265
Not that I know of, no.

I don't think it'd be hard to enable searching on these things without a `q`. The code that checks that `q` is truthy just needs to be moved to the view that's used by https://developer.mozilla.org/en-US/search instead of https://developer.mozilla.org/api/v1/search/en-US

[2019-12-27 13:01] #6276 closed

[2019-12-27 13:01] peterbe commented on #6276
Issue moved to [mdn/sprints #2618](https://github.com/mdn/sprints/issues/2618) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-27 13:02] peterbe commented on #6277
Do you get an error message when you try to log in?

[2019-12-27 13:11] krosoftware opened #6285 "Possible bug"
Hello
if setting HR locale, like this:
[code]

it display 20. 11. 2012.
and correct is
20.11.2012
(no spaces after dots, no dot after year).
Thank you.

[2019-12-27 15:35] #6275 closed

[2019-12-27 15:48] peterbe commented on #6283
These are all server-side events and aggregates.
If we're going to use Google Analytics as the reporting UI, we should implement [Measurement Protocol](https://developers.google.com/analytics/devguides/collection/protocol/v1) and there are what appears to be some decent Python libraries for that. E.g. https://github.com/mirumee/google-measurement-protocol

I think aggregates belongs in the reporti

[2019-12-27 15:50] #6199 closed

[2019-12-27 15:56] peterbe opened #6286 "Search results very different in wiki vs read-only on zh-CN searches"
Originally from: https://bugzilla.mozilla.org/show_bug.cgi?id=1605834

https://developer.mozilla.org/zh-CN/search?q=%E7%AE%AD%E5%A4%B4%E5%87%BD%E6%95%B0 - **2 results**
<img width="1135" alt="Screen Shot 2019-12-27 at 10 56 31 AM" src="https://user-images.githubusercontent.com/26739/71523556-9567c500-2897-11ea-86cc-5d3f657ecd27.png">

https://wiki.developer.mozilla.org/zh-CN/search?q=%E7%AE%AD%E5%

[2019-12-27 16:00] peterbe opened #6287 "NoReverseMatch 'allauth.socialaccount.views.ConnectionsView'"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6940652/

[code]

[2019-12-27 16:06] peterbe commented on #6287
These kinds of errors are practically impossible to reproduce locally.

I've seen variations of this crash in the past so I don't think it's new. I also speculate that it might be related to network errors related to talking to GitHub. And I think landing https://github.com/mdn/kuma/pull/5424 will help to prevent even getting there.

In this Sentry entry it's only happened once but I don't think t

[2019-12-27 16:52] peterbe opened #6288 "What's an "MDN profile"?"
<img width="1083" alt="Screen Shot 2019-12-27 at 11 48 40 AM" src="https://user-images.githubusercontent.com/26739/71525293-06f74180-289f-11ea-82e7-1be315f5d8a1.png">

That second sentence has two flaws:

1. There's a new term being added: "profile". The first line and the page's headline talks about "MDN account" which is a word that makes sense. Introducing this second term I think is just addin

[2019-12-27 16:53] peterbe commented on #6288
Here's what it would look like if plainly removed:
<img width="1127" alt="Screen Shot 2019-12-27 at 11 52 46 AM" src="https://user-images.githubusercontent.com/26739/71525396-75d49a80-289f-11ea-8148-9adab6a1633a.png">

[2019-12-27 16:54] peterbe commented on #6288
@atopal @malqinneh  say the word and I'll fix it :)

[2019-12-27 17:05] peterbe commented on #6285
Firefox 73.0a1
<img width="493" alt="Screen Shot 2019-12-27 at 12 04 07 PM" src="https://user-images.githubusercontent.com/26739/71525720-0d86b880-28a1-11ea-8bd2-a9f959d21f25.png">

Chrome 79
<img width="453" alt="Screen Shot 2019-12-27 at 12 04 45 PM" src="https://user-images.githubusercontent.com/26739/71525741-242d0f80-28a1-11ea-953b-b3f7c9942d1e.png">

[2019-12-27 17:06] peterbe commented on #6285
How or where do you get/see "20.11.2012" by the way?

[2019-12-27 17:13] peterbe opened #6290 "node-sass can't be installed on Node 13"
Yes, we use docker for most things but some things we're doing with the host such as running `jest`, `npx flow`, or `npm run webpack:dev`. All of these use the *host* 's `node_modules`.

But as of Node 13 (which is what you get if you have Node installed from Homebrew on macOS) you can no longer run `npm run install` in the root directory of kuma.

We're currently pinning version [4.12.0](https://

[2019-12-27 18:42] krosoftware commented on #6285
OK when I execute
  const date = new Date();
  console.log(new Intl.DateTimeFormat('hr-HR').format(date));
I see this:
![Annotation 2019-12-27 193937](https://user-images.githubusercontent.com/8056218/71528612-f962ab80-28e0-11ea-8949-5b9f5b3fc3d7.png)
and I expect this:
27.12.2019
Thank you.

[2019-12-27 19:03] peterbe commented on #6285
Why do you expect `27.12.2019`? Personal preference or do you have a reason to believe the browsers have it wrong?
Also, what's the connection of this to MDN? Aka. https://developer.mozilla.org

[2019-12-28 07:22] krosoftware commented on #6285
Date format in Croatia is 27.12.2019 and not 27. 12. 2019.
so I expect date without spaces and without dot after year. I'm using [Framework7](https://framework7.io/docs/calendar.html) and they explained they use Intl for date.
Thank you.

[2019-12-28 10:15] #6280 closed

[2019-12-28 10:17] #6290 closed

[2019-12-29 21:24] k5nwa opened #6292 "Problem with importing passwords from the Chrome Browser"
In Windows 10 Firefox V 70 will not import passwords from Chrome, out of 447 bookmark/passwords it only imports about 2 dozen or so.

In Linux, the option to select the importing of passwords is not even present.

I'm trying to migrate from Chrome to Firefox but the lack of so many passwords makes it impractical to switch at this time.

Thanks

Cecil Bayona
cbayona@cbayona.com

[2019-12-30 09:05] #6035 closed

[2019-12-30 09:06] #6008 closed

[2019-12-30 18:04] jmswisher commented on #6163
Sorry I'm late to this party. How does the proposed solution come across to a screen reader?

[2019-12-30 23:35] peterbe commented on #6285
If that’s the correct formatting for Croatian, then I really hope you
manage to file bugs on Chromium and Firefox so it can get fixed there.
MDN is a documentation site and we try to document what has been
implemented even if it might be wrong.

Let’s close *this* issue and good luck filing it against the browsers’ bug
trackers.

On Sat, Dec 28, 2019 at 2:22 AM krosoftware <notifications@github.co

[2019-12-31 08:36] schalkneethling commented on #6163
The link has a `title` attribute that states `Page has not yet been created.`. We probably want to duplicate that as an `aria-label` so it overrides whatever text is inside the anchor element. What do you think @jmswisher?

[2019-12-31 13:15] peterbe commented on #6292
I'm sorry to hear that. Go to https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=General and file a bug against Firefox.
This repo here is about MDN the website https://developer.mozilla.org.
Good luck!!

[2019-12-31 13:15] #6292 closed

[2019-12-31 15:38] #6285 closed

[2019-12-31 15:45] tobinmori commented on #6288
Good point @peterbe.

+1 that Account vs Profile is a fine line, implying varied uses. I think of Accts as tied to a single login, whereas Profiles are indicative of 1+ types of user usage. E.g. Netflix - you can have one login tied to several profiles.

I think it makee sense to stick to the word Account, unless we're planning on rolling out something like Netflix profiles (which I doubt we are!)

[2019-12-31 16:07] peterbe commented on #6288
I'm vaguely pointing out two somewhat related things:

1. The user might be unnecessarily confused and slowed down having to parse and comprehend the difference between an "account" and a "profile".
2. The less text, the better. Especially since that sentence I pointed out sounds like a chore too.

[2019-12-31 16:12] malqinneh commented on #6288
It's common knowledge that without an account; [signing in] would/should
prompt users to create an account. Your suggestion to remove that
additional sentence makes sense to me Peter.

On Tue., Dec. 31, 2019, 11:07 a.m. Peter Bengtsson, <
notifications@github.com> wrote:

[2019-12-31 19:20] peterbe opened #6293 "Still linking to Bugzilla in content"
See https://developer.mozilla.org/en-US/docs/MDN/Contribute/Howto/Report_a_problem
It links to https://bugzilla.mozilla.org/form.mdn when it should link to GitHub new issue.

[2019-12-31 19:24] peterbe commented on #6293
The correct link is https://github.com/mdn/kuma/issues/new and I just [edited it](https://wiki.developer.mozilla.org/en-US/docs/MDN/Contribute/Howto/Report_a_problem$history).

[2019-12-31 19:24] #6293 closed

[2019-12-31 19:33] peterbe opened #6294 "Auth login modal appearing for signed in users"
Originally from: https://bugzilla.mozilla.org/show_bug.cgi?id=1605805

The screenshot they shared wasn't working in Firefox but I managed to open it in Chrome and took a screenshot of the screenshot 🙃
<img width="1468" alt="Screen Shot 2019-12-31 at 2 17 33 PM" src="https://user-images.githubusercontent.com/26739/71631762-6b383f00-2bd8-11ea-807a-16f708d6de86.png">

There's a lot going on here. I d

[2019-12-31 21:20] peterbe opened #6295 "Auth modal focus isn't working on Tab key"
You have to have `MULTI_AUTH_ENABLED=true` first. Then click "Sign in".
Press `Tab` on your keyboard and notice how the "close icon" becomes focussed:
<img width="434" alt="Screen Shot 2019-12-31 at 4 18 12 PM" src="https://user-images.githubusercontent.com/26739/71634345-426c7580-2be9-11ea-9eb3-cccfeb93b27d.png">

Press Tab again and now the GItHub button is focussed:
<img width="476" alt="Screen

[2019-12-31 21:21] peterbe commented on #6295
Uh? This is behaving differently in Chrome. Clearly something's buggy.

[2019-12-31 21:27] peterbe commented on #6272
@tobinmori I disagree that this is a p5. It's very counter-intuitive that the modal doesn't disappear when you press Escape. Marked as a p5 it's very low chance that it gets done.
Therefore: https://github.com/mdn/kuma/pull/6296

[2019-12-31 21:53] peterbe opened #6297 "signin_landing() view has no tests"
The `kuma.users.views.signin_landing` view function is never run in any of the tests. That makes it impossible to refactor it with confidence.

[2019-12-31 21:54] peterbe commented on #6297
It was https://github.com/mdn/kuma/pull/6094 that added it so perhaps @Gregoor or @schalkneethling feel inclined to own this one whilst it's still almost simmering in your short-term memory.

[2020-01-01 08:29] schalkneethling commented on #6294
Thanks for logging this and looking into it. I suspect as they are not getting the base CSS the `hidden` class is not available either and thus the modal shows up. Interesting that the modal CSS does load ¯\_(ツ)_/¯

This brings up another point though. Do we know on the frontend that someone is logged in? I know the whoami component knows but does the rest of the Jinja template know? If so, it wou

[2020-01-01 13:22] peterbe commented on #6294
So, if the CSS is failing for some reason, the modal appears. A bit weird, but an explanation.
If I block CSS (using the DevTools) I get a very very different look.
Either way, it's got to be related to some particular configuration of uBlock Origin.

[2020-01-01 13:25] peterbe commented on #6294
The jinja template (aka. the jinja template context) is *always* anonymous.
If we knew the user was logged in, in the jinja context, we'd be able to do:
[code]
but it'd never be an option.

[2020-01-01 13:26] peterbe commented on #6294
I only just see problems with the modal. It's rarely used or needed and it's adding a bunch of JS, CSS, and HTML to every page.

[2020-01-01 14:58] schalkneethling commented on #6294
Yup, agreed. It seems like it is causing way more problems than it is solving. I reckon we should stick to just using the new login landing page.

[2020-01-02 09:02] krosoftware commented on #6285
Hello, I'm not sure what I need to do?
Thank you.

[2020-01-02 13:07] tobinmori commented on #6285
Hi Krosoftware,

It looks like you are reporting an issue with the JS implementation of DateFormatting.

MDN is a web documentation website, we do not implement the JS for browsers.

If you want to report this issue, I'd suggest doing so at the browser vendors' website.

Thanks.

[2020-01-02 13:30] tobinmori commented on #6272
fair enough @peterbe. made it a p3.

[2020-01-02 13:41] EstevesDiogo opened #6299 "Web page code examples from prism are broken on last production build"
<img width="1792" alt="Screenshot 2020-01-02 at 13 40 44" src="https://user-images.githubusercontent.com/34245953/71669719-92704700-2d65-11ea-9154-86d4e6680a5c.png">
<img width="1792" alt="Screenshot 2020-01-02 at 13 40 51" src="https://user-images.githubusercontent.com/34245953/71669720-92704700-2d65-11ea-9136-6c601f448886.png">
<img width="1792" alt="Screenshot 2020-01-02 at 13 41 01" src="https

[2020-01-02 13:41] dgesteves opened #6310 "Web page code examples from prism are broken on last production build"
<img width="1792" alt="Screenshot 2020-01-02 at 13 40 44" src="https://user-images.githubusercontent.com/34245953/71669719-92704700-2d65-11ea-9154-86d4e6680a5c.png">
<img width="1792" alt="Screenshot 2020-01-02 at 13 40 51" src="https://user-images.githubusercontent.com/34245953/71669720-92704700-2d65-11ea-9136-6c601f448886.png">
<img width="1792" alt="Screenshot 2020-01-02 at 13 41 01" src="https

[2020-01-02 14:32] peterbe commented on #6299
@schalkneethling I've seen that too. Do you know what it could be?

By the way:
**Firefox Nightly**
<img width="849" alt="Screen Shot 2020-01-02 at 9 30 57 AM" src="https://user-images.githubusercontent.com/26739/71671982-a8b8db80-2d42-11ea-8568-90ab4b16dc45.png">

**Chrome 79**
<img width="1012" alt="Screen Shot 2020-01-02 at 9 31 38 AM" src="https://user-images.githubusercontent.com/26739/716720

[2020-01-02 15:02] peterbe commented on #6210
Once we're in Yari, this'll be a super search `sed` trip across the repo of content and it would be gone.

Moot when we're in Yari since the files will just sit in the repo as regular files. If you want to see the history of a file it's just regular git commit history.

[2020-01-02 15:24] peterbe commented on #6264
For the record, this is what the doc can look like that gets sent from `kuma/wiki/search.py` over to ES: https://gist.github.com/peterbe/99fce14a96d51bb0728563acb3d1756a

[2020-01-03 07:16] krosoftware commented on #6285
OK thank you.

[2020-01-03 15:02] tobinmori commented on #6206
Sounds like we're unsure if this can just be pure backend functionality (w/o need for an API endpoint). So we'll wait until we have a clearer understanding on this from @schalkneethling

[2020-01-03 15:48] peterbe commented on #6206
@schalkneethling What Tobin said. Can you make this issue blocked by whichever issue implements the new UI?
I'd suggest we implement the new UI, behind a env var, and land it in master and make it fail on the actual deletion. Then I'll take over from there.

[2020-01-03 18:20] peterbe commented on #5754
I'm wondering if it's better to go around this problem altogether. The whole filtering stuff is just weird and bad. It's confusing how to use it, annoying to have to figure out if you're missing out, causes slow redirects, and takes up space. It's supposed to be like an advanced search but it looks like a aggregate/filter thing like Amazon.com uses (on the left) where you can reduce your matches b

[2020-01-03 21:32] HALLneufmilles opened #6302 "mistake code in a course"
Hello!
one mistake at this page:
https://developer.mozilla.org/fr/docs/Learn/JavaScript/First_steps/What_is_JavaScript

<script src="script.js" async></script>

replace async by defer.

Thanks.

[2020-01-04 11:44] chrisdavidmills commented on #6302
Fixed!

We've got it set as `defer` in the English version ;-)

[2020-01-04 11:44] #6302 closed

[2020-01-04 18:33] HALLneufmilles commented on #6302
Hello,

I m french, will you fixe it on the french version?

best regards

Le sam. 4 janv. 2020 à 12:44, Chris Mills <notifications@github.com> a
écrit :

[2020-01-05 07:54] krosoftware commented on #6285
Hello @peterbe, Hello All
Where should I report for the problem, please?
Thank you.

[2020-01-05 14:24] chrisdavidmills commented on #6302
Sorry for the confusion - I did fix it in the French version; I meant that it  was already correct in the English version, but now I've fixed in the French versiontooo.

[2020-01-05 15:55] HALLneufmilles commented on #6302
Thanks ! :)

Le dim. 5 janv. 2020 à 15:24, Chris Mills <notifications@github.com> a
écrit :

[2020-01-05 16:00] HALLneufmilles opened #6303 "menu problem"
Hello,
Looking at this page for exemple:
https://developer.mozilla.org/fr/docs/Learn/JavaScript/First_steps/What_went_wrong

the link in red color doesn' match withe web page display.

It's difficlte to know where we are in the courses curiculum.

Thanks in advance.

[2020-01-06 05:07] schalkneethling commented on #6272
Yup, this has bitten me many times on some sites. :)

Makes sense, although, when the modal is opened the focus is also moved to the modal so, the `Esc` key should always work. I would not be opposed to changing it to listening on the body though.

[2020-01-06 08:44] schalkneethling commented on #6026
I started working on this and I am running into some problems. I am hoping it is merely config related so, here goes.

First off, I have the following in my `.env`

[code]

I have the following in my `hosts` file:

[code]

For both Github and Google auth I have the URL and callback configured as something like this:

[code]

Now, when I sign in with Github using `http://localhost.org:8000/` all se

[2020-01-06 08:46] schalkneethling commented on #6026
Some, who knows maybe even all, of this might be related to the fact that we are not using the new header with the `whoami` sign in component.

[2020-01-06 13:17] peterbe commented on #6285
For Firefox, you can start with https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox
Perhaps once that's been triaged and confirmed, you can use that bug when you're filing a similar bug for Chrome.

[2020-01-06 16:16] tobinmori commented on #6206
@peterbe sounds like we won't need an API endpoint for this. Sorry for the false alarm. We will need just a Django object delete, though.

[2020-01-06 16:17] peterbe commented on #6272
Not true. After it has opened, click anywhere outside the modal, which isn't unrealistic. Now you can't close it by escape any more.
I know it's a bit counter-intuitive. If you've clicked outside the modal, it's the user's fault for not having the right focus. But the reality is that a modal is a bit like a pop-up or a banner announcement and the instinct is that Escape should kill it.
Browsers ge

[2020-01-06 16:20] tobinmori commented on #6026
@Gregoor I've co-assigned this to you, as we may have a bug here. Can you check out what Schalk mentioned above?

[2020-01-06 16:25] peterbe commented on #6026
I'm confident it's due to `django-allauth` swallowing an error and treating it as "The login failed".
I wouldn't be opposed to rewriting our authentication and authorization entirely. `django-allauth` 's goal in life is to support all the things and try to make it easy for people to get up and running. But it's a leaky abstraction. We already have our own custom overrides and subclasses. These thi

[2020-01-06 16:31] peterbe commented on #6206
Not going to close the issue though because when we're in Yari there is no Django any more (only JSON APIs). That day we're going to need it but I don't like the thought of building an API just for the sake of building it. So let's leave this open an unassign it.

[2020-01-06 17:16] #6294 closed

[2020-01-06 17:23] atopal commented on #6288
Yes, let's go ahead and limit wording to account instead of profile.

[2020-01-06 17:30] malqinneh commented on #6288
@peterbe @atopal

"Sign in to enjoy the benefits of an MDN account. If you haven't already created an account, you will be prompted to do so after signing in."

Does the above copy resolve the issue?

[2020-01-06 17:49] tobinmori commented on #6274
Conclusion:
- keep modal for desktop (assuming minimal perf impact)
- we won't support a modal for mobile as of now

[2020-01-06 17:49] #6274 closed

[2020-01-06 18:53] tobinmori commented on #6260
@callahad is this something you can add?

[2020-01-06 19:31] #5981 closed

[2020-01-06 20:24] peterbe opened #6305 "Should we use a modal for Sign in/up?"
Once multi-auth is enabled, clicking "Sign in" will cause a modal window to appear.

<img width="589" alt="Screen Shot 2020-01-06 at 1 05 38 PM" src="https://user-images.githubusercontent.com/26739/71845622-b64dc880-3096-11ea-88bb-5f530d59c206.png">

There are definitely disadvantages with this, the primary one being performance.

See https://github.com/mdn/kuma/pull/6094#pullrequestreview-3151930

[2020-01-06 20:26] peterbe commented on #6024
As agreed, instead of a new issue about what was missed, I should have just reopened this one.

See https://github.com/mdn/kuma/issues/6297

[2020-01-06 20:26] peterbe commented on #6297
Actually, instead of this issue, I re-opened the original one: https://github.com/mdn/kuma/issues/6024

[2020-01-06 20:26] #6297 closed

[2020-01-06 22:00] tobinmori opened #6306 "Yari 1 Renderer Prototype"
There are more unknowns here than the Github file structure (and other mitigations), so this should probably be investigated first.

There are may or may not be more complexity here than we realize and determining the feasibility of this is very important.

Main question: How hard will it be to write a standalone command to output a full rendered page head/body/footer?

Macro rendered HTML (post-K

[2020-01-06 22:58] wbamberg opened #6307 "interactive examples are broken (empty) on "open in new tab""
**UPDATE (Jan 10, peterbe)**
Let's make this issue exclusively about the JavaScript `TypeError` that only happens when using "open in new tab". The problem with the line number gutter is for #6310.

---

* Visit a page, say: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

* Right-click a link to a docs page from the sidebar, say https://developer.mozilla.or

[2020-01-07 00:14] escattone commented on #6026
@schalkneethling There are a few inconsistencies in your `.env` file. The following need to be changed:
[code]

Also:
- Confirm, via the Django admin console, that site ID 3 is `localhost.org:8000`
- Ensure that your GitHub and Google social applications have `localhost.org:8000` among their selected sites (it should be highlighted in the `Sites` section of each social application), for example:
<

[2020-01-07 09:15] schalkneethling commented on #6026
Thanks, @escattone! Let me give these a go. One of the problems I had though was that I could not access the Django admin ;p Perhaps the inconsistencies in `.env` will resolve that.

[2020-01-07 09:26] schalkneethling commented on #6026
@escattone The changes to `.env` worked!

So, here are the `.env` entries that need to be present and be exactly as below:

[code]

Then under http://localhost.org:8000/admin/socialaccount/socialapp/ there should be two entries, which should have the following settings:

### Google

![Screenshot 2020-01-07 at 11 22 53](https://user-images.githubusercontent.com/10350960/71884166-73e0c600-3140-11ea-

[2020-01-07 11:26] schalkneethling commented on #6026
I have restarted work on this but I believe I ran into another problem 😞

From what I can tell the `User` for the `edit_profile` page is a generic `User` object and does not know much about the authentication aspects. There is a property called `socialaccount_set` but this contains *all* social accounts the user has been authenticated with.

Inside the `edit_profile` page we use a function called

[2020-01-07 13:20] peterbe opened #6308 "Message about translation status differ in wiki vs read-only"
**Summary**
Compare https://developer.mozilla.org/de/docs/Web/HTML/Element/form and https://wiki.developer.mozilla.org/de/docs/Web/HTML/Element/form

On the read-only, it says:

*"You are reading the English version of this content because there is no translation for this locale yet. Help us translate this article!"*

But clearly the text is in German.

On the wiki it says:

*"This translation is

[2020-01-07 15:03] tobinmori commented on #6310
@atopal can you let me know the priority of this one?

[2020-01-07 15:13] peterbe commented on #6307
I can't reproduce. In either browser. It seems sporadic. Perhaps there's some other JS error that's blocking something. Are you saying it's only happening after it has been opened in a new tab? If you can reproduce it, can you open the Web Console and share what it says. Or the Browser Console even?

I have a vague theory. We have a bunch of badly configured JS that's set to execute `async` which

[2020-01-07 15:25] peterbe commented on #6307
Possibly related: https://bugzilla.mozilla.org/show_bug.cgi?id=1607442

[2020-01-07 15:30] peterbe commented on #6026
All of the problems learned from this needs to be put into `configure_social_auth`.
I'm happy to do the coding if you can extract, from the comments above, what actual mistakes happened that a computer could have figured out. Please please file and issue, detailing what went wrong, and I'll turn it into code.

[2020-01-07 16:43] peterbe commented on #6310
What the heck. Now it works! 🙃
<img width="1560" alt="Screen Shot 2020-01-07 at 11 42 16 AM" src="https://user-images.githubusercontent.com/26739/71912038-ce7b2180-3142-11ea-9aaa-693abebee7de.png">

I'm confident that there hasn't been a Kuma release since. And my Chrome is still version 79.

[2020-01-07 19:15] tobinmori commented on #6071
Hi @schalkneethling, a couple questions for you:

- re: status. is this currently still waiting to be done?
- is this still blocked by the sign-in landing page issue?

[2020-01-07 19:48] atopal commented on #6283
@peterbe just seeing this comment now. Can you tell what you mean by aggregates? I don't expect anything other than atomic events, GA is the platform that would answer the question "how many?"

[2020-01-07 20:03] tobinmori commented on #6310
@EstevesDiogo - is this working for you?

Thanks!

[2020-01-07 20:06] tobinmori commented on #6026
@schalkneethling can you list the errs you hit then i can create an issue for this?

[2020-01-07 20:07] peterbe commented on #6283
I phrased myself poorly I see now. These are all individual events that all lead up to being able to do aggregates. Like, of course they are. I'll make sure we're *sending* these individual events and then we can join forces to look into GA to make sure we can answer all the questions.

[2020-01-07 20:08] tobinmori commented on #6206
Moved it out of the sprint backlog.

[2020-01-07 20:15] tobinmori commented on #6107
@Gregoor can we close this one?

[2020-01-07 20:56] tobinmori commented on #5798
Can i close this one out @callahad?

[2020-01-07 21:00] #5798 closed

[2020-01-07 21:23] AlexandrGerasimenko opened #6312 "Опечатка"
https://prnt.sc/qkk935

[2020-01-07 22:06] peterbe commented on #6312
Can you describe what the problem is @AlexandrGerasimenko ?

[2020-01-08 01:01] escattone commented on #6026
@schalkneethling Good questions! As far as I know, the social OAuth provider used for the login/sign-in is only available via the `session` object, so for example:
[code]

Currently, as you already know, we assume that only one avatar will be used for a user, the one associated with the social provider first used for signup (as the [`get_avatar_url` function](https://github.com/mdn/kuma/blob/d8df3

[2020-01-08 01:14] escattone commented on #6026
@schalkneethling

Wow, that's really unexpected and worrying. We'll have to look into that more.

[2020-01-08 01:48] escattone commented on #6306
### User Story
We need to determine the feasibility/complexity of converting the current front-end code (all of the current Sass, CSS, and JS, as compiled and bundled by `django-pipeline`, as well as the document Jinja template that wraps a React SSR call) into a stand-alone CLI that takes the file-based raw HTML for each document as input and produces finished HTML (i.e., including the header and

[2020-01-08 04:17] #6089 closed

[2020-01-08 04:26] AlexandrGerasimenko commented on #6312
Write word -"методи", but we can see "меоди".
It's typo.

[2020-01-08 09:23] Gregoor commented on #6308
Indeed, #6271 should fix it and I believe this issue to be a duplicate of #6251

[2020-01-08 09:26] Gregoor commented on #6107
Oh yup, should've done that already!

[2020-01-08 09:26] #6107 closed

[2020-01-08 10:11] schalkneethling commented on #6310
I can also confirm that this works for me in Fx-Dev, Fx, Chrome and Safari

[2020-01-08 10:20] #6272 closed

[2020-01-08 10:20] #6273 closed

[2020-01-08 10:52] schalkneethling commented on #6071
This is ready to move to Ready for Dev. One question I have is, while I am in there in the weeds of the edit profile view, why not go ahead and start cleaning up?

There are a *lot* of fields we know we will not be using going forward so, the sooner we start cleaning up the better i.e. follow on work will be much quicker.

I can also then take care of removing jQueryUI, added the React-based heade

[2020-01-08 11:04] schalkneethling commented on #6295
@peterbe Tested in Chrome and Safari and works as expected. To get Firefox to behave similarly you need to do the following:

1. Open System Preferences
2. Click on Keyboard > Shortcuts
3. Check the box labeled "Use keyboard navigation to move focus..."
4. I believe you then need to restart Firefox

![Screenshot 2020-01-08 at 12 57 14](https://user-images.githubusercontent.com/10350960/71973318-58

[2020-01-08 11:04] #6295 closed

[2020-01-08 11:07] schalkneethling commented on #6026
Hmmm, then I am thinking we should remove the text below the avatar on edit-profile because it does not seem like there is going to be a way to know from which provider the avatar was pulled, and thus we will not know where to direct them to change it. Thoughts @atopal?

[2020-01-08 11:14] schalkneethling commented on #6026
Indeed. But note, the screenshot from before is for the social accounts page. As @peterbe mentioned, that is not the main `User` object that is stored and used for say edit-profile.

With that said, the username for the main `User` object is `mdnwebdocs-tester` and the chosen username when I signed-in/up with Google was also `mdnwebdocs-tester` so, perhaps the code should have picked this up and p

[2020-01-08 12:41] atopal commented on #6310
I've seen that before when we were experimenting with inline CSS. It seems like some CSS is missing. @tobinmori this is the top priority, if anyone can reproduce. It's the most visible feature on MDN.

[2020-01-08 12:44] atopal commented on #6310
I wanted to check when this broke and the page load waterfall on Speedcurve, but it seems like the last recorded deployment was on December 19. Is that correct?

[2020-01-08 12:51] atopal commented on #6310
Weird thing is that this doesn't show up in Speedcurve tests over the last few days (only testing in Chrome though). It seems to be an intermittent issue, so it could still be happening. Do we have any error logging that would help to see if anything has spiked?

[2020-01-08 13:42] peterbe commented on #6312
MDN is a user-contributed Wiki. Anybody can contribute content. All you need is a GitHub account (which you clearly have 😺 ) and then you sign in and click the "Edit in Wiki" ("Редактировать в вики") and then you'll be able to correct the typo.
Generally, *this* GitHub repo is for the code that powers that ability to edit content.
Good luck and welcome to the community!

[2020-01-08 13:42] #6312 closed

[2020-01-08 14:19] atopal commented on #6026
Let's drop this feature. We can come back to it when it turns out people don't know how to change it.

[2020-01-08 15:03] schalkneethling commented on #6310
If it is some CSS not loading, which is surely what it looks like, then it is happening on the sub-domain(interactive-examples.mdn.mozilla.net) and not the main d.m.o domain so, not sure what logging we have there.

[2020-01-08 15:04] schalkneethling commented on #6026
Sounds good. I will amend the issue and open a PR.

[2020-01-08 15:24] tobinmori commented on #6071
I'm all for cleanup @schalkneethling!

Let me defer this to @atopal.  Are you ok with this? (as it might delay this task a bit, but mean faster movement later. . .)

[2020-01-08 15:27] tobinmori commented on #6026
@schalkneethling @escattone @atopal - I definitely think we should be bar any duplicate usernames.
Shall I open a ticket for this?

I checked my copy of the DB (a couple months old) - and it seems like this hasn't happened in the past, and probably something we don't want to happen going forward.

[2020-01-08 15:36] tobinmori commented on #6071
The other thing that we discussed @schalkneethling yesterday is that the existing design for the user deletion needs to be revamped. Let's talk about that when you have a chance.

[2020-01-08 15:47] tobinmori commented on #6147
This is currently blocked by our lack of a SF instance:
https://bugzilla.mozilla.org/show_bug.cgi?id=1562678

Workaround:
Create a flag in the DB that indicates that a user has opted in to email subscription.

[2020-01-08 15:49] tobinmori commented on #5792
This is currently blocked by our lack of a SF instance:
https://bugzilla.mozilla.org/show_bug.cgi?id=1562678

Workaround:
Create a flag in the DB that indicates that a user has opted in to email subscription.

[2020-01-08 15:51] tobinmori commented on #6147
Closing this until we have an SF instance ready to go.

[2020-01-08 16:33] HALLneufmilles opened #6315 "JS Array exercise pb"
Hello,

page:
https://developer.mozilla.org/fr/docs/Learn/JavaScript/First_steps/tableaux
exercise: Display product.

This Iframe with exercice doesn't work. I did it several time and check but still doesn't work.
Could you please check what is the probleme. I am sur this is not due to my code.
Find attached my code that strictly the same as solution.
![Array Exercise](https://user-images.githubus

[2020-01-08 17:11] peterbe commented on #6308
Let's hope! I put in an extra "Fixes ..." on https://github.com/mdn/kuma/pull/6271

[2020-01-08 17:19] tobinmori commented on #6173
@callahad can you give a ballpark estimate on this one? (e.g. roughly, how many weeks/sprints you think this will take?)

[2020-01-08 17:30] tobinmori commented on #6071
@atopal to test out existing functionality and verify whether to keep it, or update it.

[2020-01-08 17:35] tobinmori opened #6316 "Profile Page Cleanup"

[2020-01-08 17:47] peterbe commented on #6316
Should we really bother filing this? Especially as an epic.

What's coming is that we're going to do away with profiles anyway. (No more "This is my LinkedIn URL") It definitely seems like there's a strong concensus based on the early sketches that Mustafa is pondering. In those sketches, there'll be a Settings page. Only. And sub-pages within there (e.g. Subscriptions, Newsletter, Delete Account,

[2020-01-08 19:09] tobinmori commented on #5792
@atopal can you send me and @Gregoor the contact info for SF Instance setup?

[2020-01-08 19:31] tobinmori commented on #6024
Adding to Peter's comment above - this was reopned because it's in need of tests.

[2020-01-08 20:56] tobinmori opened #6317 "Yari 1 Feasability Assessment"
**User Story**

We need to determine the feasibility/complexity of converting the current front-end code (all of the current Sass, CSS, and JS, as compiled and bundled by django-pipeline, as well as the document Jinja template that wraps a React SSR call) into a stand-alone CLI that takes the file-based raw HTML for each document as input and produces finished HTML (i.e., including the header and

[2020-01-08 21:12] peterbe commented on #6310
The only CSS that matters is `editor-js.css` and `codemirror.css`. If you block those URLs in the dev tools, it doesn't reproduce. It just goes horribly wrong. So wrong that it's not what happened.

What's so baffling is that the last release was: https://github.com/mdn/kuma/commit/fb2d23f6af3c4fadd4085822aa0c171fd78d4773 which was 3 weeks ago. What it introduced has virtually nothing to do with C

[2020-01-08 21:20] peterbe commented on #6317
Should there be an acceptance criteria specifically around the DX of using it locally to do previewing?

[2020-01-08 21:45] tobinmori commented on #6147
As of now, this is not super urgent because we're awaiting Salesforce access, but may come back soon.

[2020-01-08 22:13] tobinmori commented on #6317
@escattone and I talked a about this, and determined that really the main goal here is well-informed study in feasibility (not even a prototype, as that might be too heavy a lift at this point). If this isn't feasible, this will have huge repercussions on our choice between yari 1 and yari 1.5. Also, Ryan's findings will be super valuable fodder for discussion in Berlin! We can talk DX later!

[2020-01-08 23:24] callahad commented on #6173
I'll be able to refine this by the end of the week, once I'm cranking on this work again, but I think end of February is a reasonable goal for completing the epic this is attached to (#6167), taking into account the Berlin All Hands, travel, etc.

Timeliness of reviews is a known unknown, and I suspect at least a few unknown unknowns will pop up in the course of this effort, which could cause it t

[2020-01-09 00:39] escattone opened #6318 "Create and test Google OAuth applications for MDN stage and prod"
### User Story
We will roll-out the new functionality that allows users to sign-up/sign-in via Google rather than GitHub, but that functionality depends on an OAuth application that must be created, configured, and run within Google's domain. This user story is about creating and testing that OAuth application for both stage and prod.

### Acceptance Criteria
- [x] Create, configure, and run a Goo

[2020-01-09 04:20] schalkneethling commented on #6316
@peterbe Yup, yup :) Also to be clear, this relates specifically to the Edit Profile page but, some of the changes will undoubtedly affect the view profile page as well.

I thought it made sense for us to create an epic and I can then go in and create a few smaller issues that we can connect to this. The overall priority of the Epic will not be super high, but some of the individual issues might b

[2020-01-09 04:49] schalkneethling commented on #6315
@chrisdavidmills Sounds like content?

[2020-01-09 05:49] escattone commented on #6026
@schalkneethling @tobinmori

Oh! Sorry @schalkneethling I should have looked at this more carefully. I didn't notice until now that your screenshot was from the admin console's social-account view. It's showing that it has associated both of your social accounts, from GitHub and from Google, with your `mdnwebdocs-tester` user. In other words, both social accounts map to the same `mdnwebdocs-tester

[2020-01-09 08:55] HALLneufmiles commented on #6315
Yes content, could you please transfert it ?

[2020-01-09 11:59] atopal commented on #5792
@tobinmori The contact is Heather Crince

[2020-01-09 12:10] atopal commented on #6026
Thanks for summarizing Ryan. That's how I understand it too.

[2020-01-09 12:13] atopal commented on #6316
I'm not a fan of a low priority epic that we add things to from time to time unrelated to any user story. We have done that in the past and it's a recipe for scope creep. Having an epic is fine, but not an empty one. It should state clearly what the problem is, why we are addressing it and for whom and at what point we'll consider it done.

[2020-01-09 12:15] atopal commented on #6173
I think we need to break this down into meaningful milestones that can be scoped and resourced properly. That might also help address the review issue.

[2020-01-09 12:56] callahad commented on #6173
I think the Epic is reasonably subdivided already:

- #6172 is for upgrading Django
- #6173 (this issue) is for upgrading everything else, where possible
- #6175 is automating future upgrades to dependencies

I don't see a way to further split this issue, _a priori,_ which wouldn't be artificial or contrived. To wit,  don't know what's changed in our dependencies, and thus how much effort will be

[2020-01-09 12:59] atopal commented on #6071
I looked into this.

1. I don't know what the flow looks like for someone without any contributions. Does it immediately delete the account without any further message after the first "delete account" link click?
2. I don't know what happens when you actually click "delete my account" on the follow up page.

Can someone provide screenshots?

How this is different from the original design:
1. Messa

[2020-01-09 13:41] schalkneethling commented on #6316
Agreed, I am in the process of adding all of that.

[2020-01-09 13:55] schalkneethling opened #6320 "Profile - Remove jQuery UI"
**Summary**

Remove `Interests (tags)` field and jQuery UI.

**Rationale**

Currently the edit profile page currently still depends on jQuery UI. The release we use, v1.10.3 is no longer supported by the jQuery dev team and has a known vulnerability(https://snyk.io/test/npm/jquery-ui/1.10.4)

The only reason we still have jQueryUI on this page is for the `Interests (tags)` field.

**Audience**

Al

[2020-01-09 13:58] tobinmori commented on #6026
thanks for double checking @escattone! the thought of dups was scaring me!

[2020-01-09 13:59] tobinmori commented on #6316
Yes, this was a placeholder for stories by @schalkneethling, not intended to be an empty Epic. That would be weird!

[2020-01-09 14:03] schalkneethling opened #6321 "Profile - Remove Social Site Fields"
**Summary**

Remove `My Profiles`(social sites) section from the edit profile and profile view pages.

**Rationale**

In preparation for future work on the profile pages, it makes sense to start the process of cleaning up any fields that we know will no longer be used. This will aid in faster implementation of new features, ensure a cleaner codebase, improve user experience through a simplified pr

[2020-01-09 14:09] schalkneethling opened #6322 "Profile - Add new header"
**Summary**

Add new MDN Web Docs header

**Rationale**

Currently, the edit profile and view profile pages still uses the old wiki-style header. This causes a disconnect visually between the user-facing front-end UI and the page a user is presented when viewing or editing their profile.

The links from this header also do not link a user back to developer.mozilla.org but instead, links back to pa

[2020-01-09 14:14] schalkneethling opened #6323 "Profile - Remove misc fields"
**Summary**

Remove remaining miscellaneous fields.

**Rationale**

Once https://github.com/mdn/kuma/issues/6320, https://github.com/mdn/kuma/issues/6322, and https://github.com/mdn/kuma/issues/6321 have been completed, there are a couple of fields that we can/should still remove.

These are:

- [ ] Title
- [ ] Organization
- [ ] Location
- [ ] Timezone
- [ ] IRC Nick
- [ ] Beta tester

**Audience

[2020-01-09 14:32] tobinmori commented on #6173
@atopal this is one of those tasks with a lot of uncertainty - where each upgrade could potentially be a worms or (hopefully) an empty can. Unfortunately, not all dev tasks have certainty associated with them and I think this is one of them. I think at best @callahad could give a estimation range, if he's to answer with honestly (which I think he's trying to do).

So maybe we can give an estimatio

[2020-01-09 17:13] peterbe commented on #6071
Quick "answer" is that it looks like the screenshots in https://github.com/mdn/kuma/pull/6149
And from skimming https://github.com/mdn/kuma/blob/master/kuma/users/jinja2/users/user_delete.html it appears that if you have 0 contributions it'll say
[code]

I'm guessing this is for Schalk. But it'll be obvious once he sets aside the time to work on this further.

[2020-01-09 17:21] escattone opened #6325 "Re-render all documents that use the "compat" macro"
Florian requested (see https://bugzilla.mozilla.org/show_bug.cgi?id=1539170#c23), a re-render of all of the documents that use the `compat` macro.

I run [this gist](https://gist.github.com/escattone/2f1a27a16ebd4233b0f1197a58eb9c0a) within a `./manage.py shell_plus` on a celery-worker pod, and scale-up the api pods and kumascript pods to six (6) pods each before I make the run. It usually takes a

[2020-01-09 17:22] atopal commented on #6173
If there is no meaningful breakdown that would yield valuable iterations, I'd still break it down into chunks: Maybe 5 items out of 70 for the next sprint, or something similar, and we can always take in more if necessary.

[2020-01-09 18:08] tobinmori opened #6326 "Reduce outdated Python dependencies to 25%"
**Description**

This is Step 1 of a what we're currently estimating will be a 3-part process. We expect steps 2 and 3 will be increasingly challenging upgrades. The completion of these 3 steps will lead the way to a Django version upgrade.

This step involves updating dependencies for our less-tricky Python libraries.

**Acceptance Criteria:**
- [x] 75% of outdated libraries are updated

[2020-01-09 18:14] tobinmori commented on #6173
@atopal I chatted with @callahad and we came up with a path forward: we'll break this task into 3 phases (generally). We expect each Phase to take around a Sprint (but of course the uncertainty is high here - and becomes increasingly so as Dan reaches the end; so, we'll reevaluate upon completion of Phase 1):

- Phase 1: Reduce outdated dependencies to 25% (#6326)
- Phase 2: Reduce outdated depend

[2020-01-09 18:45] #6187 closed

[2020-01-09 18:53] #6026 closed

[2020-01-09 19:18] EstevesDiogo commented on #6310
@tobinmori It works and then it does not, it is
![ScreenRecording2020-01-09at19154](https://user-images.githubusercontent.com/34245953/72097680-d7bbe800-3314-11ea-9c56-c04dd1184422.gif)

[2020-01-09 19:24] peterbe commented on #6310
Thank you!! Do you see anything interesting in the Web Console when that happens?
And does it go away when you refresh the page?

[2020-01-09 23:18] jmswisher commented on #6173
Looks like this is superseded by #6326 (and later phases) and so can be closed. Correct?

[2020-01-10 00:23] jmswisher commented on #6119
@atopal This issue is not in the spreadsheet for Ursula Rucker. Is that an oversight, or should it be removed from the sprint?

[2020-01-10 00:25] jmswisher commented on #6122
@tobinmori @peterbe This issue is not in the spreadsheet for Ursula Rucker. Is it in the sprint (add to spreadsheet) or out (remove milestone)?

[2020-01-10 00:25] wbamberg commented on #6307
**For the Chrome problem:**

https://github.com/mdn/kuma/issues/6310 looks totally like a duplicate of the Chrome problem I'm talking about here. I get this all the time when opening in a new tab, and never/hardly ever when I just click a link.

I don't see anything interesting in the Chrome console:

<img width="834" alt="Screen Shot 2020-01-09 at 4 21 36 PM" src="https://user-images.githubuserco

[2020-01-10 00:26] wbamberg commented on #6307
**For the Firefox problem:**

In the Web console I do get an error when this problem happens (and only when it happens), from CodeMirror:

<img width="885" alt="Screen Shot 2020-01-09 at 4 14 28 PM" src="https://user-images.githubusercontent.com/432915/72115161-f4e3bd00-32fa-11ea-9f5b-c166f70f9f69.png">

which maps to:

<img width="417" alt="Screen Shot 2020-01-09 at 4 15 37 PM" src="https://user-

[2020-01-10 01:02] jmswisher commented on #6060
@tobinmori Bumping this to P1, since you put it in a sprint

[2020-01-10 01:04] jmswisher commented on #6102
@tobinmori Bumping this to P1 since you added it to a sprint.

[2020-01-10 01:07] jmswisher commented on #6251
@Gregoor @tobinmori Needs an estimate

[2020-01-10 04:10] escattone commented on #6325
@fscholz @tobinmori
This is done. It finished in what seemed like record time: 20,222 documents were re-rendered in about 64 minutes (no errors).

[2020-01-10 04:10] #6325 closed

[2020-01-10 15:03] peterbe opened #6328 "TypeError in get_seo_description"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6740633/

[code]

[2020-01-10 15:06] peterbe commented on #6328
[Inside `get_seo_description` there's this code](https://github.com/mdn/kuma/blob/ede99b0e2811671c7d6ed44111b452740cbbf7e6/kuma/wiki/content.py#L241-L242):
[code]
...which implicitly assumes that `to_html(item)` *always* returns a string.
But it doesn't under certain circumstances.

The solution would be to comprend why `pg.html(method='html')` sometimes returns `None` instead of a string.

[2020-01-10 15:26] peterbe commented on #6307
"*When called on an `<iframe>` that is not displayed (eg. where `display: none` is set) Firefox will return `null`, whereas other browsers will return a `Selection` object with `Selection.type` set to `None`.*"
https://developer.mozilla.org/en-US/docs/Web/API/Window/getSelection

So it's arguably dangerous of CodeMirror to assume that `e` is something that is not `null`.

Either way, I don't under

[2020-01-10 15:31] peterbe commented on #6307
By the way, CodeMirror's code has changed:
https://github.com/codemirror/CodeMirror/commit/a5f44b43e27e5960d9e9c3ba45b2a7e27766c1ec
to this:
https://github.com/codemirror/CodeMirror/blob/c18094eab567211f73050beaa5c3fcceb2133888/src/input/ContentEditableInput.js#L189-L194

That [PR](https://github.com/codemirror/CodeMirror/pull/5405) is 1.5 years old.

Also, we're using CodeMirror 5.31.0 (based on

[2020-01-10 15:36] peterbe commented on #6060
That BCD signaling is the old one. It's gone.

The new one doesn't have a close icon.
<img width="1063" alt="Screen Shot 2020-01-10 at 10 35 24 AM" src="https://user-images.githubusercontent.com/26739/72165199-0c6f8400-3395-11ea-8fd2-bb61c9dd4756.png">

[2020-01-10 15:39] mcroud commented on #6060
It does when used on a mobile or smaller device.

[2020-01-10 15:42] peterbe commented on #6307
This is now reproducibly every time for me. On prod and on `localhost`.
Sadly, the interactive examples piece is not run locally. You're using the remote URL even when you're on `localhost`.

Perhaps it's time to start to own this so that you can run interactive examples locally.

[2020-01-10 15:48] atopal commented on #6173
Thanks Tobin, that makes sense to me.

[2020-01-10 15:56] peterbe commented on #6060
My bad! Sorry, I didn't know that. I didn't recognize the screenshot.

[2020-01-10 16:07] peterbe opened #6329 "UnicodeDecodeError in tiding"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/7051537/

[code]

[2020-01-10 16:16] peterbe commented on #6329
The document that was edited was https://wiki.developer.mozilla.org/ko/docs/Web/HTML/Element/div
The [edit](https://wiki.developer.mozilla.org/ko/docs/Web/HTML/Element/div$history) matches the latest occurrence in Sentry

I suspect what happens is that `tidings` uses `tidylib` to do some processing and it goes wrong. `django-tidings` is ancient and might not work very well with Python 3 or somethi

[2020-01-10 16:30] EstevesDiogo commented on #6310
Hey, @peterbe  yes some times when you refresh it corrects and some times when you refresh it breaks again as you can see on this gif ---->
![ScreenRecording2020-01-10at16261](https://user-images.githubusercontent.com/34245953/72169156-79e7d880-33c6-11ea-96ca-05e7f65bdcf8.gif)

[2020-01-10 16:57] peterbe commented on #6310
It's extremely hard to see but all that yellow text appears to be the same block of yellow text on the renders when it actually does work.

[2020-01-10 17:00] EstevesDiogo commented on #6310
Yes, they are the same warnings.
![Screenshot 2020-01-10 at 17 00 15](https://user-images.githubusercontent.com/34245953/72171363-b9b0bf00-33ca-11ea-97e5-5fb49d90ed26.png)

[2020-01-10 18:46] jmswisher commented on #6173
@tobinmori @callahad @atopal Or is it now an epic that includes #6326?

[2020-01-10 21:11] peterbe commented on #6328
It can happen if the rendered HTML is this:
[code]

[2020-01-10 22:27] a2sheppy opened #6332 "Regression: YouTube video playback is centered incorrectly"
Something has changed how the YouTube embeds created using {{EmbedYouTube}} get centered. They should be centered within the text column of the article, but instead are being centered between the left edge of the text column and the right edge of the content box. This looks like the following screenshot:

<img width="1069" alt="youtube-embed-center-bug" src="https://user-images.githubusercontent.c

[2020-01-10 23:55] #6328 closed

[2020-01-11 08:18] Linux-Johnston opened #6333 "Autoconfiguration issue"
The installation of an account from e-mail provider Aikq.de in Thunderbird by autoconfiguration is erroneous. Autoconfig sets both IMAP and SMTP host names to aikq.de.
Both servers correct host name is mail.aikq.de. Due to false autoconfig settings the receiving and sending of mail does not work.

I also discovered incorrect settings for the port numbers when I first installed an Aikq.de mail acco

[2020-01-12 04:56] schalkneethling commented on #6310
Interestingly I see all of those, except for the first, mentioned Codota.com. Is there perhaps a browser extension from this website/service that you have installed?

If so, could you try disabling it, or accessing the site in a private window and see whether the problem goes away? Thanks so much for your help in debugging this.

[2020-01-12 11:53] dgesteves commented on #6310
@schalkneethling private browser still has the same issue but with a new error.
![Screenshot 2020-01-12 at 11 47 42](https://user-images.githubusercontent.com/34245953/72218351-18dd1380-3532-11ea-8712-12a43fe72796.png)
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34245953/72218355-209cb800-3532-11ea-8a60-d95ab6ff645f.gif)

[2020-01-13 10:30] schalkneethling commented on #6310
Thank you @dgesteves for the additional info. Unfortunately, it seems like the error you highlighted is not related as shown in your screen recordings. I will take a look here as well and see whether I can reproduce the problem.

[2020-01-13 12:07] dgesteves commented on #6310
@schalkneethling this issue only happens on chrome, I tried firefox, safari and they are working fine.

[2020-01-13 12:30] peterbe commented on #6333
This GitHub repo is about the code behind the *website* https://developer.mozilla.org
If you need help with Thunderbird, please start on https://support.mozilla.org/en-US/products/thunderbird

[2020-01-13 12:30] #6333 closed

[2020-01-13 12:31] schalkneethling commented on #6310
Ah, that narrows it down. Thanks, @dgesteves

[2020-01-13 13:13] atopal commented on #6119
We too this out during sprint planning, because I was over subscribed

[2020-01-13 13:14] atopal commented on #6102
Why was this made a P1? I don't see the urgency.

[2020-01-13 14:36] peterbe commented on #6310
I don't know if this helps @schalkneethling but I reproduced it, in Chrome, and right-clicked to inspect the `<div id="editor">` element. Then I dumped that (and pretty printed) to disk. Then I did the same with the `<div id="editor">` element when things worked.

https://gist.github.com/peterbe/a9823299a3c9773e36a366ad6a59a804

[2020-01-13 14:38] peterbe commented on #6310
I still don't know how to get that `Uncaught DOMException` in Chrome. But that seems pretty serious. We have a snippet of code that uses `Performance` and perhaps it's not protected with `try{...}catch(...}` enough.

[2020-01-13 14:46] peterbe opened #6335 "MultipleObjectsReturned "more than one EmailAddress""
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/7033372/

[code]

[2020-01-13 14:48] atopal commented on #6310
This is the highest priority in the sprint. Please let's get this done, before we move on to other things.

[2020-01-13 15:04] peterbe commented on #6335
Confusingly, Sentry is reporting this happened on `/zh-CN/users/account/email/` but then it also says the `url` was: https://wiki.developer.mozilla.org/sv-SE/users/account/email

[2020-01-13 15:10] #6251 closed

[2020-01-13 15:10] #6308 closed

[2020-01-13 15:36] tobinmori commented on #6310
Btw, @schalkneethling - @atopal and I could reliably reproduce this upon opening a new tab in Chrome and loading the page from scratch. (if you reload an existing instance of the page in a tab, the err goes away).

I could not reproduce this in FF or Safari.

[2020-01-13 16:43] Gregoor commented on #6060
@mcroud can you give me access to Zeplin so that I can download the correct cross symbol from there?

[2020-01-13 17:00] schalkneethling commented on #6307
I and @tobinmori have looked at this as well. Strangely enough in Chrome we can reproduce it pretty regularly although there is no obvious error to correlate the problem too. The only one that came up a few times is the following:

[code]

I honestly thought we solved this problem but alas, there it is :) While we could not correlate as mentioned above, here is what I am going to do to get the bal

[2020-01-13 17:03] #6277 closed

[2020-01-13 17:11] mcroud commented on #6060
@Gregoor added! Thanks!

[2020-01-13 17:19] tobinmori commented on #6307
@peterbe to verify that this is occurs in Chrome (not just nightly FF). if Chrome, then p1.

[2020-01-13 17:26] tobinmori commented on #6335
Timebox, check user email editing.

If err not being properly shown, then it's p3.

[2020-01-13 17:45] schalkneethling commented on #6307
Opened https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt in Fx Nightly 74. Right clicked on `BigInt.asIntN()` and selected open in New Tab.

Interactive example renders correctly and works as expected. Did multiple refreshed and could no reproduce blank example, nor gutter/line numbers overlap.

![Screenshot 2020-01-13 at 19 43 25](https://user-images.githubus

[2020-01-13 17:55] schalkneethling commented on #6307
Cannot reproduce in Chrome(latest release 79.0.3945.117 (Official Build) (64-bit))

[2020-01-13 18:41] tobinmori opened #6337 "Blue rectangular box appears when starts typing on the search bar in developer.mozilla.org (bugzilla 1608616)"
(In reply to Rishi from comment #0)

[2020-01-13 22:16] tobinmori commented on #6173
Hi @jmswisher, I'll close this. I attached #6327 to EPIC #6167.

[2020-01-13 22:16] #6173 closed

[2020-01-13 22:42] tobinmori commented on #6307
thanks @schalkneethling, we'll keep this at p2 then, for next sprint.

[2020-01-13 23:08] escattone commented on #6318
Google logins have been enabled and are working on stage (https://developer.allizom.org).

[2020-01-13 23:13] escattone commented on #6318
First login to your Mozilla Google account, and then if you have been given access, the Google OAuth application for stage is available at https://console.developers.google.com/apis/credentials?folder=&organizationId=&project=mdn-stage, and the one for production at https://console.developers.google.com/apis/credentials?folder=&organizationId=&project=mdn-production.

[2020-01-13 23:38] escattone commented on #6318
I was able to successfully login to MDN production manually via Google OAuth, so the production Google OAuth application on Google and the MDN Google social application have both been configured correctly. Google sign-ups/logins remain disabled on production for now however.

[2020-01-13 23:38] #6318 closed

[2020-01-14 00:27] escattone opened #6338 "Google OAuth application verification"
**Summary**
I believe our Google OAuth applications for stage and prod, primarily for prod, need to go through a verification process by Google (see https://support.google.com/cloud/answer/7454865 and https://support.google.com/cloud/answer/9110914) before we can enable Google login, especially on production due to the user limit ("total new user cap") of 100.

**Rationale**
Avoids the user limit

[2020-01-14 01:21] escattone commented on #6338
The Google OAuth application UX and process is not intuitive. It says that stage and prod OAuth applications need to be verified because I updated the application logo, and that seems to imply that if I had not updated it (just left it blank) we might be able to avoid the verification process. I'm going to give that a try.

[2020-01-14 04:04] schalkneethling opened #6339 "Hide focus ring on modal - Auth"
In general, I would oppose removing the focus ring that browsers add to the item that is currently focused or active but, in the case of the modal "window" itself when opened, I would not be so opposed ;p

With that said, we should use https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible so that in supporting browsers at least, the focus ring would still be drawn for keyboard users.

[2020-01-14 04:53] rishipurwar1 commented on #6337
I want to work on this issue if no one is working on it.

[2020-01-14 11:03] Gregoor commented on #6060
Thank you!

[2020-01-14 12:11] atopal opened #6340 "T - Update robots.tx (Warnings have spiked on Search Console)"
**Summary**
We are seeing a large spike in warnings on Google Search Console. The spike started on December 22, 2019.

<img width="952" alt="Coverage" src="https://user-images.githubusercontent.com/557852/72343521-5fb44000-36cf-11ea-8f1f-12955b98e34d.png">

**Steps To Reproduce (STR)**
1. Go to Search Console
2. Open Coverage Report
3. open "Indexed, though blocked by robots.txt"

**Actual behavio

[2020-01-14 13:55] peterbe commented on #6340
Granted that the Wiki editing pages should perhaps technically not be *blocked* but surely they shouldn't be indexed, no?

The `<meta name="robots" content="noindex, nofollow">` comes from the fact that `wiki.developer.mozilla.org` is *not* in `settings.ALLOW_ROBOTS_WEB_DOMAINS`.

[2020-01-14 13:59] atopal commented on #6340
The whole wiki domain is blocked from crawling.

Re indexing: If you block a page in robots.txt, you make it impossible for Google to see its content. That means it will index the naked URL that it found somewhere. If you allowed it to crawl the page (allowed in robots.txt) Google could see that you don't want the page to be indexed and remove it from the index.

[2020-01-14 14:06] tobinmori commented on #6338
I reached the same conclusion, but I assume removing the logo didnt work @escattone?

Hmm, I still see the Mozilla logo there for the staging conf screen, though. . .?

In any case, the docs from what I've read, definitely seem to imply that if we remove the logo and just have the redirect URL appear that we should be fine. . .

[2020-01-14 14:14] schalkneethling commented on #6310
We have updated CodeMirror and there is a new release of Bob:
https://github.com/mdn/interactive-examples/pull/1525

I will do some testing locally to ensure nothing broke but I have also asked @wbamberg to kick the tyres.

[2020-01-14 14:15] schalkneethling commented on #6307
We have updated CodeMirror and there is a new release of Bob:
https://github.com/mdn/interactive-examples/pull/1525

I will do some testing locally to ensure nothing broke but I have also asked @wbamberg to kick the tyres.

[2020-01-14 17:53] schalkneethling commented on #6307
Ok, https://github.com/mdn/interactive-examples/pull/1525 has been merged. In ~30min the new builds of interactive examples will be on production. 🤞

[2020-01-14 17:53] schalkneethling commented on #6310
Ok, https://github.com/mdn/interactive-examples/pull/1525 has been merged. In ~30min the new builds of interactive examples will be on production. 🤞

[2020-01-14 18:03] peterbe opened #6341 "CompilerError in collectstatic"
https://sentry.prod.mozaws.net/operations/mdn-stage/issues/7074588/

[code]

[2020-01-14 18:04] peterbe commented on #6341
I don't even know what the error is. Nor do I care that much (in a sense).
If we have a bug in how we use SCSS it should get deterministically get caught in TravisCI before it gets too far and causes bad builds that get deployed into Kubernetes.

[2020-01-14 18:06] peterbe commented on #6341
At the time of writing, it appears that https://developer.allizom.org/ is working fine.

[2020-01-14 18:30] peterbe commented on #6341
Uh oh spaghettio. @Gregoor had the `mdn-stage` Sentry DSN in his `.env` when testing some stuff.

[2020-01-14 18:30] #6341 closed

[2020-01-14 18:37] wbamberg commented on #6310
The new version of CodeMirror is live, and seems to work fine, but I still see the overlapping-line-numbers problem in Chrome :(.

[2020-01-14 18:38] peterbe commented on #6310
Can you please verify the network (JS files) used inside the iframe?

[2020-01-14 18:44] peterbe commented on #6310
<img width="1616" alt="Screen Shot 2020-01-14 at 1 42 08 PM" src="https://user-images.githubusercontent.com/26739/72372110-c20f3f80-36d3-11ea-878a-d27f88337a11.png">
:(

I'm not 100% sure if I'm using Chrome right.
I was definitely able to reproduce it, as you can see, but when you "Open in a new Tab" it won't start with the Web Console open. And refreshing would solve it which makes it impossible

[2020-01-14 18:56] wbamberg commented on #6310
<img width="692" alt="Screen Shot 2020-01-14 at 10 55 07 AM" src="https://user-images.githubusercontent.com/432915/72372990-49e94f80-36bc-11ea-87a1-11921c9751c4.png">

https://stackoverflow.com/questions/12212504/automatically-open-chrome-developer-tools-when-new-tab-new-window-is-opened/36957422#36957422

[2020-01-14 19:08] escattone commented on #6338
I created new Google OAuth applications **without logos** for both stage and production (see links [here](https://github.com/mdn/kuma/issues/6318#issuecomment-573918455)). I think the removal of the logos, combined with the fact that we're not using any sensitive/restricted scopes, will ensure that we can have both OAuth apps published without the need for verification. Also, @tobinmori made me re

[2020-01-14 19:15] tobinmori commented on #6310
+1 Confirming that the err still occurs, unfortunately; I'm using build 5-50-2. (Chrome)

[2020-01-14 19:22] tobinmori commented on #6122
Thanks @jmswisher - I removed the milestone, as @peterbe has a full plate this sprint.

[2020-01-14 20:13] peterbe commented on #6310
SOME PROGRESS! Hang on this is messy.

So, I manually edited the *compiled* browser JS (used `prettier` to make it slightly easier) so that when the `e = CodeMirror(document.querySelector('#editor'), ...)` gets created I injected something like this: `e = window.CODEMIRROR = CodeMirror(document.querySelector('#editor'), ...)`. Now, after some crazy cache invalidation, and eventual reproduce in Chr

[2020-01-14 20:48] Kostenzer opened #6342 "Problem navigating https://developer.mozilla.org site"
Hello,

I tried the arrows/ buttons on [https://developer.mozilla.org/nl/docs/Learn/Getting_started_with_the_web/HTML_basisbegrippen](url) Ass well previous as next don't work.  The Overview arrow/button does work. Now I have to navigate using the links left in the window. And that for a site witch explains HTML...etc.

[2020-01-14 20:54] tobinmori opened #6343 "Bugzilla: 607442 Cannot display results in Chinese version"
Ref:
https://bugzilla.mozilla.org/show_bug.cgi?id=1607442

[2020-01-14 20:57] tobinmori opened #6344 "Bugzilla 1607442"
Ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1607442

[2020-01-14 20:58] #6344 closed

[2020-01-14 20:58] tobinmori commented on #6344
this was a dup. so closed

[2020-01-14 22:03] escattone commented on #6343
Copied from the bugzilla ticket:

I fixed https://wiki.developer.mozilla.org/zh-CN/docs/Web/API/Event/preventDefault.

There were 3 problems on that page:
- The embedded live sample `{{EmbedLiveSample('Stopping_keystrokes_from_reaching_an_edit_field', 600, 200) }}` was broken. If the text of the header element containing the live sample is translated (see below) the `id` that is automatically gene

[2020-01-14 22:04] #6343 closed

[2020-01-14 22:51] escattone commented on #6342
This is resolved for https://developer.mozilla.org/nl/docs/Learn/Getting_started_with_the_web/HTML_basisbegrippen. This was a problem with the translated page only. The document slug arguments to the `PreviousMenuNext` macro call needed to reference the translated slugs rather than the English slugs, so I changed this:
[code]
to this:
[code]

Other pages in this locale are also broken in the same

[2020-01-15 06:37] schalkneethling commented on #6310
Turns out we are already doing that for the tabbed interface:
https://github.com/mdn/bob/blob/master/editor/js/editor-libs/tabby.js#L167

Definitely looks like autorefresh will make this easier by taking care of that automatically. Thanks, @peterbe

[2020-01-15 13:59] atopal commented on #6310
Great find Peter!  \o/

[2020-01-15 16:18] wbamberg commented on #6310
That's a bit worrying, because I see this problem with the HTML examples, too:

<img width="829" alt="Screen Shot 2020-01-15 at 7 29 52 AM" src="https://user-images.githubusercontent.com/432915/72450600-82963100-376f-11ea-95de-08d84d5e4d96.png">

[2020-01-15 18:21] peterbe commented on #6310
That means that how we're doing `.refresh()` in tabby.js isn't working. Anyway. The change I introduced only fixed the JS editor. I guess we need to re-evaluate and try to add that addon to all editors.

[2020-01-15 18:31] schalkneethling commented on #6310
So, we are not doing that for the initial load. If you switch between the tabs does it fix itself?

[2020-01-16 02:02] escattone opened #6347 "Incorrect value shown for username during signup"
**Summary**
While reviewing https://github.com/mdn/kuma/pull/6330, I performed an account signup via Google, and noticed that the value shown for the `username` during account sign-up (`"Ryan Johnson"`):

<img width="354" alt="image" src="https://user-images.githubusercontent.com/3743693/72486098-bfd5df80-37be-11ea-8c12-a357bd557feb.png">

was different from the actual `username` (`"rjohnson"`) sh

[2020-01-16 02:08] escattone commented on #6347
@atopal @tobinmori @schalkneethling @Gregoor Pinging you all to get your thoughts on this and it's priority.

[2020-01-16 02:09] escattone commented on #6347
By the way, this issue is not related to #6330. I just happened to discover it during the course of reviewing that PR.

[2020-01-16 10:17] Vardner opened #6348 "CSS styles goes wrong"
https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Map/forEach
![image](https://user-images.githubusercontent.com/36897869/72516333-252ade80-385a-11ea-9a01-bc74d55a6a74.png)

[2020-01-16 10:29] Gregoor commented on #6347
Good catch, Ryan. Thanks! I'm looking into it now, thinking the change should properly affect those lines
https://github.com/mdn/kuma/blob/6c6132a5835fcd3e5697247fe206c2e273060935/kuma/users/jinja2/socialaccount/signup.html#L79-L82

[2020-01-16 12:43] #6060 closed

[2020-01-16 12:52] #6255 closed

[2020-01-16 13:37] peterbe commented on #6348
Thank you @Vardner for filing! We appreciate it.
Actually, https://github.com/mdn/kuma/issues/6310 was filed before and it describes the same exact problem and we're actually actively working on it. And we actually hope to have a fix out in a couple of hours even.

[2020-01-16 13:37] #6348 closed

[2020-01-16 13:53] peterbe commented on #6278
@tobinmori I removed the ` KR: Alternative Github-based solution ` label because I don't think it's perfectly relevant.
In a Yari world, we still need to support redirects. So it's not any more work to deal with "weird redirects" in Yari. It's just that when working on that I noticed it.

I think we just need to make a quick decision and we can just execute a mass deletion of documents that match

[2020-01-16 14:13] tobinmori commented on #6347
Seems pretty confusing, looks like @atopal agrees! Thanks for pointing it out @escattone.

[2020-01-16 14:36] atopal commented on #6278
There are more than 20k 301 redirects (sometimes more than one in a chain) and about 15k 302 redirects. The 301 redirects are most unproblematic, search engines will remember the 301 after the first crawl, but the 302 redirects suck, a good portion of them are due to missing locales in urls eg developer.mozilla.org/docs; that URL is redirected based on your accept-language, so it can't be a 301.

[2020-01-16 15:31] peterbe opened #6350 "T - TypeError 'count.toLocaleString' in SSR"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/7090931/

[code]

[2020-01-16 15:33] peterbe commented on #6350
Sadly, the Sentry event is pretty hard to debug.
But does contain this:
[code]
which looks like it might be the minified/babelified-to-es5 version of https://github.com/mdn/kuma/blob/d80b6668792f01a4826b33ab9d082426911b1768/kuma/javascript/src/search-results-page.jsx#L76

So it's probably a bad search result.

If only we could figure out what the URL was we could figure out what they tried to sear

[2020-01-16 15:33] peterbe commented on #6350
A more pressing concern is how poor the Sentry event is :(
Where is the context not mentioning a URL??

[2020-01-16 16:01] peterbe commented on #6278
@atopal I was more concerned about URLs like `/docs/http://www.w3.org/WAI/PF/aria-implementation/` not being a real URL. I could see how perhaps some MDN page now needs to be go to `http://www.w3.org/WAI/PF/aria-implementation/` which would make a whole lot more sense.

Actually, when you look at https://wiki.developer.mozilla.org/en-US/docs/ARIA/User_Agent_Implementors_Guide$edit it sure seems it

[2020-01-16 16:12] atopal commented on #6278
Ah, got it. Running this query

SELECT count(*)
FROM `wiki_document`
where `wiki_document`.`rendered_html` LIKE '%/docs/https:%';

It looks like , we have 768 documents with /docs/http:// and 63 with /docs/https://

[2020-01-16 16:15] peterbe commented on #6278
Actually, if you ignore the archived pages (e.g. `User:%` and deleted documents etc) this is more accurate:
For `en-US` only...
[code]
Meaning, 37,132 redirects in total and 0.84% of them have that weird `/docs/http...` thing in them.

Also, 7% of them are simply swapping `/docs/en/` for `/en-US/docs/` only. So about 2,603 documents could technically be deleted and just put into the global redirec

[2020-01-16 16:19] peterbe commented on #6278
Also, for the full record, these are the numbers you get if you compute for ALL locales:
[code]

Yari-content already has a solution for redirects so that this doesn't create 71,133 files since all redirects are lumped together.
However, it would be nice to drop 35,556 documents from the database that could all be captured by 1 single redirect rule.

[2020-01-16 16:56] #6347 closed

[2020-01-16 18:40] #5792 closed

[2020-01-17 12:50] atopal commented on #6340
Some more context from Raphael: The weird behavior we are seeing is because those URLs are forwarded to wiki.developer.mozilla.org which has blocked all crawling via robots. txt

So, the solution to this issue would be to remove that block from robots.txt on the wiki and add the no-index, no-follow meta tag to all wiki pages. Not a super

[2020-01-17 14:02] #6024 closed

[2020-01-17 14:46] tobinmori commented on #6338
Do we feel comfortable enough to close this @escattone? Or wait until prod?

[2020-01-17 16:38] #6288 closed

[2020-01-17 17:12] wbamberg opened #6354 "Language list dropdown is cut off for RTL languages"
For example, https://developer.mozilla.org/ar/docs/Web :

<img width="1238" alt="Screen Shot 2020-01-17 at 9 10 32 AM" src="https://user-images.githubusercontent.com/432915/72631650-6b8b4680-3909-11ea-8355-ef3d33a751c4.png">

[2020-01-17 17:24] alattalatta opened #6355 "Syntax Highlighting shouldn't be applied while localizing"
**Summary**
Wiki:
While localizing a doc with code blocks, English document ("_origin_") gets syntax highlighted.

This behaviour complicates localization as one can't simply copy and paste said code blocks. All those Prism `<span>`s gets copied to the CKEditor. ("_target_")

Note: Edit page doesn't even have any Prism stylesheets.

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

[2020-01-17 18:34] escattone commented on #6338
@tobinmori No, I don't yet. I keep reading the docs, and I just can't come to any solid conclusion. I do know that the button to submit our production (stage as well) OAuth app for verification is disabled, so I don't think we've configured anything that requires a manual verification process that can take weeks. However I think we're considered to be using sensitive scopes (since we're getting us

[2020-01-17 21:40] #6355 closed

[2020-01-20 01:11] hwy061 opened #6359 "Drag & Drop issue"
In the section titled: "DataTransfer.clearData()" there is an simple example which I copied and tested.
In Chrome (79.0.3945.117) it seems to work, reporting the firing of each event and ending with the message "Data is: empty"
In Firefox (72.0.1) it seems to work, but reports "Data is : source" when it has completed.
In Explorer (11.0.9600.79596) it reports the changing Status, but the "Data is:

[2020-01-20 03:12] schalkneethling commented on #6359
@chrisdavidmills ^^

[2020-01-20 03:15] schalkneethling commented on #6071
Note to self: https://github.com/mdn/sprints/issues/1635

[2020-01-20 03:44] schalkneethling commented on #6307
I can unfortunately still reproduce this on production in Chrome. While it does not happen on the first load, refreshing the page in the new tab a couple of times(4-5) reproduces the issues. 😿

https://www.loom.com/share/b881f444e82148f5a69f95ce51c26cb6

[2020-01-20 03:47] schalkneethling commented on #6310
I can unfortunately still reproduce this on production in Chrome. While it does not happen on the first load, refreshing the page in the new tab a couple of times(4-5) reproduces the issues. 😿

https://www.loom.com/share/b881f444e82148f5a69f95ce51c26cb6

[2020-01-20 07:57] chrisdavidmills commented on #6359
This sounds about right; drag and drop has ll kinds of browser interop issues, and it doesn't work in IE properly, form what I can remember. What page did you find this code example on?

[2020-01-20 08:53] schalkneethling commented on #6071
Links to some of the designs from Nick:

* [Edit profile page with `Delete Account` button](https://mozilla.invisionapp.com/share/Y8SGMKQBCW3#/screens/372750124_Account_-_Profile_-_Filled)
* [No contributions made modal](https://mozilla.invisionapp.com/share/Y8SGMKQBCW3#/screens/370705983_Account_-_Profile_-_Delete_Account_-no_Contrib-)
* [1+ Contributions made step 1](https://mozilla.invisionapp.

[2020-01-20 09:26] atopal commented on #6310
@schalkneethling on which page are you seeing that behavior? I was able to reproduce it reliably, but can't reproduce it at all anymore in the latest release version of Chrome (79)

[2020-01-20 14:00] schalkneethling commented on #6310
I followed the steps outlined by Will on the related issue:

* Visit a page, say: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt
* Right-click a link to a docs page from the sidebar, say https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt/asIntN, and select "Open Link in New Tab"
* Switch to the new tab.

[2020-01-20 15:08] atopal commented on #6310
Ah, alright. I thought this was the "open new tab" > "open MDN page" steps. Which wasn't reproducing for me anymore.

That said, even the steps you just outlined, I can't reproduce it.

[2020-01-21 09:25] NavinVinayagam opened #6361 "Blazor file input click not working in firefox"
Hi ,
I am creating a blazor application in which I am using the hidden file input and click() method to open the file picker. It works fine in Chrome, Edge. The file picker is not opening in Firefox.

Below is my sample code to reproduce the issue.
index.razor:
[code]

JSInterop:
[code]

Is there any work around to resolve the above issue?

FireFox  Version: 72.0.2
Visual Studio : Version 16.5.0 P

[2020-01-21 13:47] tobinmori commented on #6310
Unfortunately, I can reproduce this; initial load is fine, but the gutter bug appears after I hit reload on the right-clicked new tab. Chrome 79.

[2020-01-21 14:39] atopal commented on #6310
Almost definitely a race condition. I can now reproduce again in about 20% of the reloads. I think this is fine for now, but I'd like to know if there is any way we can instrument this. I'd really like to know how often this is happening. Any ideas?

[2020-01-21 18:06] schalkneethling commented on #6310
I and @peterbe chatted about this briefly. The other option is to not use the plugin, and instead do something like:

[code]

The problem I see with instrumenting this is to know what to use as an event to send a GA event. There is no error that correlates with this happening so, it is hard to know when exactly it happened.

Perhaps there is a class or DOM element that is not injected and one can

[2020-01-21 18:33] atopal commented on #6283
At this point I care most about events 3-6 and 13-17.

[2020-01-21 19:23] peterbe commented on #6361
I'm sorry to hear that your app isn't working in Firefox. I have no idea what Blazor is but hopefully there's a community (mailing list, forum, github, etc) for that project where you can get help in your debugging endeavor.

This GitHub repo is about the code behind the https://developer.mozilla.org web site.

[2020-01-21 19:23] #6361 closed

[2020-01-21 20:01] peterbe opened #6362 "Make a doc a redirect still indexed in Elasticsearch"
**Summary**
Suppose you have a page that can be found with search. Then you decide to discard all of its content and make it a redirect to some other page. That act should *remove* the doc from Elasticsearch. But it doesn't.

**Steps To Reproduce (STR)**

1. Pick a page you're willing to lose, click to edit in Wiki.
2. Put in a word that is unique to it so it definitely shows up in a search. E.g.

[2020-01-21 20:05] tobinmori commented on #6337
Hello @rishipurwar1,

That would be great. Would you still like to work on this? Let us know!

[2020-01-21 20:10] peterbe commented on #6362
According to [this](https://wiki.developer.mozilla.org/en-US/search?q=&none=none&topic=api&topic=css&topic=html&topic=js&topic=apps&topic=webdev) we have:
*"18696 documents found in English (US)"*

But if I use the `./manage.py shell_plus` and do the same filtering (not `is_redirect` and not all those excluded slugs) we have 18630 en-US docs in MySQL. That means there are 66 too many documents in

[2020-01-21 20:11] peterbe commented on #6362
The solution could either be:

1. Right before the document is about to have `doc.is_redirect = True; doc.save()` we should trigger a signal to delete it from Elasticsearch. But if the indexing is done in a worker thread, how is it supposed to know that it came from `is_redirect==False`?

2. Every now and then, until Yari takes over the Wiki, just manually trigger a massive reindexing. Do you reme

[2020-01-21 21:27] peterbe commented on #6340
So, allow it in so it can see for itself that everything is explicitly blocked per page. ?

[2020-01-21 23:58] escattone commented on #6338
@tobinmori @atopal @gregor I've come to a conclusion on this issue, primarily based on the fact that if we were using a `sensitive` (or even `restricted`) scope in our OAuth2 Consent Screen, that scope would include a lock icon, which our scopes (the default ones of `email`, `profile`, and `openid` by the way) do **not**. See the two sources below, one from Google and the other from StackOverflow:

[2020-01-21 23:58] #6338 closed

[2020-01-22 03:16] rishipurwar1 commented on #6337
Hello @tobinmori,
I would like to work on this issue but I want your help in setting up the local environment.
Thank You.

[2020-01-22 05:35] zmalsberg opened #6363 "CSS masking not working on Firefox"
I was building a CSS based site intro while working from an example, and had much trouble until I realized it was only Firefox (and likely IE) that would not display masked elements, particularly 'mask-image:(url(...)', so I tried every format. All resources I've found say Firefox should support this feature, but I suspect some bug has halted its support.

Fixes I've tried:

- Both Mac and PC vers

[2020-01-22 13:53] tobinmori commented on #6338
Thanks @escattone. I assumed the same!

[2020-01-22 14:49] atopal commented on #6340
Yes, let is crawl and discover the no-index meta-tags, but no, don't add robots.txt again. There will be ever more links from the read-only page to the wiki, and there is nothing to be gained from blocking crawling in robots.txt. We initially did that, because of performance concerns on MDN, but that's not really a thing for the wiki.

[2020-01-22 14:51] atopal commented on #6340
So, the AC are:
- [ ] all pages in the wiki have the no-index, no-follow meta tag
- [ ] robots.txt is set to allow all.

[2020-01-22 17:33] peterbe opened #6364 "404 page leads to old sign in button"
If you accidentally go to a page that doesn't exist our 404 template page uses the Wiki header.
E.g. https://developer.mozilla.org/en-US/docs/Web/Gobblygook

Clicking the logo (left) or any of the navigation links are from the Wiki header implementation but they work almost identical and because they header links are relative you don't accidentally end up `https://wiki.developer.mozilla.org`. Same

[2020-01-22 17:34] peterbe commented on #6364
Actually. Sorry.
https://github.com/mdn/kuma/issues/5623 is a much better issue to focus on. It's not just worrying about the sign-up widget but the whole header.

[2020-01-22 17:34] #6364 closed

[2020-01-22 18:21] peterbe commented on #6363
If it's a bug in Firefox, consider filing a bug here: https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox
Please include URLs to demos that demonstrate the bug there.

This repo is about the code behind the website https://developer.mozilla.org

[2020-01-22 18:21] #6363 closed

[2020-01-22 20:28] peterbe opened #6365 "The sign up welcome email is too geared towards making Wiki edits"
I signed up because I wanted to change my view language, track my learning progress, and set up a subscription, etc. I used Google. And got this:

<img width="1032" alt="Screen Shot 2020-01-22 at 1 56 46 PM" src="https://user-images.githubusercontent.com/26739/72931257-87d51c00-3d2b-11ea-836d-a5e26f831ac7.png">

[2020-01-22 20:29] peterbe commented on #6365
By the way, Who is "Janet Swisher????" (...thinks the person who's just signed up "MDN Web Docs" and never heard of the wonderful Janet. Separate bug?

[2020-01-22 20:56] peterbe opened #6366 "Drop username from sign-up?"
**Why bother with the username? How about removing it entirely from the UI?**

First of all, in this particular instance, I signed in with `peterbe@gmail.com` which means it'd want to default the username to `peterbe` but there's already a user with that username, but a different email address. So it becomes this weird blank string.
For most people it'll suggest `your_email.split('@')[0]` for the

[2020-01-22 21:04] peterbe commented on #6366
The username only matters if you will bother using the Wiki. Not only do we expect a small sliver of folks bothering, but we also are actively planning to remove the Wiki and replace it with something outside of MDN.
Unless you're intending to "brag" about your Wiki contributions, the username is not used for anything. It appears on your Wiki vanity profile E.g. https://wiki.developer.mozilla.org/

[2020-01-22 21:07] peterbe commented on #6366
**What @escattone and I propose** is that a "random" username (e.g. `eh780cf4b6e9f`) is automatically assigned to your Django user profile and that all and any mention about your username is removed from this screen.

[2020-01-22 21:49] peterbe opened #6367 "Mugshot only shown during submission"
To explain what's happening...
When I press "Create Profile" it starts submitting the form and you can't see it (in this screencap) but the browser indicates that it's loading.
Right after pressing that button, the dino head changes to my mugshot from my Google account. Just for a brief moment until the form realizes I didn't fill it in properly so it needs to reload but with the form validation e

[2020-01-22 21:54] peterbe commented on #6367
@schalkneethling @atopal @malqinneh I don't know if you guys are monitoring new GitHub issues on this repo, but this is one that I would argue is so weird that it ought to block the release of the new signup flow.

[2020-01-22 22:03] peterbe opened #6368 "Confusing choice of terms in sign up flow"
You only see this if you right-click and "Open in a new tab", or if you're on a mobile device, or if you're redirected from a protected page from an old bookmark.
<img width="1055" alt="Screen Shot 2020-01-22 at 4 58 20 PM" src="https://user-images.githubusercontent.com/26739/72938327-ca512580-3d38-11ea-9211-46858192ac03.png">
"Account, account, account"

Then, after you've chosen GitHub or Google

[2020-01-22 22:08] peterbe commented on #6368
The problem is that users get confused which can lead to sadness and users not bothering/caring to sign up which is a shame. The mixmatch of terms leads to thinking which is annoying and friction.

*We* might, internally, know the difference between a profile and account. But they don't. And I dare to say **they don't care**.
It all started with the user clicking "Sign in". The click "sign in" but

[2020-01-22 22:13] peterbe opened #6370 ""I've already authorized with Google?!!""
After having authorized MDN to use my account details, I'm redirected back to MDN and confronted with this:
<img width="711" alt="Screen Shot 2020-01-22 at 5 09 33 PM" src="https://user-images.githubusercontent.com/26739/72939030-10f34f80-3d3a-11ea-8cf2-3cea88fc4a7a.png">

To be honest, I still don't think I understand the two icons (one Google and on dino). To start, I think it would make much mo

[2020-01-23 02:43] schalkneethling commented on #6366
One thing to note here is that we *do* want the user's given, and perhaps the family name, as this becomes useful when we send out communication around MDN in general as well as in other instances where the site is personalized in some way.

I do believe we already get that, and so, I would vote for removing the `username` field as it is essentially just an account identifier, and instead be clear

[2020-01-23 03:14] schalkneethling commented on #6367
I assume the front-end validation succeeded but then the back-end validation failed? Yeah, that is not ideal. Not a deal-breaker and an easy fix.

[2020-01-23 12:42] Ricky-Tigg opened #6373 "On-line HTML documentation made available as downloadable file"
Reported first to inappropriate target,[ firefox-devtools /docs.](https://github.com/firefox-devtools/docs/issues/12).

- [Documentation](https://developer.mozilla.org/en-US/docs/Tools) made available as downloadable file under EPUB or PDF formats, so it is no longer tied to an established internet connection to be viewed. Searches would cover to the whole document instead of a single web page.
-

[2020-01-23 16:43] luciancic opened #6374 "B - issues in "what are we missing?" section"
I noticed two issues in the Browser Compatibility Table, "what are we missing?" section:
1. If the table row is a deprecated or experimental feature, the word _Deprecated_ or _Experimental_ is appended to the row name. It would be nice to replace it with the thumbs down or flask icon.
2. On some pages, the _next step_ button does not render
[Example page](https://developer.mozilla.org/en-US/docs/W

[2020-01-23 19:26] peterbe commented on #6366
@malqinneh Does our new, minimal, settings page allow for editing your given/first and last/family name?

I think you're referring to sending emails, for example, that start with `Dear Peter, ...`

I'm curious if it's worth it. We can pick up some user details as part of the default scopes in OAuth  so we can have it and update it if their cookie expires and they sign in again.

My preference is f

[2020-01-23 19:36] peterbe commented on #6367
Independent of form validation stuff, why isn't my mugshot there immediately after I get back from Google's permission/scope approval screen?

[2020-01-24 08:54] schalkneethling commented on #6366
Fair enough, I would still want to be transparent here and clearly show people what information we have on them, and provide them with the opportunity to amend, or even remove it from the data we have.

[2020-01-24 11:16] Elchi3 commented on #6374
Luckily, GitHub now allows issue transfers within the same organization. (and kuma has been moved to mdn :tada:)

[2020-01-24 12:38] malqinneh commented on #6366
Peter, are you suggesting showing the username but not allowing users the
ability to edit from MDN (similar to the avatar)?

On Fri., Jan. 24, 2020, 3:54 a.m. Schalk Neethling, <
notifications@github.com> wrote:

[2020-01-24 14:54] peterbe commented on #6366
No, I'm suggesting this: https://user-images.githubusercontent.com/26739/72933938-bf929280-3d30-11ea-928d-f74d31b42628.png

Basically, no mention of usernames at all on that screen.

[2020-01-24 15:00] malqinneh commented on #6366
In that case, we should consider what Schalk mentioned already, we'd want
to be transparent with users and at least display the information we have
of theirs/on file. Any drawbacks if we do that?

On Fri., Jan. 24, 2020, 9:54 a.m. Peter Bengtsson, <notifications@github.com>
wrote:

[2020-01-24 15:10] peterbe commented on #6366
Yeah, it would be nice to *mention* (not edit now) that we've picked that up. It could actually appear if this new signed-in user, for some reason, decides to help out contributing on the WIki (before it's replaced with git).

Can you @malqinneh come up with a version my above screenshot but one that mentions (if it's present) what first and last name we picked up and perhaps a mention that this c

[2020-01-24 15:27] malqinneh commented on #6366
I agree with showing names but not allowing people to change it right then
and there. Having said that, I wasn't involved in the design of the new
sign up flow and I'm probably missing some context here. We should schedule
a quick sync on this issue and take it offline between Kadir, you, and
myself. Will ping everyone on Slack.

On Fri, Jan 24, 2020 at 10:10 AM Peter Bengtsson <notifications@gith

[2020-01-24 16:02] #6339 closed

[2020-01-24 18:30] mindy commented on #6253
Because we honor DNT, this makes it tricky to correctly implement a script tag that allows for pre-fetching. The script tag needs to be inside `<head />` at the time the page is parsed, so a dynamic solution as presented in the PR (https://github.com/mdn/kuma/pull/6360) will not give us the performance benefit, since the tag gets added to the page too late.

Schalk also mentioned that support for

[2020-01-24 18:49] luciancic commented on #6374
Thanks for the move. I'll come back to this issue in a few days but I may not be able to tackle the second point without some help.

[2020-01-26 12:40] atopal commented on #6310
Well, the whole point is that we don't know whether it's rare or not, because we have no idea what triggers it. Maybe we should add a small feedback option, and ask users to report broken examples. We don't have a baseline to measure it against, but at least we could get a hint for the magnitude.

[2020-01-26 13:07] atopal commented on #6365
Yeah, this is a compromise see #2425

There is nothing to customize or set up at this point, which is why we need to ship our first incentive soon. At the same time, the only reason to sign up right now is to contribute, so we end up with this compromise.

That said, we should change the IRC part, as that is now not accurate anymore, IRRC.

[2020-01-26 13:12] atopal commented on #6370
Yeah, it's missing the line between the to icons and the numbering as well. Also, the Google icon should be grayed out at this point. Testing this is not easy, is this what we shipped?

<img width="595" alt="MDN_-_Account_Types_Preview_Mode_-_InVision_-_Firefox_Developer_Edition" src="https://user-images.githubusercontent.com/557852/73135722-d6ddc280-4045-11ea-88a4-9e4d0c06938b.png">

[2020-01-26 13:52] atopal commented on #6253
Note: Even though support for DNT is dwindling, Mozilla is still committed to it. Our legal counsel asked us not to remove support for it, so that's unfortunately not an option at this time.

[2020-01-26 15:15] peterbe commented on #6310
There might be a way to tell, after a second or so, if the refresh didn’t
work. But if that’s the case we could just trigger the refresh.
I’d be happy to fix interactive examples but not sure where to find the
time :)

On Sun, Jan 26, 2020 at 7:40 AM Kadir Topal <notifications@github.com>
wrote:

--
Peter Bengtsson
Mozilla MDN Web Docs
https://www.peterbe.com

[2020-01-26 22:17] PatrikKozak opened #6376 "Javascript Building Blocks - Looping Code Issues"
The Looping Code page does not load properly and I cannot go through the Active Learning parts. The scroll icon on the right doesn't show up and the tab showing the Looping Code page at the top says it's still loading.

[2020-01-28 05:20] peterbe commented on #6370
If you want to see what it looks like, you can sign in to https://developer.allizom.org/admin/users/user/ with your previous GitHub account and find your personal Google account and then use the Django admin to delete the user account. Now, next time you try logging in with Google you'll see that what we're shipping is what appears in my screenshot.

That 1. and 2. and the greying out of the provi

[2020-01-28 08:17] schalkneethling commented on #6370
Getting those circles with the line aligned properly and consistently proved a bit of a nightmare. One option would be to use a right-pointing arrow that is center aligned and not directly "attached" to either of the logo/avatars.

I have added:

1. Graying out the auth provider logo,
2. Showing the user avatar on the right instead of the MDN dino

in https://github.com/mdn/kuma/pull/6371

Do we a

[2020-01-28 08:28] schalkneethling commented on #6370
Something like:

![Screenshot 2020-01-28 at 10 19 08](https://user-images.githubusercontent.com/10350960/73247123-e6314d00-41b8-11ea-9721-ad2df5a6fa7a.png)

[2020-01-28 14:56] atopal commented on #6370
That's okay, can you also make sure that the numbering is in?

[2020-01-29 01:59] #6337 closed

[2020-01-29 03:31] #6192 closed

[2020-01-29 08:01] escattone commented on #6193
See https://github.com/mdn/kuma/pull/6372 and https://github.com/mdn/kumascript/pull/1318.

[2020-01-29 08:01] escattone commented on #6192
See https://github.com/mdn/kuma/pull/6372 and https://github.com/mdn/kumascript/pull/1318.

[2020-01-29 15:23] mindy commented on #6337
Hi @rishipurwar1,

I went ahead and made this change since it was a small change and I wasn't sure if we would be able to budget time to get your local environment set up, as it can be a bit complicated. Your feedback was very useful and I knew exactly where to look thanks to your comment in Bugzilla, so thank you for that!

Mindy

[2020-01-30 05:56] rishipurwar1 commented on #6337
Hi @mindy,
It's great! you fixed that.
I am new in open source. So, I wanted someone help to fix that issue.
I will again try to contribute to your organization. Hopefully, I will do some contributions.
Have a nice day!!
Thank You

[2020-01-30 07:28] schalkneethling commented on #6337
Thanks so much for your interest. Have you been able to get the codebase running locally? The steps to follow are here:

https://kuma.readthedocs.io/en/latest/installation.html

Let us know should you experience problems with getting things set-up.

[2020-01-31 02:47] mindy commented on #6065
Wanted to stay consistent with MDN's grid, so changed it to 31.33333%, instead of 37% as specified in the ticket.

[2020-01-31 05:32] EgoBrainProgrammer opened #6383 "Ошибка в тексте справки"
https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Promise/resolve

  console.log(value); // "Success"
}, function(value) {
  // не будет вызванна
});

Пишется "вызвана" с одной Н.

[2020-01-31 07:33] callahad commented on #6175
Blocked by https://github.com/dependabot/dependabot-core/issues/1556

Dependabot does not current support Poetry >= 1.0

[2020-01-31 10:52] wbamberg opened #6389 "Support unified git-style diff for revise results"
The revise tool produces a "results" directory with one subdir for each page that was modified, and "ref.html" and "rev.html" files under that. We can diff ref and rev, but have to diff each page individually, which is cumbersome when a lot of files have been changed.

It would be great if "revise" offered a way to present a unified diff for all the pages that have changed.

[2020-01-31 11:51] rfxDarth opened #6390 "Dead/unrelated link"
There's a link in
https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Cross-browser_audio_basics

Section "Fallbacks"

The website that link leads to has nothing to do with wordpress, and it looks like someone is squatting a defunct domain.

[2020-01-31 12:34] chrisdavidmills commented on #6390
Oh yes, we don't want to link there anymore!

Thanks for reporting. I've updated the section to remove the link and simplfy it.

[2020-01-31 12:34] #6390 closed

[2020-01-31 20:20] a2sheppy opened #6391 "Regression: Math (MathJax/MathML) widgets broken in new platform"
The new platform (developer.mozilla.org) cannot correctly present the CKEditor math components that work correctly on wikil.developer.mozilla.org. In particular, I'm using Chrome, and while Chrome doesn't support MathML, the platform is able to render matrices using a simplified form that while it's not ideal is quite readable.

On the new platform, though, the underlying Latex source is output (C

[2020-02-01 16:59] ehererik opened #6392 "Error"
haciendo el primer ejemplo de la pagina https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Fetching_data
 me tira el sieguiente error en consola:
"Pedido de origen cruzado bloqueado: La política de mismo origen no permite leer el recurso remoto en file:"

[2020-02-01 19:42] peterbe commented on #6392
@ehererik Would you mind trying to rewrite that in English?

[2020-02-02 18:00] chrisdavidmills commented on #6392
@ehererik I've put this through Google translate, and I think I know what your problem probably is. Are you trying to run it directly from the example file locally, or are you running it through a testing server of some kind?

To put it another way, are you following these instructions:

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Fetching_data#Serving_your_examp

[2020-02-03 01:22] spacewrench opened #6394 "WebCrypto.subtle.wrapKey( RSA-Private, AES-KW ) doesn't work"
I'm trying to wrap an RSA private key using AES-KW, but I get a "data provided to an operation does not meet requirements" error.  Wrapping the key using AES-CGM works OK (also wrapping an ordinary AES key with AES-KW works OK).

I suspect AES-KW fails on private keys because the PKCS8 data (from an ordinary export) is 634 bytes long -- not a multiple of 64.  However, there doesn't seem to be a me

[2020-02-03 03:28] schalkneethling commented on #6394
@chrisdavidmills 🏓

[2020-02-03 03:29] schalkneethling commented on #6391
I believe I hunted this one down once before and there is some CSS and or JS that is missing. @a2sheppy can you please add an example page here? Thank you.

[2020-02-03 06:42] spacewrench commented on #6394
I'm sorry, I spent more time RTFM and found the statement that "To use AES-KW, the input must be a multiple of 64 bits."

It would be nice if AES-KW could pad to 64 bits somehow, but I'll use AES-CGM for now.

OK to close; this was user error.

[2020-02-03 06:42] #6394 closed

[2020-02-03 08:03] schalkneethling commented on #6370
The items mentioned here that sounded like we want to change/update is taken care of in this PR - https://github.com/mdn/kuma/pull/6371

[2020-02-03 16:28] tobinmori commented on #6310
@atopal can we close or table this for now?

[2020-02-03 16:41] atopal commented on #6310
yeah, let's close this :(

[2020-02-03 16:41] #6310 closed

[2020-02-03 17:13] tobinmori commented on #6350
Won't fix for now because it's a rare occurence.

[2020-02-03 17:13] ehererik commented on #6392
Thank you all very much! Fixed!

El dom., 2 feb. 2020 a las 15:00, Chris Mills (<notifications@github.com>)
escribió:

[2020-02-03 17:22] #6362 closed

[2020-02-03 17:23] tobinmori commented on #6362
Closing this, and we'll manually re-index periodically.

[2020-02-03 17:25] #6365 closed

[2020-02-03 17:30] #6366 closed

[2020-02-03 17:34] tobinmori commented on #6368
Update 'MDN profile' to 'MDN account'. . .

[2020-02-03 17:37] peterbe opened #6396 "Sign-up with clashing usernames is busted"
**Summary**

What's happening here is that `peterbe@gmail.com` is trying to sign up. It would have suggested a default username of `peterbe` (from `email.split('@')[0]`) but that username is clashing with an GitHub user.
<img width="893" alt="Screen Shot 2020-02-03 at 11 07 03 AM" src="https://user-images.githubusercontent.com/26739/73675677-e16d0d00-4680-11ea-8f46-81a9e8627c61.png">

[2020-02-03 17:39] peterbe commented on #6396
In triage, we decided to, for now, just add a number to the username till it's not taken.

[code]

[2020-02-03 17:40] #6392 closed

[2020-02-03 18:51] peterbe opened #6399 "Cache is not cleared between tests"
When working on https://github.com/mdn/kuma/pull/6143 I ran into a problem that tests failed or worked depending on the order you run them.
The reason was that some tests make assumptions about the *state* of the cache. Most likely, the assumptions are that the cache is empty. But it can sometimes NOT be.

[2020-02-03 20:05] #6399 closed

[2020-02-03 21:10] tobinmori commented on #6065
work is in #6063

[2020-02-03 21:11] tobinmori commented on #6061
Question: is worth rewriting this in order to fix this?

[2020-02-03 21:53] #6193 closed

[2020-02-03 21:56] #6317 closed

[2020-02-03 23:30] escattone commented on #6317
### NOTES

#### Templates used

NOTE: use `nunjucks` npm package to minimize re-factoring

- kuma/wiki/jinja2/wiki/react_document.html
- jinja2/includes/preload.html
- jinja2/includes/style.html
- jinja2/includes/zilla.html
- jinja2/includes/react_google_analytics.html
- jinja2/includes/speedcurve-lux.html
- jinja2/includes/polyfill_scripts.html
- jinja2/includes/config.html
- jinja2/includes/moda

[2020-02-04 00:11] escattone commented on #6317
## Tasks Required

A prototype using the `nunjucks` npm package was used to help understand the feasibility and pieces involved in creating a Yari 1 renderer -- see https://github.com/escattone/kuma/blob/yari-1-experiment/kuma/javascript/src/yari1.js.

A key assumption in Yari 1 is that this it depends on the existing `django-pipeline` and `webpack` configuration and code, or in other words, that

[2020-02-04 09:46] Gregoor opened #6405 "T - Add system check to verify stripe config validity and reachability"
As part of #6269 we discussed and implemented tests for the interaction with Stripe itself. I later removed those in favor for tests that mock the stripe wrapping helper functions, thereby allowing them to run without network. Still the point stands that we don't have any checks whether our application can successfully talk with Stripe.

Peter told me about [system checks](https://docs.djangoproje

[2020-02-04 14:14] tobinmori commented on #6147
Note: Opt-in flag in database has been merged

[2020-02-04 14:34] atopal commented on #6147
please don't push that to production before the instrumentation for it is in.

[2020-02-04 15:37] tobinmori commented on #6307
Closing for now, since this problem has been greatly reduced.

[2020-02-04 15:40] tobinmori commented on #6367
@schalkneethling can you put an estimate on this?

[2020-02-04 16:31] schalkneethling commented on #6367
This is handled in https://github.com/mdn/kuma/issues/6367

[2020-02-04 17:50] Bjeurn2 opened #6408 "MDN web docs - Setting up a Node development environment"
Dear sir/madame,
Thank you very much for your excellent tutorials about almost everything on the web.
I am however confused about certain aspects of your tutorials, for instance your introductionary paragraphs about how to load Node.js on Windows.  Here is a quote that confuses me right from the start:
_quote
macOS
Installing Node and NPM on Windows and macOS is straightforward because you can jus

[2020-02-04 18:46] peterbe opened #6409 "T - Self-destructing yourself should also take care of Stripe customer records"
In `kuma.users.views.delete_user` we either delete a user fully (after all the revisions have been moved to "anonymous") or it scrubs the user's profile (e.g. `user.linkedin_url = ''`).

Soon, a user is also going to have a Stripe record.

I'm actually not entirely sure of the ramifications of deleting your Stripe records. (I'm not even entirely sure that "Stripe records" mean).

* If you scrub yo

[2020-02-04 18:50] escattone commented on #6409
@peterbe Great point and questions! I would say we need to resolve this before we can launch the payments feature to the public.

[2020-02-04 20:06] peterbe commented on #6408
Which tutorial are you referring to? What is the URL?

[2020-02-04 20:57] tobinmori opened #6411 "T - Reduce outdated Python library dependencies to 10%"
This ticket is a child of #6167

[2020-02-04 20:58] tobinmori opened #6412 "T - Reduce outdated Python library dependencies to 5%"
This ticket is a child of #6167.

[2020-02-04 21:45] tobinmori opened #6413 "T - GA Instrumentation for new user flow (username/email)"
Parent: #6283

- How many people clicked to edit their username?
- How many people clicked to change their email address?

[2020-02-04 21:46] tobinmori opened #6414 "T - GA Instrumentation for new user flow (errors: username/email)"
Parent: #6283

- How many people saw a username error?
- How many people saw an email error?

[2020-02-04 21:51] tobinmori commented on #6283
subtasks added:
#6413, #6414

[2020-02-05 10:36] chrisdavidmills commented on #6408
@Bjeurn2 is referring to https://wiki.developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/development_environment

I've updated it to remove the complex Windows bit — I don't know why that has been added, because it certainly makes things enormously more complex. I suspect it is because Node is more reliable on Linux, or the terminal commands are easier to explain. But it shouldn't m

[2020-02-05 10:36] #6408 closed

[2020-02-05 13:29] #6071 closed

[2020-02-05 14:39] schalkneethling opened #6418 "T - Add username to "Keep my attribution for my page changes""
When a user chooses to delete their account we have two scenarios:

1. The user has no contributions
2. The user has at least one

For the second case we show two radio buttons with the following text:

- Keep my attribution for my page changes
- Switch my attribution for my page changes to "Anonymous"

Originally it was designed that the first option should also include the user's username, for e

[2020-02-05 14:48] schalkneethling opened #6419 "T - Define language around user accounts"
During the first iteration to implement the new sign-up/accounts flow we have run into many instances where our language around profiles, accounts and general use of things like sentence and title-case have been inconsistent.

A lot of this has to do with the fact that we do not have a style guide that defines the tone and style of language used on MDN, but par of this is also just the age of the

[2020-02-05 15:37] malqinneh commented on #6419
From my understanding; it _may have_ made sense in the past to use "profile" nomenclature. Editing wikis was the sole purpose of having a "profile" on MDN - for transparency and activity of wiki edits. Public facing information is typically located in a "profile" page. Since the decision to move to Yari / GitHub, and the very low number of new users that sign up who make edits/contributions, an MD

[2020-02-05 15:57] #6368 closed

[2020-02-05 16:28] peterbe commented on #6419
The Wiki and its "View profile" feature is on death row. But not for many months. That's a hard fact.
Another hard fact is that when the Wiki dies, there'll most likely not be any vanity display of yourself to the world like there used to be on the Wiki.

Another interesting curveball to consider is; do users care at all? "I go to sign in" or "I go to sign up" or "I want to change my preferred loc

[2020-02-05 16:36] malqinneh commented on #6419
@peterbe how *we* (internally) refer to "profiles" or "accounts" is what @schalkneethling was asking about. How we position "signing up" to MDN visitors is not in focus right now.

[2020-02-05 16:44] atopal opened #6420 "U - As a wiki editor I want to log into MDN using a Google account"
# User story
As a wiki editor I want to log into MDN using a Google account

# Acceptance criteria

- [ ] When a user clicks on sign in on the wiki, she is able to select Google auth in addition to Github auth
- [ ] After signing in, the user is redirected back to the page she started on.

# Tasks
*If relevant, you can make a checklist for tasks.*

1. - [ ] This is an incomplete task.
2. - [ ] Add

[2020-02-05 17:52] #6370 closed

[2020-02-05 17:54] Bjeurn2 commented on #6408
Correct, and thank you very much.

Bjeurn2

On 5-2-2020 11:36, Chris Mills wrote:

[2020-02-05 18:01] benjaminmal commented on #6342
Hi,

I was about to submit a new issue when I saw this issue. Since the link @escattone says resolved is not, I hope it can help understand the problem, especially my observation at the end of this message.

**Summary**
Some of the 'Next' or 'Previous' button at the beginning or the end of pages are unclickable. We can notice that this bug happen only with certain page with certain language. Somet

[2020-02-05 18:03] peterbe commented on #6405
I support this plan.

[2020-02-05 19:08] escattone opened #6421 "Use of access tokens as query parameters in the GitHub OAuth API is deprecated"
**Summary**
We use GitHub's OAuth API as one of MDN's sign-up/sign-in OAuth providers. We're starting to receive emails from GitHub that using the https://api.github.com/user API with the access token as a query parameter has been deprecated and that the `Authorization` header should be used instead. This occurs within `GitHubOAuth2Adapter.complete_login` method provided by `django-allauth`, but `

[2020-02-05 19:34] peterbe opened #6422 "E - What to do about Doc_status when going to git?"
E.g. https://developer.mozilla.org/fr/docs/MDN/Doc_status/API/WebRTC

This page has `<meta name="robots" content="index, follow">` which I find a bit baffling to start with, but here we are. It's also included in [our sitemaps](https://developer.mozilla.org/sitemaps/fr/sitemap.xml)

There are, across all locales, 3,428 pages under `Doc_status`. 236 of them in `en-US`.

I'm not even sure if the kin

[2020-02-05 21:50] #6421 closed

[2020-02-05 21:59] #6396 closed

[2020-02-05 22:17] jmswisher commented on #6422
Note that there are at least two types of Doc_status pages -- en-US and other. The en-US pages are about various types of page hygiene (not all of which may be relevant under Yari); the localized ones are generally about whether pages are translated, and if they are up to date.

In the long term, we should look at what problems these pages are solving, and figure out how to solve them under Yari.

[2020-02-06 10:08] chrisdavidmills commented on #6342
@benjaminmal The problem you are referring to with the French "Suivant" button was occuring because there was a typo in the path to the "next" page — "Maths" should have been "Math".

I've fixed that, and it now works fine.

These problems generally are occuring when people translate one of the learning pages, but don't update the paths inside the macro calls that generate these buttons. Or when a

[2020-02-06 13:35] atopal opened #7157 "E - Get admin services ready for launch"
# User story
As the MDN PM I want assurance that all supporting services for subscriptions are in place so we don't have unexpected surprises

# Acceptance criteria

- [x] Legal has signed off on flow and implementation
- [x] support has mailing list in place
- [x] support has made decision on supporting launch or not
- [x] Stripe contract signed or legal has accepted current contract
- [ ] Email

[2020-02-06 13:41] atopal opened #6428 "E - Launch payments for logged-in users on profile"
# Epic | Milestones
As an MDN user I want to be able to contribute to MDN, so I can ensure it becomes better over time.

# Acceptance criteria
- [x] Logged in users can set up a stripe subscription on their profile page.
- [x] users get an email about the start of their subscription
- [x] users are informed in email about how they can cancel
- [x] users can cancel their subscriptions from website

[2020-02-06 14:29] callahad commented on #6326
Done

[2020-02-06 14:29] #6326 closed

[2020-02-06 14:56] callahad commented on #6411
We've hit a wall at 12% (12/114). Here's the output of `poetry show --outdated`:

[code]

Of those, `docutils` is "stuck" due to a constraint placed by `botocore` (boto/botocore#1942). And we have no intent to go to Django 3.x until it has an LTS release. The remaining work falls into three clusters:

1. Pytest
2. Django
3. Elasticsearch

So aside from those three clusters, we've achieved the goal

[2020-02-06 14:56] #6411 closed

[2020-02-06 14:57] callahad commented on #6412
Closing; see note in #6411

[2020-02-06 14:57] #6412 closed

[2020-02-06 15:01] callahad commented on #6175
[Renovate](https://renovate.whitesourcesoftware.com/) would also be fine, but fails on Python 3.8: renovatebot/renovate#5051.

We'll go with whichever solution gets working with Python 3.8 and Poetry 1.0 first.

[2020-02-06 15:54] peterbe commented on #6422
I like that idea. What do you think @atopal ?
If they're not `noindex, nofollow` and no longer mentioned in the sitemap, then Google won't get upset if we *don't* migrate these pages to Yari where they quickly cease to make sense.

The only reason I can imagine keeping it in Google is if a Wiki contributor/translator uses Google to navigate to these pages.

This whole discussion is actually "repea

[2020-02-06 16:26] peterbe commented on #6419
Ahaha! I thought we were talking about the kinds of terms and words that we type into the user facing templates. Because I know I've stirred on that before. /me one-track mind.

Personally, I don't think it matters what we call things behind the scenes but if you guys think it helps, I'll supportive.

[2020-02-06 16:59] #6064 closed

[2020-02-06 18:34] peterbe commented on #6420
Being able to do `?next=` redirect links that contain the domain *might* be really tricky. Tricky, because it might entail digging deep into either `django-allauth` or even `django` itself.

Would it be an option to simply forfeit it.

Suppose that you're on `https://wiki.developer.mozilla.org/en-US/docs/Foo/Bar` and click "Sign in" it MIGHT take you to `https://developer.mozilla.org/en-US/docs/Fo

[2020-02-06 20:44] peterbe commented on #6420
@atopal @tobinmori I started looking at this and unfortunately it's not as easy as I had hoped. The github sign in link appears in other places other than the upper right hand corner of the Wiki pages.

I think we can figure it all out but I just wanted to let you know that I think it's harder than I had first imagined.

[2020-02-06 23:02] hwine opened #6430 "Using deprecated feature of GitHub API"
Passing on the email only -- I have no further information:

Hello there!

On February 6th, 2020 at 22:01 (UTC) your application (Mozilla Developer Network) used an access token (with the User-Agent python-requests/2.22.0) as part of a query parameter to access an endpoint through the GitHub API.

https://api.github.com/user

Please use the Authorization HTTP header instead as using the `access_to

[2020-02-07 07:49] Konrud opened #6432 "Make sticky header for the "Browser Compatibility Table""
Proposal to make header of the "Browser Compatibility Table" sticky. That is, every time the user scrolls down, header sticks to the top, that way it always appears at the top and you don't need to remember or worst yet scroll to the top to see which column corresponds to which browser. Just look at the "Browser Compatibility Table" on the [`list-style-type`](https://developer.mozilla.org/en-US/do

[2020-02-07 10:12] atopal commented on #6430
Thanks Hal, we are dealing with the issue here: #6421

[2020-02-07 10:12] #6430 closed

[2020-02-07 10:44] #6063 closed

[2020-02-07 10:48] #6354 closed

[2020-02-07 10:51] Elchi3 commented on #6432
Thanks for your report. Moved over to mdn/kuma which holds the front-end for MDN.

[2020-02-07 12:03] #6183 closed

[2020-02-07 12:03] #6184 closed

[2020-02-07 12:03] #6186 closed

[2020-02-07 15:46] #6065 closed

[2020-02-07 16:12] peterbe commented on #6420
[This first PR](https://github.com/mdn/kuma/pull/6435) isn't complete solution. At least it takes you from the Wiki to the ability to sign in with Google. I think, if we land this, this issue will be massively reduced in severity.

[2020-02-07 17:12] mindy opened #6437 "Add `npm run test` to pre-commit hook"
**Summary**
This would ensure that all Jest tests pass before committing a change, so it's one less thing to remember to do and we will catch the error before Travis CI does.

**Audience**
Developers working on Kuma

**Rationale**
I ran into this problem as witnessed in this pull request: https://github.com/mdn/kuma/pull/6426#issuecomment-583259069

**Workaround**
Remembering to run it manually or

[2020-02-07 17:53] escattone commented on #6430
Just wanted to add that this has been resolved since 4:30pm (Pacific Time) yesterday.

[2020-02-07 19:29] peterbe commented on #6437
You're free to do whatever you want with your git hooks because, remember, they're not shared. My `.git/hooks/pre-commit` is mine. But I think you're referring to something like `husky` which "forces" everyone to have the same git hooks. Which, by the way, is problematic.

*I* rarely work on code that would have any effect on `npm run test` so if I had to wait for that on every commit it would be

[2020-02-07 19:57] peterbe commented on #6405
I'm sorry if I mumbled that. No, system checks are not an *alternative* to (headless) tests. It complements. System checks check the system. In particular, they would basically validate that the values you've put in for `settings.STRIPE_*` are sane.

If we had an infinite amount of time we should have mocked unit tests, headless tests with a stage Stripe plan, system checks, and maybe even a syste

[2020-02-07 22:52] escattone opened #6441 "U - Define requirements criteria that file organization must satisfy"
### Acceptance Criteria
- [x] Document, within this issue, a list of criteria that a GitHub file organization would have to satisfy. For example, it would have to support the ability to discover any given document's parents or children.

[2020-02-07 22:53] escattone opened #6442 "U - Document selected file organization"
### Acceptance Criteria
- [x] Document, within this issue, the selected GitHub file organization.
- [x] ADR - nothing extensive, but an explanation of how decisions were reached and why

[2020-02-07 22:54] escattone opened #6443 "E - Define GitHub File Organization for Yari"
#### Summary
The outcome of this epic is that we have defined a GitHub file organization for our content, both in terms of folder hierarchy, file formats and content, and filename conventions.

#### Breakdown of sub-tasks | Acceptance Criteria
- [x] Document a comprehensive list of questions/issues that the file organization must be able to answer/resolve (e.g., does it provide a relatively-friend

[2020-02-07 23:09] escattone opened #6444 "U - Develop one or more file organization solutions"
### Acceptance Criteria
- [x] Look at Peter's existing solution
- [x] Possibly make any tweaks/additions to the existing solution
- [x] run MySQL exporter (MySQL->local)

[2020-02-08 17:55] atopal commented on #6422
Agreed, noindex, nofollow and remove from sitemap.

[2020-02-08 18:05] atopal commented on #6419
I might be wrong about it, but I don't think most users care or understand the difference between creating an MDN profile vs creating an MDN account. I'd also standardize on accounts, but I wouldn't go out of my way to change all of it everywhere.

[2020-02-09 07:28] alattalatta opened #6445 "/ko/docs/Web/JavaScript/Reference/Global_Objects/Array/prototype"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details
I was trying to make it redirect to the main `Array` document, but I can't edit it. (404)
Seems like that if the upstream document (`/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/prototype`) is removed, localized ones throw

[2020-02-09 10:50] schalkneethling commented on #6419
Thank you for all the feedback. Here is what I am getting at:

We need to be consistent internally and externally.

I am not advocating for updating the entire codebase to refer to account vs profile. I *am* advocating for choosing terms and language norms and sticking to it going forward. It ensures that things are consistent in terms of the UI and, it makes it easier to talk about and reason abo

[2020-02-10 10:25] Gregoor commented on #6405
I didn't put that great, thanks for the correction. What I was trying to say is: for the particular things we wanted to test it could be an alternative, not a general alternative for all headless use-cases.

[2020-02-10 15:16] tobinmori opened #6449 "T - Upgrade Pytest and related dependencies (coverage.py, etc.)"

[2020-02-10 15:18] tobinmori opened #6450 "U - Upgrade Django and related dependencies"
@callahad, I've created this functionally as an Epic so that we can attach tasks to it.

[2020-02-10 15:22] tobinmori opened #6451 "T - Upgrade Elasticsearch libraries"

[2020-02-10 15:29] #6450 closed

[2020-02-10 16:32] peterbe commented on #6445
It's not the first time we've seen this. The reasons is that https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array is deleted. (aka. soft delete)
<img width="1162" alt="Screen Shot 2020-02-10 at 11 28 30 AM" src="https://user-images.githubusercontent.com/26739/74169130-d2460c00-4bf8-11ea-9e7f-67a391d4bce8.png">

I think a simple solution is to dig into the `$e

[2020-02-10 16:39] mindy commented on #6437
Thanks for all of that context @peterbe. I think I used the wrong term, which is confusing-- you're right, I was referring to `husky`. I was suggesting to add it to the `precommit` script in package.json:
`"precommit": "npm run eslint && npm run stylelint && npm run pretty-staged"`

With the existing test suite it would add about 5s and that number would (hopefully) only grow as more tests are add

[2020-02-10 16:39] #6437 closed

[2020-02-10 16:54] tobinmori commented on #6409
Good questions and thanks for filing this @peterbe

I believe @atopal said that we should delete the subscription upon acct deletion, but can you verify @atopal?

This would mean: canceling the Subscription via Stripe API, then deleting the user acct/customer id in MySQL.

Caveat: We need to be VERY sure that the subscription is deleted from Stripe, because once we delete the customer_id we'd have

[2020-02-10 17:02] peterbe commented on #6445
I can reproduce this locally.

[2020-02-10 17:12] a2sheppy commented on #6391
Sorry about forgetting to include examples. Here we go:

* https://developer.mozilla.org/en-US/docs/Web/API/WebXR_Device_API/Cameras#Positioning_the_camera
* https://developer.mozilla.org/en-US/docs/Web/API/XRRigidTransform/matrix
* https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/getTransform
* https://developer.mozilla.org/en-US/docs/Web/API/RTCIceCandidateStats/priority