[2019-10-07 09:45] schalkneethling commented on #5890
Wow, thanks so much for all of this @evanplaice 👍  really, really appreciate it. I will have a detailed read through all of this.

[2019-10-07 11:41] a2sheppy commented on #5932
@Elchi3 - I filed this on the mozilla/kuma repo because I thought the style changes needed here would need to be handled on the dev side of things.

[2019-10-07 11:42] a2sheppy commented on #5932
Glad others agree with me on this thought — it's pretty rare that it's a good idea to use features that are behind prefs in real world code. :)

[2019-10-07 11:46] Elchi3 commented on #5932
Not sure there are kuma style changes needed. I would first look at the cell classes which are determined by the `getSupportClass` function in the macro. It needs to take into account the case "`supportInfo.flags`". https://github.com/mdn/kumascript/blob/master/macros/Compat.ejs#L236.

[2019-10-07 11:48] Elchi3 commented on #5932
[And then tests are also required on the macro side to make sure this is always styled correctly (there are existing tests that test for similar behavior).]

[2019-10-07 12:42] peterbe commented on #5941
I see a lot of redundant labels that can be merged.

- [ ] `type: feature improvement` -> `improvement` (or should it be other way around?)
- [ ] `support work` -> `support work`
- [ ] `tech debt` -> `cleanup`
- [ ] `type: refactor` -> `refactor`
- [ ] `type: deploys` -> `deployment`
- [ ] `type: bug` -> `bug`
- [ ] `can we close?` -> `needs answer`

Some make absolutely not sense to *me* but chim

[2019-10-07 12:48] peterbe commented on #5941
A lot of these smell of a mix of personal taste and historic legacy. The legacy we can get away from. (Does GitHub support removing tags as an *option* but leave them intact on existing issues/PRs?)
But the personal taste I don't think we can get away from. People call things different things and trends come and go.

It is also inevitable that tags *mean* different things to different people as di

[2019-10-07 12:59] schalkneethling commented on #5911
Hey @escattone,

Here is what I think needs to be investigated:

### What do we get back from Github post auth?

### We seem to have the username that is associated with the Github account, and then also their email addresses. I assume verified for email addresses here means verified on the Github side?

### Currently, once a user clicks `Create account`, we check whether the username already exis

[2019-10-07 16:16] tobinmori commented on #5940
Apologies, our database, as it's currently set up, does not support 4 byte encoding.

We will open up an issue to investigate updating our db and migrating the data to support UTF-8mb4.

[2019-10-07 16:22] atopal commented on #5939
Hey Hwan, I'm not seeing a redirect? We'll look into the server error. Can you say what "this link is dead" means?

[2019-10-07 16:24] peterbe commented on #5672
We don't do that unless you're a core contributor. Make a pull request and hope that your PR came in first.

[2019-10-07 16:26] peterbe commented on #5881
As mentioned elsewhere, we don't assign issues to contributors. Sorry. Your best course of action is to make a pull request.

[2019-10-07 16:33] tobinmori commented on #5886
Timebox to 1 day.

[2019-10-07 16:36] tobinmori opened #5942 "Upgrade MySQL to support UTF-8mb4"
So that. . .we an support Chinese chars.

[2019-10-07 16:36] tobinmori commented on #5940
This issue has been added to our backlog:
Upgrade MySQL to support UTF-8mb4#5942

[2019-10-07 16:36] #5940 closed

[2019-10-07 16:37] schalkneethling commented on #5905
Pull request opened by @nsiregar

[2019-10-07 16:37] schalkneethling commented on #5924
Pull request opened by @nsiregar

[2019-10-07 16:37] Shivansh2407 commented on #5672
Can You please list all the files so that I can work and complete this issue....Please let me know soon

[2019-10-07 16:37] tobinmori commented on #5942
In reference to this issue:
Internal Server Error occurs when some chapters are translated into Chinese#5940

[2019-10-07 16:38] schalkneethling commented on #5906
Pull request opened by @nsiregar

[2019-10-07 17:28] tobinmori opened #5943 "EPIC: Upgrade Python 2.7 to Python 3"

[2019-10-07 17:31] #5943 closed

[2019-10-07 18:06] ankiiitraj commented on #5672
@peterbe Thanks for the help.

[2019-10-07 21:53] #5892 closed

[2019-10-08 00:30] escattone commented on #5911
Thank you @schalkneethling!

[2019-10-08 10:09] Gregoor commented on #5896
Does #5934 address this?

[2019-10-08 12:02] Eddcapone opened #5945 "Why firefox removed the 3D View feature?"
I am talking about this [feature](https://developer.mozilla.org/en-US/docs/Tools/3D_View).

It was really useful and it set firefox apart from chrome.

[2019-10-08 12:26] Eddcapone opened #5946 "Why does the developer console not start on old firefox versions?"
I installed some old firefox versions from [v44](https://ftp.mozilla.org/pub/firefox/releases/44.0/win64/de/) to v46 because there is a cool 3D View feature (See issue #5945 ) which was removed since v47, and noticed that the developer console does not start.

Does firefox intentionally disable it on older versions in the archive?

[2019-10-08 13:18] schalkneethling commented on #5896
Indeed it will, so you can add Fixes ... in the PR referencing this one as well. Thanks!

[2019-10-08 14:54] #5929 closed

[2019-10-08 15:39] sideshowbarker opened #5947 "MDN system no longer sending me e-mail notifications for articles/trees I watch"
My MDN account is at https://developer.mozilla.org/en-US/profiles/sideshowbarker. I have a number of watches set up for several article trees and individual articles. But on July 27th, I stopped receiving any e-mail notifications for those watches.

Prior to that, I was receiving about 15 to 20 e-mail notifications each day.

Today I tried changing my e-mail address in the system — to see if that

[2019-10-08 15:43] peterbe commented on #5946
Please use: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Console

[2019-10-08 15:43] #5946 closed

[2019-10-08 16:02] escattone commented on #5947
@sideshowbarker Thanks for the update! I'll close this, but of course you can re-open this if you discover something is amiss.

[2019-10-08 16:02] #5947 closed

[2019-10-08 16:28] #5924 closed

[2019-10-08 17:54] peterbe opened #5949 "Expose the "raw Kuma HTML" in the Document JSON API"
The Document JSON API only contains some meta data, the `tocHTML`, the `quickLinksHTML`, and the `bodyHTML`. If you want to find out, to "reverse engineer", **how KS macros were called** you have to  `GET {FULL_DOCUMENT_URL}?raw`. This won't scale if you need to try to convert thousands of documents to static files to put pushed through the static site generation stuff in Stumptown for example.

[2019-10-08 18:03] peterbe commented on #5949
I propose we add a new field like `kuma_html` to `kuma.api.v1.views.document_api_data`'s response.

If we had that, since those are published to an S3 bucket we'd be able to do an S3 batch operation to download N documents and extract the rendered HTML *and* figure out what the HTML became AND what various arguments were when calling `{{Compat(.*?)}}`.

[2019-10-08 18:31] escattone commented on #5949
@peterbe Would it be at least equally helpful (maybe even more helpful) to include a list of all of the macro calls and their arguments, rather than the entire raw document? I'm wondering if it might be worthwhile to explore that path in order to reduce the amount of duplication in the data. Or maybe for reverse-engineering purposes it's really helpful to have the macros "in situ"?

[2019-10-08 18:37] peterbe commented on #5949
All excellent points @escattone and I think it's worth slowing down to carefully test what's needed and what works. I already implemented what this issue says, in a branch, and I now have an S3 bucket full of JSON documents that have the rendered HTML and the raw HTML so with that I *should* be able to produce an auxiliary file structure that I can send through the stumptown pipes.

This is my sku

[2019-10-08 22:12] wbamberg commented on #5949
FWIW I've been doing something similar, to scrape Wiki pages for stumptown. For this, most macro calls I will simply remove (by taking the "?raw&macros" and converting to Markdown). But there are some - only `Compat`, `EmbedLiveSample`, `EmbedInteractiveSample` at the moment - that I want to convert into something stumptowny.

And for that I've been using "?raw" to get the version with the macro c

[2019-10-08 23:36] peterbe commented on #5949
I've been thinking about it some more. But probably not enough.

Just getting the docs down to disk is hard. I think the best idea is to write a program that more or less gets all the Document JSON API docs down to disk is a task on its own. Then, I think the `scrape-mdn.js` would need to be broken up. Instead of getting one URL at a time, it would get one local file at a time. Then, when running

[2019-10-09 00:50] escattone commented on #5911
@schalkneethling Wow, trying to understand the code behind account signup is a mind-bending experience. The functionality is so scattered among various classes, base classes, adapters, templates, and so on among `kuma.users`, `django-allauth`, and `django`. Here's what I've found so far:

- Within the `kuma/users/jinja2/socialaccount/signup.html` Jinja2 template (which is used for the signup flow)

[2019-10-09 01:36] muling800 commented on #5940
Thank you for your reply

[2019-10-09 04:41] escattone commented on #5911
@schalkneethling Here's a summary of what I think I should do for you at the very least:

- Create a new function `is_username_taken(user)` available to Jinja
- Create a new API endpoint for doing the same

I'm not sure I understand what you need regarding an email address. Do you want something like the above but for an email address instead of a username? If that's the case, however, my understa

[2019-10-09 09:25] MatonAnthony commented on #5949
Couldn't we just get a slave db and run a second Kuma in maintenance mode, then we could just use a celery task to write all documents to an S3 bundle?

If this doesn't sound totally stupid, I can expose my idea in more details.

[2019-10-09 12:51] schalkneethling opened #5950 "Stop serving bug1522937-iex-test.js"
As part of the `wiki` JavaScript bundle, we are still including 'js/utils/bug1522937-iex-test.js'. This is no longer needed so we can safely remove the inclusion inside `common.py` and delete the `.js` file.

[2019-10-09 13:51] schalkneethling commented on #5950
@Gregoor assigned this to you for review as the reviewer asked for your review ;p

[2019-10-09 14:52] ankiiitraj commented on #5672
Hi @peterbe little help. How to do changes on {% javascript '...' %} in various *.html jinja files.

[2019-10-09 15:01] peterbe commented on #5672
The `{% javascript 'some-thing' %}` tag in a Jinja template basically corresponds to what's in `PIPELINE_JS` in `kuma/settings/common.py`.
For example, look at: https://github.com/mozilla/kuma/blob/f28dd92eab09dd3fbabc927b0e15da9ea8d98229/kuma/settings/common.py#L953-L963

What this means it the key is `banners` so you'd type: `{% javascript 'banners' %}` and would turn that into `<script src="/st

[2019-10-09 15:26] atopal commented on #5911
Sorry for butting in, just saw this and that is most likely for usage on github. When you use the github interface to fork, commit and send a pull request, it will use your full email address by default. You can set your email address to private and not have it show up in public commits.  I don't think this affects us. We should suggest their primary email address regardless of whether its set to

[2019-10-09 18:03] peterbe opened #5954 "Strange footer article metadata display"
**Summary**
<img width="763" alt="Screen Shot 2019-10-09 at 1 55 56 PM" src="https://user-images.githubusercontent.com/26739/66507161-ab39cb00-ea9c-11e9-8ec0-95915bbc25ef.png">

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. Visit https://developer.mozilla.org/en-US/docs/Games/Anatomy
2.  Scroll down
3. Read about when it was last modified

**Actual behavior**
_What actually

[2019-10-09 18:06] peterbe commented on #5954
The use of `<header>` was introduced 3 months ago.
https://github.com/mozilla/kuma/commit/b0801bd05aeb5be02da78bbb74e56ad0325ef4f1

Strange that we didn't notice this strange whitespace until now. Perhaps recent refactoring of CSS caused this.

[2019-10-09 18:23] #5949 closed

[2019-10-09 18:23] peterbe commented on #5949
@MatonAnthony No need. Ryan and discussed this and the true solution lies elsewhere.

[2019-10-09 18:37] peterbe opened #5955 "The whoami endpoint is slow"
The URL https://developer.mozilla.org/api/v1/whoami is slow to respond.
For anonymous users it takes on average 0.8s and 0.4s median.

For authenticated users it takes on average 0.5s and 0.4s median.

This is strange because we know authenticated users using that endpoint triggers many more SQL calls.

For logged in users, the fact that it's slow means that it takes longer for the "Sign in" link

[2019-10-09 18:43] peterbe commented on #5955
What we *could* do is use `sessionStorage` for authenticated users and cache that you're logged in. Like this:
[code]

[2019-10-09 19:16] peterbe commented on #5955
UPDATE. I ran it again for anonymous users and the times are now the same as for authenticated users. Perhaps the server was just extra busy that first time I ran it.

[2019-10-09 19:19] peterbe commented on #5955
By 60% the most time-consuming part of that view is the Redis GET calls.
<img width="736" alt="Screen Shot 2019-10-09 at 3 17 12 PM" src="https://user-images.githubusercontent.com/26739/66512909-f1e0f280-eaa7-11e9-92fa-1f66743aceda.png">

In a sense we could just cache the whole response if the user is anonymous but then we'd need still need to make sure the waffle flags that rely on random percen

[2019-10-09 19:43] ankiiitraj commented on #5954
Can I help in solving this issue? Guide me in this please!

[2019-10-09 23:39] escattone commented on #5911
@atopal That's a great point, thanks so much for you input!

[2019-10-09 23:58] escattone commented on #5888
This turned out to be much easier than I anticipated, and the answer emerged from my work on #5911:

Within the `kuma/users/jinja2/socialaccount/signup.html` Jinja2 template (which is used for the signup flow), there is an `account` Python variable, which, for example, is used [here](https://github.com/mozilla/kuma/blob/f28dd92eab09dd3fbabc927b0e15da9ea8d98229/kuma/users/jinja2/socialaccount/signu

[2019-10-10 06:45] schalkneethling commented on #5954
Oh boy, I found this when I was working on https://github.com/mozilla/kuma/pull/5952, but I am more than happy to remove it from that PR and use @joedarc fix.

[2019-10-10 08:16] Elchi3 opened #5957 "Search json endpoint is not available in new front-end"
**Summary**
https://twitter.com/klaascuvelier/status/1182203293117886464

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

Go to https://developer.mozilla.org/en-US/search.json?q=array

**Actual behavior**
Blank page

**Expected behavior**
JSON is returned like it is now only at https://wiki.developer.mozilla.org/en-US/search.json?q=array

**Additional context**
There might be a f

[2019-10-10 10:13] schalkneethling commented on #5954
Someone else has grabbed this one already @ankiiitraj - I will keep an eye out for another issue and let you know.

[2019-10-10 10:54] #5824 closed

[2019-10-10 11:23] schalkneethling commented on #5911
Thanks so much @escattone that sounds great!

[2019-10-10 12:07] chxlvwh opened #5958 "Chinese search page throws error"
when I search a keyword in search input，it will show an error page with a header 'Application rendering error' on it, and a sentence 'An unhandled error occurred in the application. We apologize for the inconvenience!' under the title

[2019-10-10 12:11] atopal commented on #5958
Hey there, can you tell what you were searching for and what browser you were using?

[2019-10-10 12:20] chxlvwh commented on #5958
Almost all content. The browser is Chrome and the version is 77.0.3865.90. Oh, I just switched languange to English, and it worked well, and Japanese as well. Only Chinese does not work. Maybe you can open this site 'https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Symbol/for' and search on this page.

[2019-10-10 12:25] atopal commented on #5958
Thank you! Yeah, it looks like it's Chinese specifically.

[2019-10-10 12:36] chxlvwh commented on #5958
Em...by the way, how long will the problem be solved. The MDN is funny.

[2019-10-10 12:37] peterbe commented on #5958
Annoyingly the error doesn't happen locally:
<img width="1494" alt="Screen Shot 2019-10-10 at 8 36 11 AM" src="https://user-images.githubusercontent.com/26739/66569245-22bd3800-eb39-11e9-9914-380af6b45f3f.png">

Something did change today with regards to how search works. Perhaps it got fixed.

[2019-10-10 12:38] peterbe commented on #5958
Assuming it's easy to figure out what's wrong, it'll take minutes.
But it might take days to have it fully fixed, reviewed, and deployed.

Do you want to help out? All you need is docker.

[2019-10-10 12:40] peterbe commented on #5958
@chxlvwh If it helps you can just put in `wiki.` at the start of the URL and it should work there: https://wiki.developer.mozilla.org/zh-CN/search?q=%E6%96%B9%E6%B3%95%E4%BC%9A%E6%A0%B9%E6%8D%AE%E7%BB%99%E5%AE%9A%E7%9A%84%E9%94%AE

[2019-10-10 12:54] peterbe opened #5959 "DOMException on some pages due to invalid selectors"
E.g. https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout

Error:
[code]

[2019-10-10 12:55] peterbe commented on #5959
Same error here: https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform

[2019-10-10 12:56] peterbe commented on #5958
See if you can get up and running on https://kuma.readthedocs.io/en/latest/installation.html and ping if you get stuck.

[2019-10-10 13:00] peterbe commented on #5959
The curious thing is that the error is "caused" by HTML like this:
[code]
But if you go to https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/text-transform and, when logged in, and Shift refresh the new HTML becomes:
[code]

which the React code should be able to cope with.

[2019-10-10 13:00] peterbe commented on #5959
After having done that, https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform now works.

[2019-10-10 14:20] peterbe commented on #5959
Some pages just need to be re-rendered (on the wiki) and then they work.
Other pages don't work. Like this Korean page: https://developer.mozilla.org/ko/docs/Web/CSS/linear-gradient
I think it's failing because of the non-ascii characters in the DOM ID.

[2019-10-10 14:22] peterbe commented on #5959
Oops! Didn't mean to press the close button.

[2019-10-10 14:28] schalkneethling commented on #5959
Yup, I have seen that as well. Wonder if we can kick-off a re-render of all the pages. Should solve the majority of the errors no?

[2019-10-10 14:33] peterbe commented on #5959
I think we should do that. But it won't solve all pages. E.g. [this Korean page](https://developer.mozilla.org/ko/docs/Web/CSS/linear-gradient)

[2019-10-10 14:43] peterbe commented on #5959
Another page where it doesn't help to re-render: https://developer.mozilla.org/zh-CN/docs/Web/CSS/linear-gradient

[2019-10-10 15:26] peterbe commented on #5959
The ACTUAL solution is a bit more non-trivial but perhaps worth persuing sooner rather than later. The code that takes the `<h3>` content and "slugifies" it should also do something like `text.replace(/^\d+/g, '')` but what happens if the HTML input was `<h3>1234</h3>` then you'd get `<h3 id="">1234</h3>`.

[2019-10-10 15:32] peterbe opened #5961 "People are redirected to https://www.mozilla.org/en-US/newsletter/"
Originally from: https://bugzilla.mozilla.org/show_bug.cgi?id=1587802

User reported that no matter which page he/she goes to it redirects to https://www.mozilla.org/en-US/newsletter/

[2019-10-10 15:40] peterbe commented on #5959
Also, if you just remove leading digits from the generated ID, you could cause non-distinct IDs. E.g.
[code]
would become
[code]

To solve that, a better solution might be something like this:
[code]
Then you'd get:
[code]

[2019-10-10 16:39] schalkneethling commented on #5961
It is very strange that this would happen simply by visiting a page. With that said, the newsletter code has the following logic:

If a user completes all required field for the form and the clicks the button to subscribe, the code will:

1. Attempt to subscribe the user using a `fetch` call
2. Should the server respond with a failure, but the `errors` array is empty(https://github.com/mozilla/kum

[2019-10-10 16:53] schalkneethling commented on #5961
Found this piece of code:
https://github.com/mozilla/kuma/blob/master/kuma/javascript/src/newsletter.jsx#L172

[code]

It seems to trigger a form submit onload if both `submitToServer` and `newsletterForm` is true. It does however set `submitToServer` to false, which means it should attempt it using `fetch`

With all of that said though, I am unsure why this piece of code exists at all @Gregoor an

[2019-10-10 16:58] Gregoor commented on #5961
Flabbergasted by the original issue atm, here is what's in my mind:

So this code I turned into something effect-y because the previous code relied on storing state in the DOM, which wasn't very React. As Schalk correctly identified this will only be set to true if the form was already submitted once and the server returned an empty errors array, i.e.:
[code]

[2019-10-10 17:03] schalkneethling commented on #5961
@Gregoor what would happen if we removed that piece of `useEffect` code? Will the form still work as expected when a user interacts with it i.e. clicks the subscribe button?

[2019-10-10 17:05] Gregoor commented on #5961
So in my mind this can only happen when something makes the form auto-fill and auto-submit. The most likely culprit is a password-manager. It would also need to fill the form and check the box, and on top of that the server needs to respond with an empty-error array. Smells fishy to me.

@pmclanahan Do you know in which case basket would return an empty errors array?

Yes! It should still work fin

[2019-10-10 17:20] Gregoor commented on #5961
Okay alternative explanation: It's not that piece of code but rather using that form with JS disabled. Then again the privacy checkbox doesn't even show up with JS disabled, which we might want to treat as a separate bug. So something like a password manager would still need to be involved. Without JS the form would straight up redirect to `m.o/newsletter`

[2019-10-10 17:25] schalkneethling commented on #5961
Agreed. That is why I prefer the pattern of, show everything and then hide things with JS when enabled.

You would still need to click the button though, especially with JS disabled. A very strange bug indeed.

[2019-10-10 20:00] tobinmori commented on #5959
@peterbe won't that just bluntly replace 1+ starting numbers with an 'n'?

Maybe something kinda like?
[code]

[2019-10-10 20:09] escattone commented on #5959
I wrote a one-off script to re-render all 381 pages listed in Google Analytics, and ran it. The script included CDN invalidations, so hopefully the re-rendered pages would be picked-up immediately. Of course, this only resolves the issue some of the pages.

[2019-10-10 20:12] a2sheppy opened #5964 "Spurious finger pointer cursor in compat tables"
When mousing across the compatibility tables, the cursor flickers from the normal arrow to the "link" pointing-finger cursor and back again as you mouse past the blue-ish bottom edge of the compatibility table. If you manage to pause at that time, you can stop with the cursor still in finger mode.

Image attached is a photo since screenshot apps don't capture the shape of the cursor reliably:

![m

[2019-10-11 00:37] Red-Owl opened #5965 "window.crypto.subtle.importKey, usage sign, and(lost) decrypt"
var cucco = window.crypto.subtle.importKey(
    "pkcs8",
    binaryDer,
    {
      name: "RSA-PSS",
      modulusLength: 2048,
      publicExponent: new Uint8Array([1, 0, 1]),
      hash: "SHA-256",
    },
    true,
	["sign"]   <------ (add decrypt)
  );

if import private key is not possible to decrypt a message.

the rsa have a 2 usage of key
encrypt by private key and decrypt in public key (ye

[2019-10-11 00:59] #5954 closed

[2019-10-11 01:32] #5958 closed

[2019-10-11 02:06] escattone commented on #5958
The chain of events, starting from the root cause, was as follows:
- We do not send the locale's `pluralFunction` (used within `ngettext`) with the data that we encode into `window._react_data`. During SSR, the proper `pluralFunction` is defined and used, but it's never encoded back into what we send to the client, so the incorrect `pluralFunction` is not available during hydration on the client s

[2019-10-11 02:25] chxlvwh commented on #5958
Looks good! But I tryed right now and it still didn't work . Is it the reason that it has not been deployed?

[2019-10-11 02:34] escattone commented on #5958
@chxlvwh It's fixed now. I hadn't yet deployed when you tried a bit earlier. Thanks again for reporting this!

[2019-10-11 02:35] escattone commented on #5958
By the way, I was able to replicate this and debug locally by checking out [this commit](https://github.com/mozilla/kuma/commit/a5631c5a33f8f4ccc1bacfa0f3050d5ff9d7f34e).

[2019-10-11 02:41] chxlvwh commented on #5958
Great! Search results pages are perfectly presented.Thank you for solving this problem so quickly.

[2019-10-11 02:45] escattone opened #5968 "data.pluralFunction is always undefined on the client side"
**Summary**
We're not sending the `pluralFunction` within the data we encode for the client side within `window._react_data`.

See https://github.com/mozilla/kuma/issues/5958#issuecomment-540868712

[2019-10-11 02:54] escattone commented on #5968
We could add `data.pluralFunction = pluralFunction;` [here](https://github.com/mozilla/kuma/blob/45586d915cc6b5e68096e27032e2b85fe9ed69da/kuma/javascript/src/ssr.jsx#L38). But I haven't tested it yet, and it only addresses the case when we're doing SSR, not the case when we're only doing client-side rendering. (I know David Flanagan wanted to define the plural function on the server-side to avoid

[2019-10-11 05:02] escattone commented on #5965
I'm not sure what group you intended this message for, but the issues in this repo are for [MDN Web Docs](https://developer.mozilla.org/en-US/).

[2019-10-11 05:02] #5965 closed

[2019-10-11 07:21] chxlvwh opened #5969 "AttributeError: 'NoneType' object has no attribute 'sites'"
**Summary**
_What is the problem?_
I was installing `Kuma` on my computer.
When I run the command `docker-compose exec web ./manage.py configure_github_social`, console desk show the Error `AttributeError: 'NoneType' object has no attribute 'sites'`.

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. Get in [https://kuma.readthedocs.io/en/latest/installation.html#load-the-sample

[2019-10-11 09:09] Netlic opened #5970 "Possible bug on FileSystemFileEntry.file()"
Hello, it seems, that **FileSystemFileEntry.file()** success callback does not return a file with populated mime type when uploading directory.

For example in drag and drop, when the whole directory tree is being uploaded, every file is "application/octet-stream".

When only files are being uploaded, mime types are correct.

I'm using [webkitGetAsEntry API](https://developer.mozilla.org/en-US/doc

[2019-10-11 09:20] schalkneethling opened #5971 "CTA to file an issue with errorBoundry"
I was wondering, should we include a call to action when an error boundary is triggered asking our users to report the issue to us via Github?

Something like:

An unhandled error occurred in the application. We apologize for the inconvenience! You can [notify the development team by opening an issue](https://github.com/mozilla/kuma/issues/new/choose) on our Github repository. Thank you for using

[2019-10-11 09:29] atopal commented on #5971
We can see all of the errors in GA already together with their frequency. What would be the purpose of asking them to file an issue? Maybe a way for them to follow along and be notified when it's fixed?

[2019-10-11 09:32] schalkneethling commented on #5970
Hi there @Netlic, thanks for reaching out. Is this something you read in the docs or an article on MDN? If you can link to the article, I can bring this to the attention of the appropriate people. Thanks!

[2019-10-11 09:42] schalkneethling commented on #5964
Thanks for reporting @a2sheppy - I suspect the cause is the `Flag as incorrect` link/button has a very wide hit area. I will take a look.

[2019-10-11 10:23] Gregoor commented on #5969
Thanks for reporting this! Looks like I got confused with logical operators. PR is on the way.

[2019-10-11 10:47] #5969 closed

[2019-10-11 12:30] apboon commented on #5961
Hey, original reporter here,

I think I found the problem. Both `accounts.firefox.com` and `developer.mozilla.org` are using a `<input>` with a `name` attribute set to `email` (`<input name="email" />). I have my LastPass **automatically** log into `accounts.firefox.com`, but this is associated with `developer.mozilla.org` too. Therefore LastPass automatically fills in my email address into the Ne

[2019-10-11 12:39] apboon commented on #5961
Reading previous comments, I think you guys are on to something regarding the form still able to submit (by a password manager) while the privacy checkbox isn't checked.

[2019-10-11 14:43] peterbe opened #5973 "Lack of whitespace between "Last modified:" and date"
<img width="413" alt="Screen Shot 2019-10-11 at 10 42 03 AM" src="https://user-images.githubusercontent.com/26739/66660825-e7436c00-ec13-11e9-89a4-0862b95680f4.png">

The colon in `...modified:` and the `S` from `Sep...` are stuck together.

[2019-10-11 15:05] Gregoor commented on #5961
Thanks for getting back to us! I unfortunately wasn't able to reproduce it in Fx nor Chrome with LastPass enabled. On neither browser auto-fill tried to submit the form and I didn't get a redirect.
From your description I was also surprised that accounts.firefox.com would affect MDN, given that they're on separate domains. But maybe I'm just underestimating LastPass.
Would you mind sharing which O

[2019-10-11 15:22] peterbe commented on #5959
Re-render only solves the problem with those ancient docs that allowed control characters in the ID. It doesn't solve the problem with IDs that start with a digit.

[2019-10-11 15:25] peterbe commented on #5959
@tobinmori Your response isn't wrong but I wrote the wrong pseudo code. What I implemented, in Python, was this:
[code]

[2019-10-11 15:32] #5973 closed

[2019-10-11 15:39] peterbe opened #5975 "Use semantic HTML for "Last modified" piece"
This is a follow-up to https://github.com/mozilla/kuma/pull/5974

Here's what the HTML looks like:

[code]
<img width="411" alt="Screen Shot 2019-10-11 at 11 34 47 AM" src="https://user-images.githubusercontent.com/26739/66664762-2923e080-ec1b-11e9-8124-76ff4b4cf52c.png">

The problem is that `h4` is naturally a block element so it requires CSS to force it to be `display:inline-block`.

Here's wha

[2019-10-11 15:43] apboon commented on #5961
OS: KDE neon 5.16 (User Edition)
Browser: Chromium version 77.0.3865.90 (Official Build) built on Ubuntu, running on neon 18.04 (64-bit)

I think LastPass recorded the progression/redirect between the websites and saved a list to which the password entry applies. Although I am not sure..

Did you use the `Autologin` setting within the password entry?

[2019-10-11 16:47] #5950 closed

[2019-10-11 17:27] joedarc commented on #5975
I'd be happy to submit a PR for this. However, I think I'd like to see some input from @schalkneethling on this because of his comment [here](https://github.com/mozilla/kuma/pull/5956#discussion_r333352815).

[2019-10-11 19:29] estelle opened #5976 "Reverted versions overriding updated version"
https://wiki.developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms

I edited the page and saved it.
I then continued to edit, and saved it again.
When I saved it, it saved a previous version of the page rather than the document i was saving.

This is the second time something like this has happened in this one document. Previous time was during the migration to the new version, and

[2019-10-11 21:03] escattone commented on #5959
There is another class of errors as well. Today I fixed https://developer.mozilla.org/fr/docs/Web/CSS/filter. The issue wasn't due to something that we currently clean-up via the code. It used `div` elements with `id`s containing `(` and `)`, like `id="blur()"`, which were in turn referenced by `EmbedLiveSample` calls, like `EmbedLiveSample("blur()", ...)`. I manually edited the content to make it

[2019-10-11 21:15] escattone commented on #5959
I fixed https://developer.mozilla.org/de/docs/Web/CSS/content manually as well. It was in the same class of errors as described immediately above. However, in this case the `id` that was causing an error [here](https://github.com/mozilla/kuma/blob/8e094c909c4444e6245b2f8419ddd549dd02bbcd/kuma/javascript/src/live-examples.js#L51) was `Code_sample_-_adding_an_icon_after_text.`, and in particular it

[2019-10-11 21:25] escattone commented on #5959
https://developer.mozilla.org/ko/docs/CSS3_Columns belongs in that class as well. Again, this class is defined by the fact that our current `injectSectionIDs()` Python code doesn't process `id`s on `div` tags.

[2019-10-11 21:32] joedarc commented on #5975
My thoughts on this:

I don't think using a `<b>` tag is a good fix for this because that's supposed to be deprecated in HTML5. It shouldn't be used exclusively for styling purposes.

Along those lines, I don't believe `<strong>` is correct either because it should really only be used for things that have significant importance.

Currently there is an `<h4>` there, but that gets introduced into th

[2019-10-11 21:44] escattone commented on #5959
https://developer.mozilla.org/pt-BR/docs/Web/CSS/:checked belongs in the original class, because the `id` is on a tag (`h3`) that is processed by `injectSectionIDs()`, but isn't addressed by #5960 since the offending characteristic of the `id` of the `h3` tag is that it ends in a period (in this case `Usando_checkboxes_escodindos_para_amarzenar_algum_valor_booleano.`). Also, this is another case w

[2019-10-11 22:23] escattone commented on #5959
Fixed https://developer.mozilla.org/ja/docs/Web/Guide/CSS/Using_multi-column_layouts manually. It belongs in that class where the live samples use `id`s on `div`s rather than `h1`-`h6` tags.

[2019-10-11 22:56] escattone commented on #5959
Fixed https://developer.mozilla.org/fr/docs/Web/CSS/imagefunction manually. It was another `EmbedLiveSample` case that used an `h3` tag with an offending `id` (`id="Afficher_une_partie_(sprite)"`) referenced in the call to `EmbedLiveSample` (`EmbedLiveSample("Afficher_une_partie_(sprite)", ...)`. The `id` of the `h3` tag is cleaned to `"Afficher_une_partie_sprite"`, but the query code in `live-exa

[2019-10-12 00:24] escattone commented on #5959
I've spent almost the entire the day looking at over 150 of the documents that had reported rendering errors to GA since we launched the `beta` domain, just to get a better idea of the context here. I think the only part of #5960 I feel certain about is the `try-except` wrapper around the `id`-based DOM queries in `live-examples.js`. I'm not sure if anything else is worth the effort. It may be, bu

[2019-10-12 12:37] tobinmori commented on #5623
the header appears on the beta site, so closing this.

[2019-10-12 12:41] ExE-Boss commented on #5623
The header that appears on the beta error pages is the wiki header, not the react header, so this should maybe be converted to changing the header to be the react header.

[2019-10-14 03:00] #5906 closed

[2019-10-14 03:04] schalkneethling commented on #5971
Everything @peterbe said :) plus, it gives the user an opportunity to provide us with extra context that can vastly improve debugging and allow us to more quickly fix problems.

[2019-10-14 03:13] schalkneethling commented on #5961
Thank you so much for the additional information @apboon - This is going to be super useful for debugging this issue. The one thing that I find odd is, with autofill, it will most likely fill in the email field but, would it also tick the privacy field checkbox?

If not, the form should not submit unless `novalidate` is set on the `form` element. Should it somehow submit without the privacy checkb

[2019-10-14 03:15] #5905 closed

[2019-10-14 03:38] schalkneethling commented on #5975
I know, I remembered that as well. Having read a StackOverflow post, and then the WHATWG spec, it does indeed seem that they backtracked and both `b` and `i` are still valid, however, they have been given different semantic meanings from `strong` and `em`.

From the docs for `b`
https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-b-element

After having thought about this some mor

[2019-10-14 08:15] schalkneethling commented on #5959
Phew, that is a *ton* of work done by you all. Thanks so much, @peterbe and @escattone

[2019-10-14 09:01] schalkneethling opened #5977 "[Newsletter] Privacy checkbox hidden when JS disabled"
**Summary**

The privacy checkbox is hidden for users with JS disabled on the newsletter signup form.

**Steps To Reproduce (STR)**

Go to any page with a newsletter signup form with JS disabled in the browser

1. The privacy checkbox is hidden
2. Clicking on submit will no submit the form as the privacy field is required, but the user will not be aware of the missing field

**Expected behavior**

[2019-10-14 09:48] apboon commented on #5961
It would not. Sometimes there's a required checkbox on a login form, I always need to manually tell LastPass to check it for Autologin to work.

I am unsure how LastPass submits the form.. if it is even submitting the form and not instead creating a clone of the form (just an example)..

Is validation being checked on form `onsubmit` or the submit button's `onclick`? Because I can imagine LastPass

[2019-10-14 11:07] atopal commented on #5959
@escattone agreed, we can fix the remaining ones manually, and with the try-except wrapper only the iframes would be broken, right? And if so, they were already broken before?

[2019-10-14 11:11] atopal commented on #5959
Never mind, I misunderstood, the live sample iframes are currently not broken.

[2019-10-14 13:51] tobinmori opened #5979 "[Epic] Implement Google Auth for MDN User Accts"
**Summary**
_What problem would this solve?_
Increase logged in users on MDN

**Audience**
_Who has this problem? Everyone? Article authors? Etc._
Anyone trying to log in.

**Proposal**
_Do you have suggestions for solving this problem?_
Enable users to log in to MDN using their Google accts.

**Additional context**
_Is there anything else we should know?_

[2019-10-14 13:55] peterbe commented on #5961
To reproduce...
<img width="1322" alt="Screen Shot 2019-10-14 at 9 53 36 AM" src="https://user-images.githubusercontent.com/26739/66756695-9082a000-ee68-11e9-9661-f0a731680ca9.png">
Type that in the web console and then this happens:
<img width="1322" alt="Screen Shot 2019-10-14 at 9 54 50 AM" src="https://user-images.githubusercontent.com/26739/66756754-b0b25f00-ee68-11e9-9ebe-842c70f814fb.png">

[2019-10-14 14:00] peterbe commented on #5961
I checked. The problem is not really solved.
<img width="1322" alt="Screen Shot 2019-10-14 at 9 57 44 AM" src="https://user-images.githubusercontent.com/26739/66757103-62519000-ee69-11e9-8535-e65c514f23a6.png">

When I hit Enter in the web console ^ it still redirects to www.mozilla.org.

[2019-10-14 14:05] peterbe commented on #5961
The problem is that the home page uses `newsletter.html` which isn't controlled.

[2019-10-14 14:24] peterbe commented on #5961
Actually, it's deeper than that!

From https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/submit

I.e.
[code]
[code]
it will still go ahead and submit the form!
See: https://whip-nautilus.glitch.me/

[2019-10-14 14:33] peterbe commented on #5961
So if a human inside the Web Console or a "weird" browser extension triggers a submission of the form, there is no JavaScript in the world we can use to prevent this form from submitting.

Steps to reproduce:

Write a web extension or grease monkey that does something like...
[code]

If I'm not mistaken, @apboon you originally reported that the redirect happens on all pages of developer.mozilla.or

[2019-10-14 15:08] peterbe commented on #5961
@apboon I've now installed LastPass in both Firefox Nightly and Chrome (77). I've never used these tools before so perhaps I'm not sure how they work. I tried everything to try to trigger the Autologin  but no success. I can at least have it form fill my email address in the newsletter form. But for that I have to click the little red browser extension icon and find the right "Fill" button.

In ot

[2019-10-14 15:15] peterbe commented on #5961
Another thing that "scares" me is that suppose that we set `autocomplete="off"` on those forms (which I think is wrong anyway!) it probably wouldn't do anything because LastPass users would need to go into their Advanced settings to enable respect for this.:
<img width="495" alt="Screen Shot 2019-10-14 at 11 13 14 AM" src="https://user-images.githubusercontent.com/26739/66762294-b6fa0880-ee73-11e9

[2019-10-14 15:23] peterbe commented on #5961
In conclusion...

1. We have a bug in that we have two separate newsletter sign up forms. We need to consolidate that but perhaps as a separate issue.

2. Our form implementation is sane. LastPass is wrong in that it submits the newsletter form.

3. There's no JS we can write to prevent this bug.

4. We can't edit the default name of the input field to trick LastPass because then the no-JS form su

[2019-10-14 15:31] tobinmori opened #5980 "Bug 1588413 Consider making the whoami API call at the start of the page load"
(In reply to david from comment #0)

![attachment.png](https://images.zenhubusercontent.com/5d2e105ec7368a420fad5b1c/796f3422-91da-4f63-bad8-5bf768208a5d)

[2019-10-14 15:46] peterbe commented on #5980
Related is the fact that [the `/api/v1/whoami` endpoint is very slow](https://github.com/mozilla/kuma/issues/5955).
Meaning, even if the `fetch()` call happens at an earlier time, it'll be hundreds of milliseconds until we know the outcome and only then can we swap the "Sign in" for the mugshot.

Three things we *could* do (in no particular order):

* `sessionStorage` cache the previous `fetch` re

[2019-10-14 16:05] tobinmori commented on #5961
Possible actions:
- ask pmac re: frequency of newsletter subscription reqs with no email addr (we have no other analytics on this)

[2019-10-14 16:09] peterbe opened #5981 "SSR Sentry error reporting"
At the time of writing, 7 times this has happened:
[code]
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6448273/?query=is:unresolved

It's "fine". The SSR service is bound to be imperfect. What's worrying is that there are no Node errors in Sentry. It's just too unlikely that there have been no exceptions in the SSR Node service.

[2019-10-14 16:10] peterbe commented on #5981
Perhaps the next action is to try to reproduce an error in the SSR service with the Stage Sentry DSN set as an environment variable. Is it sending stuff?

[2019-10-14 16:18] tobinmori commented on #5968
Possible bad outcome wrong plural form.

[2019-10-14 16:29] peterbe commented on #5976
Note-to-self; https://wiki.developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms$history
and it looks like this:
<img width="1140" alt="Screen Shot 2019-10-14 at 12 19 10 PM" src="https://user-images.githubusercontent.com/26739/66766743-da758100-ee7c-11e9-9dd1-0a7e0fd9161d.png">

So you submitted 2 saves (I.e. presses on "Publish and Keep Editing"). The first press updated the page

[2019-10-14 16:40] peterbe opened #5982 "Site search fails to talk to Elasticsearch sometimes"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6462576/?query=is:unresolved
[code]

This *can* happens when you get a 500 error from the Elasticsearch service. Any 5xx error.
It's ugly that `Search is temporarily unavailable. Please try again in a few minutes.` is used to catch all errors.

[2019-10-14 16:41] peterbe commented on #5982
What should ideally happen is that if Elasticsearch is going to fail, let us know properly instead of trying to mask the error for something else.

Secondly, we might add a retry mechanism to some of the Elasticsearch errors if they're deemed solvable if you simply retry later.

[2019-10-14 16:45] peterbe opened #5983 "Better reporting of application error boundaries"
We're still getting application errors caught in the error boundaries. We opted to now bother with sentry-sdk because it's adding so much weight to the bundle and that it's likely to send so many errors we can't really do anything about.

[2019-10-14 16:49] peterbe opened #5984 "Still seeing lots of "content" error boundaries"
~~We're seeing URLs reported in the application error boundaries that when you open the URL everything's working fine. That smells like a sporadic network I/O error.~~

~~What would happen to the page if the `/api/v1/whoami` call fails? E.g. what if you yank the network cable right in the middle of the XHR fetch? Or, what happens if the `whoami` API end point returns with a "502 Bad Gateway" (with

[2019-10-14 16:49] #5888 closed

[2019-10-14 16:56] schalkneethling opened #5985 "We do not seem to be shipping JS sourcemaps"
I noticed while looking at the errors we were seeing in production post-launch, that the JavaScript source maps are not available. Webpack does generate these inside `kuma/javascript/dist` as `kuma/javascript/dist/react.js.map` and `kuma/javascript/dist/ssr.js.map`.

Is there a next step/configuration that needs to be made to get these shipped? I guess only `kuma/javascript/dist/react.js.map` is r

[2019-10-14 17:05] escattone commented on #5911
The work here is done. The next steps are either clear or, in the case of the email addresses, will soon be clear after @schalkneethling discovers more of what he needs. Closing this issue.

[2019-10-14 17:05] #5911 closed

[2019-10-14 17:05] peterbe commented on #5984
Actually, any errors in the whoami XHR request, are bound to be an async process so it wouldn't trigger the error boundaries.
However, there's something else going on with the header. I put in this:
[code]
So there's a 50% chance it fails in a "realistic" way:

Here's what it looks like when it **didn't fail**:
<img width="221" alt="Screen Shot 2019-10-14 at 1 04 33 PM" src="https://user-images.gi

[2019-10-14 17:15] peterbe commented on #5984
Oh. The `<Login/>` component has 3 possible outcomes. Not just mugshot or "Sign in" link.
If anything goes wrong inside the `UserProvider` context, it will make `userData` falsy and the component returns just `null`. That's not great. It should probably say "Error happened".

[2019-10-14 17:26] atopal opened #5986 "Drop in GA traffic"
**Summary**
We are seeing a drop in GA after the react front-end launch which is inconsistent with other data sources (search console in this case)

**Steps To Reproduce (STR)**
1. Go to GA
2. compare traffic before and after the launch

How can we ensure that we are still collecting as much telemetry as before?

[2019-10-14 19:23] peterbe opened #5987 "No ID should be invalid"
If you paste this in "source mode" in the WYWIWYG editor and press "Publish"
[code]
The output is exactly the same.
But these are invalid DOM IDs. At least if you use...
[code]
...as the measure.

What should happen is that somewhere in Python it should clean that up and the output should be something like:

[code]

Note! We probably already have some solutions that do some of those cleaning tasks

[2019-10-14 20:11] peterbe commented on #5984
The new plan is this:

1. [See if we can get a bit more data out of the errors that happen in the error boundaries](https://github.com/mozilla/kuma/pull/5988).

2. If that doesn't give enough clues we can try implement our own wannabe Sentry solution where we do a `fetch()` POST inside the error boundary that at least HTTP POSTs a bit more about the error to Django. Instead of storing it in MySQL

[2019-10-14 20:15] peterbe opened #5990 "Deal better with failing whoami XHR"
Any errors in the `whoami` XHR request, are bound to be an async process so it wouldn't trigger the error boundaries.

As noted in https://bugzilla.mozilla.org/show_bug.cgi?id=1551214 we're being way too optimistic about the `/api/v1/whoami` always working and always returning valid JSON.
But it if doesn't, we're not dealing with it gracefully.

To reproduce, put in this into the `whoami` Django f

[2019-10-14 20:38] peterbe commented on #5975
Sorry for butting in but isn't it redundant to have `<li><p>` when `<li>` already is a block element? It's not a paragraph of text.

Also, I think we have lots of `class="hidden"` in a lot of content.
For example, on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video open the Web Console and type `[...document.querySelectorAll('.hidden')].forEach(p => {p.style.display='block'; p.style

[2019-10-14 21:00] peterbe commented on #5982
This issue isn't urgent but it's the right start to stop weirdly swallowing API errors. Let the flourish and when we see patterns in Sentry we can perhaps put in specific code that does things. Such as retries or to wrapping errors into better error messages.

[2019-10-14 21:14] peterbe commented on #5986
How much is the drop roughly?
You mentioned in Slack that the numbers from organic search (Google Search Console) were steady. So perhaps that can be a baseline.

[2019-10-14 21:55] estelle commented on #5976
This has happened twice. The first time it was during the switchover so I thought it had to do with that. But, since it happened again, i filed a bug. I am not 100% sure what happened, but my feeling is that it had to do with uploading an image.

It seems that the two times the text that was saved when I uploaded an image was not the current version of the page. Not sure where it would have pulled

[2019-10-14 22:53] #5984 closed

[2019-10-14 23:27] #5959 closed

[2019-10-15 03:07] schalkneethling commented on #5975
Yeah, agreed: Just `<li><b>...</b>...</li>` will be sufficient.

Oh no, we already have a class called `visually-hidden` and it is different from the `hidden` class. The `hidden` class hides content from all users via `display: none;`, the `visually-hidden` class hides content only from visual users by:

[code]

[2019-10-15 06:02] estelle opened #5993 "Application Rendering Error: edge 20"
**Summary**
Getting
Application Rendering Error
An unhandled error occured in the application. We aplogize for the inconvenience!
<button> reload page
In Edge 20 (trying to update to 44) on Windows 10.

**Steps To Reproduce (STR)**
Visit any page on developer.mozilla.org with Edge 20 on windows 10

**Actual behavior**
Home page loaded with error on top.
Clicking on "web technologies" I go to devel

[2019-10-15 07:14] 1312543912 opened #5994 "WebRtc getUserMedia frameRate is not supported"
Hello:
&nbsp;I called Firfox's webrtc api, and MDN showed support, but I made a mistake when I called it.
https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API/Constraints
https://developer.mozilla.org/zh-CN/docs/Web/API/MediaDevices/getUserMedia

### 1.webRtc getuserMedia frameRate:

![image](https://user-images.githubusercontent.com/21102828/66808336-94dcb500-ef5d-11e9-8efb-dfdd9f97

[2019-10-15 13:11] peterbe commented on #5976
I'm sorry for being dim but I'm still not sure I get what happened. Did you hit the save button ("Publish" or "Publish and Keep Editing") and it went into oblivion? Or did it save fine but not updating the right revision?

Looking at https://wiki.developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms$history there are 9 since (and including Oct 9). Does that reflect you pressing the

[2019-10-15 13:16] atopal commented on #5971
Let's handle the low hanging fruit first. Turning this on now, could lead to hundreds of issues filed in the next few weeks, and we'd spend a lot of time just triaging. After that we should re-evaluate. There is benefit in making it easy to file issues, but that has to be weighed against the time spent triaging. One-off issues will happen, and it might be better to ask people to reload the page ra

[2019-10-15 13:33] tobinmori commented on #5896
@schalkneethling can i close this?

[2019-10-15 13:49] tobinmori commented on #5845
request has been made for an email alias:
REQ0068503

[2019-10-15 14:10] peterbe commented on #5993
That's super useful!! What does it say in the Web Console (or whatever the equivalent is called)?

[2019-10-15 14:11] peterbe commented on #5983
Perhaps @estelle can be our new reporting tool :)
https://github.com/mozilla/kuma/issues/5993

[2019-10-15 15:20] tobinmori commented on #5833
closing this because:

- makes deploys more difficult
- would increase bundle size
- GA tweaks seem to be providing good enuff err msgs

[2019-10-15 15:20] #5833 closed

[2019-10-15 15:27] peterbe opened #5995 "Site should work even if you don't have window.fetch"
We're getting a lot of error boundaries happen because people's browser don't have `window.fetch`.

[2019-10-15 16:51] peterbe commented on #5995
Of about 2,000 errors...
<img width="877" alt="Screen Shot 2019-10-15 at 12 50 08 PM" src="https://user-images.githubusercontent.com/26739/66852184-5f7a9c00-ef4a-11e9-845d-3e7b3a1388b9.png">

About 400 are related to `fetch`
<img width="838" alt="Screen Shot 2019-10-15 at 12 49 32 PM" src="https://user-images.githubusercontent.com/26739/66852139-496cdb80-ef4a-11e9-8566-0148ca385a5f.png">

I.e. abo

[2019-10-15 16:57] schalkneethling commented on #5896
Well, not sure if we are going to merge that PR. If we do not, then this might still be a valid issue, work task. Thanks for checking in @tobinmori

[2019-10-15 16:59] #5860 closed

[2019-10-15 17:09] peterbe commented on #5995
Actually, we could do this:
[code]
Then we don't need to add any code to our codebase. We also don't need to muck with existing code.

The question still remains; how to test this?

[2019-10-15 17:16] peterbe commented on #5983
Interestingly this is what [`preact-cli`](https://github.com/preactjs/preact-cli#browserslist) use for their default browserslist:
[code]
We don't even configure this in our codebase.
Our [babel config](https://github.com/mozilla/kuma/blob/master/babel.config.js) currently does this:
[code]

Perhaps extending that would make more old browsers work.
We would need to dig deeper to fully understand w

[2019-10-15 17:17] peterbe commented on #5983
Note-to-self; https://babeljs.io/docs/en/babel-preset-env

[2019-10-15 17:20] peterbe commented on #5983
[The recommendation](https://babeljs.io/docs/en/babel-preset-env#browserslist-integration) is that you create a `.browserslistrc` file. To do what `preact-cli` does, you'd make it:
[code]

[2019-10-15 17:34] escattone commented on #5995
@peterbe 👍 Nice, I like it!

[2019-10-15 18:18] peterbe commented on #5995
A concern is that if `fetch` doesn't exist, and we "fix" it with [`unfetch`](https://github.com/developit/unfetch) it will just proceed to the next problem. E.g. `Symbol` not being a function.
So it might be pointless to fix `fetch` on its own because browsers that don't have `fetch` also don't have a bunch of other stuff.

[2019-10-15 19:41] peterbe commented on #5983
@schalkneethling Can you help me figure out why this change doesn't seem to make a different `kuma/javascript/dist/react.js`?
https://github.com/mozilla/kuma/compare/mozilla:master...peterbe:5983-support-older-browsers-in-babel

That's the browserslist that `preact-cli` uses and it seems it would tell Babel to do more things so that the it covers older browsers. I just can't get our `npm run webpa

[2019-10-16 01:49] peterbe opened #5997 "/zh-CN/docs/Mozilla/Accessibility$json 404s"
I was trying to scrape to download https://developer.mozilla.org/zh-CN/docs/Mozilla/Accessibility to my local docker mysql.
So I ran:
[code]
But it says:
[code]

Why is it 404'ing on https://wiki.developer.mozilla.org/zh-CN/docs/Mozilla/Accessibility$json ??
You can put the `$json` suffix on other URLs like https://wiki.developer.mozilla.org/en-US/docs/Web/HTML/Element/article$json

[2019-10-16 03:34] schalkneethling commented on #5995
Which browsers present this problem? Do we perhaps have a list? Of course, lteIE10 will be part of this list, but are there other older versions of browsers? I know Firefox 38 was mentioned?

It feels to me like we should progressively enhance here instead of trying to support everything, everywhere. I believe the latest 3 versions of evergreen browsers are our A-grade browsers so, as of this writ

[2019-10-16 08:58] NGrossman opened #6115 "Strict MIME checking broke the demos style"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

Error loading https://developer.mozilla.org/en-US/docs/Web/CSS/resize et al.:

"Refused to apply style from 'https://mdn.mozillademos.org/static/build/styles/samples.37902ba3b7fe.css' because its MIME type ('text/html') is not a suppor

[2019-10-16 12:27] atopal commented on #5995
@schalkneethling that's more or less what Tobin and I talked about yesterday, and he's going to to codify that, so we can refer to it. I think your grades make a lot of sense, and for the items in them I have a few minor changes:

For A grade: The latest 2 major versions are fine, beyond that some older versions actually have a higher share on MDN. Also, that would be for the desktop versions of F

[2019-10-16 13:19] peterbe commented on #5995
So, the scariest part is making the site work correctly in Edge 42 and Safari 12. Because those are so hard to test for the team.

"Support" means two different things:

1. Work just like it does in your fancy Chrome or FirefoxNightly
2. Being able to consume the content and navigate the site

I think we're covered on point 1 right? Nothing needs to be done there.

On point 2, we're way behind. I

[2019-10-16 13:22] peterbe commented on #5993
On behalf of Estelle, I'm attaching the screenshot from her:
![bugreport](https://user-images.githubusercontent.com/26739/66923277-7f679980-eff6-11e9-9193-42d45b059247.png)

[2019-10-16 13:38] peterbe commented on #5993
Note-to-self; https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Advanced_styling_for_HTML_forms

@estelle Sorry for pestering you with questions. There's an `[object Error]` there. We can see a "brief" part of it. Can you try to expand that part and take a screenshot of that?

Also, I carefully checked we have no mention anywhere in our code or our compiled code of a `ToString` function, v

[2019-10-16 13:41] peterbe commented on #5993
Actually, I really think the relevant error is a `TypeError` about `fetch` not existing. I tried that URL in my Firefox 38 and the (first) error you get is:
[code]

But I also attempted that same page, locally, with Firefox 38, using the branch from [my PR](https://github.com/mozilla/kuma/pull/5996) and it does fix(*) the page.
<img width="1616" alt="Screen Shot 2019-10-16 at 9 36 13 AM" src="http

[2019-10-16 14:29] schalkneethling commented on #5995
I have thought about this some more, below is an update on my earlier comment(taking into account @atopal feedback) as well as a proposal for a good/decent/good-enough first step to a better experience for all users:

## Browser Matrix

### A Grade

Firefox 68, 69 (aka Latest and one version back)(Mobile and Desktop)
Chrome 76, 77 (aka Latest and one version back)(Mobile and Desktop)
Safari 12, 13

[2019-10-16 16:53] atopal opened #5999 "Provide valid aria role for logo"
**Summary**
The logo in the header has an aria role of "image". That's [not a valid role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques)

**Expected behavior**
The logo should have a valid role. "img" in this case.

[2019-10-16 17:19] #5999 closed

[2019-10-16 17:42] atopal commented on #5995
Sounds good to me Schalk, the only thing I don't quite understand is how things would look/work in IE11 with this proposal. Can you elaborate on that?

[2019-10-16 18:17] peterbe commented on #5860
I see no mention of `npm run` in https://kuma.readthedocs.io/en/latest/development.html
Only on Slack. Should we reopen this issue until the docs have been updated?

[2019-10-16 22:27] escattone opened #6001 "UnicodeEncodeError in Admin console"
**Summary**
We get an ISE (UnicodeEncodeError) when hitting https://developer.mozilla.org/admin/wiki/revisionakismetsubmission/ (as well as other admin endpoints like https://developer.mozilla.org/admin/wiki/bcsignal/1766/change/)

**Steps To Reproduce (STR)**
Visit https://developer.mozilla.org/admin/wiki/revisionakismetsubmission/ or https://developer.mozilla.org/admin/wiki/bcsignal/1766/change/

[2019-10-16 22:35] escattone opened #6002 "504 errors in Admin console"
**Summary**
Most, if not all, of the BCSignal detail endpoints like https://developer.mozilla.org/admin/wiki/bcsignal/1764/change/ return 504

**Steps To Reproduce (STR)**
Visit https://developer.mozilla.org/admin/wiki/bcsignal/1764/change/

**Actual behavior**
504 error

**Expected behavior**
Should show the content of that `BCSignal` model instance.

[2019-10-16 23:04] callahad commented on #5658
This was fixed as part of https://github.com/mozilla/kuma/pull/5899

[2019-10-16 23:04] #5658 closed

[2019-10-17 00:39] escattone opened #6003 "Stage integration tests are broken"
**Summary**
The stage integration tests are currently broken in two ways:
- when pushing to the `stage-integration-tests` branch, the tests are never run but we get a message of success
- there are 2-3 errors in the tests themselves that need to to be fixed

**Steps To Reproduce (STR)**
- Push to `stage-integration-tests` branch and see that no tests are run in Jenkins even though the build is con

[2019-10-17 03:07] tiancihe opened #6004 "Infinite scrolling"
OS: MacOS Mojave 10.14.6
Browser: Chrome 77.0.3865.120
Scroll doesn't stop while reaching top or bottom of pages, appearing blank spaces.

[2019-10-17 03:09] tiancihe commented on #6004
![image](https://user-images.githubusercontent.com/36734012/66974692-82ce5400-f0ce-11e9-8465-8e3939651df8.png)

[2019-10-17 07:28] schalkneethling commented on #5860
I think it is ok to leave this one closed. I do need to update the docs for more than just the latest round off changes so, let me open a separate issue for that. Thanks, Peter.

[2019-10-17 07:30] schalkneethling opened #6005 "Update documentations for new frontend workflow"
There have been a number of changes to the frontend tooling in the last couple of months. While some of the documentation has been updated, there is still a rather large gap.

[2019-10-17 07:34] schalkneethling commented on #5995
We already do not hydrate in IE11 and so for this first step, IE11 would get the reader-mode layout. Once all of the above has landed, we should explore how we can progressively enhance IE11 without causing a maintenance burden.

I have some ideas but, do not want to cognitively overload too much at this stage 😉

[2019-10-17 08:06] molihub opened #6006 "form cannot submit while url with hash part"
**Summary**
_form cannot submit while url with hash part_

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. Create any local web page with a form,  that include a text field named t and a input type="submit". In windows system, like "C:\foo.html"
2. Access the web page using url "file:///C:/foo.html?t=#anything"
3. Clear the value of text field t，then click the submit button of

[2019-10-17 08:13] schalkneethling commented on #6004
Thank you so much for reporting this problem. If you are comfortable doing so, could you share some of the extensions you have installed? Also, have you tested this in say, Safari or Firefox? Does it show the same behavior?

[2019-10-17 08:19] schalkneethling commented on #6006
Thank you for getting in touch @molihub - This seems like it is more an issue to be addressed by our writers' team. cc @chrisdavidmills

[2019-10-17 08:21] schalkneethling commented on #5994
Thank you for getting in touch @1312543912 - I will ask our writers' team to have a look at this. cc @chrisdavidmills

[2019-10-17 08:22] schalkneethling commented on #5993
@estelle Are you seeing the original error since having upgraded to Edge 44?

[2019-10-17 08:28] chrisdavidmills commented on #5994
Resubmitted at https://github.com/mdn/sprints/issues/2250

[2019-10-17 08:37] chrisdavidmills commented on #6006
Hrm, this is interesting. When I go to a page with a heading on it, navigate to that heading using the document fragment, and then submit a form on the page, it submits like this:

[code]

Does it submit OK when you run the page through a web server?

[2019-10-17 09:18] DPX-designer opened #6062 "Keyboard access [BCD signalling]"
While pressing tab on a page I seem to be unable to focus on the "What are we missing" drop down.

The ideal scenario would be that a user can tab-focus on the "What are we missing" label, the label would then be styled as per the hover styling:

<img width="1072" alt="Screenshot 2019-10-17 at 10 10 18" src="https://user-images.githubusercontent.com/42435754/66995152-6b8b6880-f0c6-11e9-9d86-5aa360

[2019-10-17 09:22] mcroud opened #6063 "Step numbers should be circular [BCD signalling]"
The step numbers on live are slightly oval in shape:

<img width="121" alt="Screenshot 2019-10-17 at 10 19 11" src="https://user-images.githubusercontent.com/42435754/66995917-acd04800-f0c7-11e9-913f-fe6af5fb5d67.png">

<img width="295" alt="Screenshot 2019-10-17 at 10 19 23" src="https://user-images.githubusercontent.com/42435754/66995916-acd04800-f0c7-11e9-9359-a72cc1ec63e0.png">

Can we have th

[2019-10-17 09:23] molihub commented on #6006
It cannot submit when I access through a web server , that is, the same things occur as local page.

[2019-10-17 09:32] mcroud opened #6064 "Hover styling should affect icon border width [BCD signalling]"
On live, when a browser icon is hovered over or has focus, the border changes to MDN blue.

<img width="461" alt="Screenshot 2019-10-17 at 10 24 47" src="https://user-images.githubusercontent.com/42435754/66996399-924a9e80-f0c8-11e9-9111-4274b62f5673.png">

Signifying focus with just a colour change isn't sufficient for accessibility so may we have the border change thickness similar to how it is

[2019-10-17 09:57] mcroud opened #6065 "Incorrect column widths on Desktop [BCD signalling]"
On desktop (when fully wide), the first column should appear no larger than `377px`. If we want a guideline that isn't as rigid as pixel measurements then let's say `37%` of the width of the whole drawer.

In the image below we see that the live version (top) has a slightly wider first column then the intended design (bottom).

![Untitled-1](https://user-images.githubusercontent.com/42435754/66998

[2019-10-17 10:01] DPX-designer opened #6061 "Browser icons should have a white background and be grey [BCD signalling]"
On Live, the icons sit on a transparent background and appear `#000000` in colour:
<img width="171" alt="Screenshot 2019-10-17 at 11 00 39" src="https://user-images.githubusercontent.com/42435754/66999171-6e3d8c00-f0cd-11e9-843a-8abbfe19922c.png">

On Zeplin, we see they sit on a white background and the icons are `#333333`

<img width="163" alt="Screenshot 2019-10-17 at 10 58 33" src="https://use

[2019-10-17 10:07] mcroud opened #6060 "Incorrect 'close' button styling on mobile [BCD signalling]"
The close button on live is a much thicker "X" on a transparent background:

<img width="454" alt="Screenshot 2019-10-17 at 11 03 09" src="https://user-images.githubusercontent.com/42435754/66999389-d42a1380-f0cd-11e9-89dd-588f17c2fb49.png">

On Zeplin, the "X" sits on a white background and appears much thinner:

<img width="456" alt="Screenshot 2019-10-17 at 11 03 19" src="https://user-images.gi

[2019-10-17 12:11] schalkneethling opened #6007 "Logging out does not redirect to landing page"
**Summary**

There is a well-established pattern on the web where, when you log out of a service, they redirect you to the home page of said service. We probably did this in the past on MDN as well but, with the new login widget, we no longer do.

For the most part it is a jarring experience to click on signout and not be redirected, which is not good because we break the user's expectations.

How

[2019-10-17 12:29] schalkneethling commented on #5909
@escattone I am working through some of the testing scenarios for the sign-up flow. One of these is for when a user signs up with Github(the only way currently ;)) but, we find that they already have an old account via Persona aka `matching_accounts.exists()`

Looking at the admin view for Social accounts there is a provider field with a select form field but, the only option in there is `Github`.

[2019-10-17 14:02] atopal commented on #6007
I think it's fine to stay on the article page you are on, when you sign out (assuming that was deliberate). What's the concern that we need to address here? I sometimes sign out, because I want to see what the page looks like for anonymous users.

The case we should certainly address is where you sign out and a get permission error. In those cases we should redirect to the start page.

[2019-10-17 15:35] tobinmori opened #6008 "Google Auth Workflow: HTML/CSS"
Implement HTML/CSS for Google Auth workflow.

See the design in this issue:

https://github.com/mdn/sprints/issues/1634

Acceptance criteria:

- [x] sign-in landing page is updated to offer 2 choices for logging in to MDN: Github and Google
- [x] create/update profile page for Google logins:
https://mozilla.invisionapp.com/share/Y8SGMKQBCW3#/screens/370705985_Create_Account_-_MDN_Profile_-google-

[2019-10-17 15:47] tobinmori opened #6009 "Google Auth Workflow: Backend OAuth Flow"
Wire up Google OAuth logins.

I would suggest this, but it looks like it does not support 2.7:
https://github.com/googleapis/google-api-python-client

So might have to go with this:
https://pypi.org/project/google-auth/

Front-end HTML/CSS is here:
https://app.zenhub.com/workspaces/mdn-sprint-board-5ab3d23fd0f4ea53b0022a61/issues/mozilla/kuma/6008

To get this work rolling, can this work be starte

[2019-10-17 18:01] peterbe commented on #5976
WYSIWYG forms are an abstraction of a web textarea form. If the server isn't working to receive it there is always a risk that the content of the textarea gets lost.

Here, I opened the Wiki editor, typed a couple things and then went to my `docker-compose` terminal and killed the Kuma server. Then, then I press the "Publish and Keep Editing" button this happens:
<img width="1616" alt="Screen Shot

[2019-10-17 18:03] peterbe commented on #5976
The other option is that the server rather poorly accepted the HTTP POST and returned a 200 OK but internally actually failed to properly save the edit in MySQL.

I've seen many scary areas deep in Kuma where database transactions aren't used and I've seen various pieces of code where exceptions are dangerously swallowed.

Without knowing more about exactly what happened so we can develop steps to

[2019-10-17 22:15] #6003 closed

[2019-10-18 08:17] #5995 closed

[2019-10-18 08:17] #5993 closed

[2019-10-18 08:35] schalkneethling commented on #6007
I find a little jarring. I believe it is because all that changes is the little widget, and mentally I expect to be redirected or for the page to reload. I am thinking we should add a fade-out message banner that confirms that the user has logged out successfully. Super simple, nothing fancy. Just a little bit of user feedback.

💯

[2019-10-18 08:49] #5994 closed

[2019-10-18 08:55] raphaelchalicarne opened #6013 "Dead links on the callback page of MDN"
The french glossary of MDN contains dead links on the ["Callback" page](https://developer.mozilla.org/fr/docs/Glossaire/Fonction_de_rappel). It contains links to examples :

"Par exemple, notre exemple de cartes géographiques [maps-example.html](https://github.com/mdn/learning-area/blob/master/javascript/apis/introduction/maps-example.html) ([voir aussi en direct](http://mdn.github.io/learning-are

[2019-10-18 09:39] schalkneethling commented on #5909
@escattone We have the following piece of code inside `signup.html`

[code]

I was, however, able to successfully create two users with different usernames but the same email address. How would one go about testing the duplicate email address case or is that perhaps an old code path that we will never go down anymore? Thanks!

[2019-10-18 12:11] peterbe opened #6014 "Make MDN look OK in old browsers"
We added some [polyfills](https://github.com/mozilla/kuma/pull/5996) so that now the React error boundaries aren't so eagerly triggered on old browsers. But our CSS doesn't look great. @schalkneethling tells me it's related to grid support in old browsers.

Here's what a document page looks like in Firefox 38:
<img width="1616" alt="Screen Shot 2019-10-18 at 8 09 19 AM" src="https://user-images.gi

[2019-10-18 12:15] peterbe commented on #6014
@schalkneethling @atopal I don't know how this relates to IE10 and stuff.
Also, I'm not sure it looks that bad. The worst that happens is that the stuff that's usually floating right in the header is now underneath the document title. And the sidebar is now underneath the content. My screenshots are from a desktop screen with a lot of resolution. I bet people with ancient browsers don't have that

[2019-10-18 15:35] peterbe commented on #6002
I can kinda reproduce this locally.
I have 18 entries on http://mdn.localhost:8000/admin/wiki/bcsignal/ and clicking any of them takes a loooong time to load. 3-7 seconds.
For example, according to django-querycount I get this on an extreme one:

[code]

[2019-10-18 15:46] peterbe commented on #6001
For what it's worth I can't reproduce this. I opened a browser and submitted a couple where I wrote text in non-ascii, like "På svenskä" and for Chinese I just copy and pasted some blobs of text from https://developer.mozilla.org/zh-CN/
They worked locally.
I wonder if there's a way to inject really weird Window unicode characters or something. Sigh. It's 2019 and we have to deal with this!

[2019-10-18 15:47] peterbe commented on #6002
Here's why...
<img width="1297" alt="Screen Shot 2019-10-18 at 11 46 30 AM" src="https://user-images.githubusercontent.com/26739/67108685-0787a380-f19d-11e9-851b-09200fe26536.png">

It's selecting every single Wiki document. I think it's potentially related to the filtering options not being defined so it creates filtering options automatically based on the struct of the ORM models.

[2019-10-18 16:11] peterbe commented on #6002
We just need to make this not a drop-down of every single possible document:
<img width="1460" alt="Screen Shot 2019-10-18 at 12 11 19 PM" src="https://user-images.githubusercontent.com/26739/67110324-774b5d80-f1a0-11e9-899d-8880462c58f4.png">

[2019-10-18 16:23] peterbe commented on #6001
Here's a something:

[code]

In other words, it appears someone has managed to submit with all fields left empty.

[2019-10-18 16:26] peterbe commented on #6001
I can reproduce the `UnicodeEncodeError` locally.

[2019-10-18 16:41] Gregoor commented on #6009
I'm tempted to go with django-allauth instead, since we're already using it for GitHub. Any concerns about that?

[2019-10-18 17:22] peterbe commented on #6001
Some documents simply can't be printed:

[code]

It's probably related to the fact that the model has a `__str__` but it tries to return a unicode which is forced to ascii and that breaks because it doesn't get a chance to supply the encoding.

[2019-10-18 17:33] peterbe opened #6016 "BCSignal instances with all fields empty strings"
**Summary**

See https://github.com/mozilla/kuma/issues/6001#issuecomment-543820071
Somehow, a `BCSignal` field was saved with all fields completely empty.

**Steps To Reproduce (STR)**

1. Fill in the BCSignal form with Network panel open.
2. Observe the HTTP POST request
3. Replicate the HTTP POST query with `curl` and attempt to set all field to blank

**Actual behavior**
Somehow someone manage

[2019-10-18 17:34] peterbe commented on #6001
Ugh! I give up for now. I tried a million different combinations to try to figure out how to NOT trigger this stringifcation of a document whose slug contains non-ascii characters.
Nothing worked. You can't simply avoid the `document` field because it still cause the error.

Perhaps best to simply wait till we've upgraded to Python 3.

[2019-10-18 17:39] peterbe commented on #6016
Actually, it might be something really busted. This prod:
[code]

The explanation field is mandatory in the form when you try to use the form in a browser.

[2019-10-18 17:44] peterbe commented on #6016
I think, to keep things simple, whoever make a PR to prevent these kinds of POST submissions, don't need to add a migration. Basically, once such a PR is in production we can just go into the prod db (django shell) and do something like:

[code]

[2019-10-18 19:49] tobinmori commented on #6009
Nope. That sounds good @Gregoor. Thanks.

[2019-10-18 23:59] jcjones opened #6017 "Embedding emoji (🔐) causes publishing to fail with an internal server error"
While publishing https://wiki.developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/NSS_3.47_release_notes, we had notated security bugs with a prefix 🔐, which prompts `Internal Server Error`.

It'd be helpful if there was a descriptive error message saying emoji are prohibited rather than an internal server error.

[2019-10-19 07:46] Ocean-ZH opened #6018 "text doesn't wrap on the search results page"
OS: Windows7
Browser: Chrome 77.0.3865.75
text doesn't wrap on the search results page.

https://developer.mozilla.org/zh-CN/search?q=stopPropagation

![issue-screenshot](https://user-images.githubusercontent.com/20561494/67139795-9ae8d380-f286-11e9-8fcc-92082dbbcb72.png)

and I think you can fix it by adding
`overflow-wrap: break-word;`
in the container
![solution](https://user-images.githubuserc

[2019-10-19 16:18] atopal commented on #5986
Okay, I have a bit more than one week of data now, and it looks like we are collecting 20 percentage points less metrics data than before. The block rate jumped from about 43% to 65%. That means about 65% of MDN traffic is now largely invisible to us.

[2019-10-19 16:22] atopal commented on #5986
based on search traffic from search console we should be seeing a 20% y/y growth, instead we are seeing a 21% drop in users and 55% drop in page views in Google Analytics

[2019-10-19 17:26] evanplaice commented on #5890
Sure thing. It's a lot of fun to dig through git history. I considered linking to relevant commits but it's a bit of a mess; the history goes back 6 years w/ multiple refactors.

I'd start working on the refactor but I had issues getting a local admin login running. Followed the directions to a t but I'm getting '403 Forbidden' when I actually try to login.

[2019-10-20 02:26] schalkneethling commented on #5890
Hey @evanplaice, could you provide some error logs? Thanks so much

[2019-10-21 01:34] evanplaice commented on #5890
Here's a screencast of the process
https://youtu.be/n1pp9cBvfzk

Here are the logs
- docker.log is the `docker-compose logs -f` output.
- setup.log shows the CLI out stdout

https://gist.github.com/evanplaice/48838e986cc88f50ee6b2bd530b95fc1

[2019-10-21 01:57] evanplaice commented on #5890
I managed to login to the SQL container. Looks like the super user account was created successfully.

[code]

[2019-10-21 07:05] tiancihe commented on #6004
I just visited mdn, seems like the issue is solved

[2019-10-21 07:06] #6004 closed

[2019-10-21 11:45] schalkneethling commented on #6004
Thanks so much for letting us know @tiancihe 🍕

[2019-10-21 12:01] atopal commented on #6016
Not sure if this is related, but in the Django admin, I can't see individual items. When I click through, it just shows a blank page after a while, not even an error message.

[2019-10-21 12:21] peterbe commented on #5650
Unable :(

<img width="1616" alt="Screen Shot 2019-10-21 at 8 20 02 AM" src="https://user-images.githubusercontent.com/26739/67204551-bc0f0880-f3db-11e9-86ad-2dc9f6b54f81.png">

[2019-10-21 12:24] peterbe commented on #5650
Note-to-self; [Staga](https://sentry.prod.mozaws.net/settings/operations/mdn-stage/issue-tracking/) and [Prod](https://sentry.prod.mozaws.net/settings/operations/mdn-prod/issue-tracking/)

[2019-10-21 12:43] schalkneethling commented on #5890
Thanks, @evanplaice, I will have a look.

[2019-10-21 13:06] peterbe commented on #6013
@SphinxKnight can you take a look?

[2019-10-21 13:08] tobinmori commented on #5976
Hi @estelle are you still having issues with saving? Or do these seem to have been anomalies?

[2019-10-21 13:17] tobinmori commented on #5987
Any idea how un/often this occurs @peterbe?

[2019-10-21 13:19] tobinmori commented on #5990
Is there any way for us to figure out how often this happens @peterbe?

[2019-10-21 13:25] tobinmori commented on #6007
@atopal sounds like this is your call since you're our UX pro tempore. Let us know what you'd like to do here/if keep it as is, is fine.

[2019-10-21 13:39] schalkneethling commented on #5964
@a2sheppy With the new version of BCDSignaling launched can you test and see whether this behavior is still present? Thanks!

[2019-10-21 13:52] atopal commented on #6007
Let's do the fade out banner, and redirect to the home page for pages where we'd show a permission error otherwise.

[2019-10-21 14:39] tobinmori commented on #6002
prioritization question - do you know who uses this Django admin screen?

[2019-10-21 14:42] peterbe commented on #5983
We have polyfills now.

[2019-10-21 14:42] #5983 closed

[2019-10-21 14:43] peterbe commented on #6017
[code]

Sadly our MySQL doesn't support 4-byte unicode characters :(

https://github.com/mdn/kuma/issues/5942

[2019-10-21 14:44] peterbe commented on #5942
See https://github.com/mdn/kuma/issues/6017 for a good way to validate this. Just copy that little padlock emoji in the wiki and try to save.

[2019-10-21 14:48] tobinmori commented on #6014
I think this relates to the overarching question of "which older browsers do we need to support?"

I spoke with @atopal about this last week, and it seemed like we don't need to offer that much functionality for older browsers, aside from allowing them a reader mode experience, since most of our users use updated browsers.

I think we should come up with that definitive browser support list and de

[2019-10-21 14:52] atopal commented on #6002
Less than 10 people all Mozilla staff.

[2019-10-21 14:55] schalkneethling commented on #6014
I have very strong feelings here. It is a matter of accessibility and a web for all. Let us not just polyfil at will, but instead, progressively enhance. I believe we have defined out browser support grades here pretty well here https://github.com/mdn/kuma/issues/5995#issuecomment-542729702

This needs to be formalized in our style guide so it is easier to reference than a comment on an issue ;) P

[2019-10-21 14:59] schalkneethling commented on #6007
I agree, sounds good to me @atopal

[2019-10-21 15:44] #6002 closed

[2019-10-21 15:45] peterbe commented on #5986
What's weird is this:
[code]
That's from the new react front-end. You're never signed in! All HTML is anonymous but when we use the `/api/v1/whoami` in a post-load XHR request.

Here's the view-source if you use `curl`:
[code]
and that's definitely different!

[2019-10-21 15:47] peterbe commented on #5986
@escattone I think there's something strange going on with the non-wiki. I got a different HTML when I used my browser compared to `curl`.  Obviously developer.mozilla.org/api/v1/whoami should be different but not the HTML.

Also, is the CloudFront passing through cookies and stuff for non-API urls?

[2019-10-21 15:48] peterbe commented on #5986
Perhaps the GA tracking works differently for anonymous vs signed in. If a signed in person visits MDN and his/her HTML gets caught in the CDN, the next person who gets that warmed up CDN cache might get HTML as if she/he was logged in.

[2019-10-21 15:53] tobinmori commented on #6014
I spoke with @schalkneethling about this, and think the next step is defining a spec on what an acceptable fallback reader-mode version of MDN would look like e.g. baseline functionality supported.

@schalkneethling you can create an issue for this when you're ready for this.

Once we have that defined, we can create issues/tasks to support a graceful fallback solution.

[2019-10-21 16:14] tobinmori commented on #5986
Set estimate to 1 for investigation.

[2019-10-21 16:17] tobinmori commented on #5990
Add an error message/banner on top.

[2019-10-21 16:26] atopal commented on #5997
This is because the article has not been localized yet

[2019-10-21 16:29] tobinmori commented on #6001
Will wait on a fix for this, after python3 is pushed.

[2019-10-21 16:46] tobinmori commented on #5792
Flag the opt-in the database. The Mozilla marketing team has changed priority can no longer can work with us on this.

[2019-10-21 17:44] atopal commented on #6016
Okay, just checked the data. From what I can tell, all entries submitted after October 16, 15:44 (UTC?) do have all the data. I'm pretty sure that coincides with the launch of the new signals tool. Before that we had an implementation that simply didn't have any fields, so those are considered empty then.

[2019-10-21 17:45] atopal commented on #6016
The bigger question is now: Why so few actual submission? It might be that what we measured before was simply people clicking the button because they were curious, not to report anything. It's too bad we didn't instrument this. We should have :/ We should send events for expanding and each step of the process

[2019-10-21 18:16] tobinmori commented on #5961
Closing this because we don't have enough info as to whether this is a major issue.

[2019-10-21 20:14] tobinmori commented on #5909
@escattone will check out both these user acct issues:
(1) 2+ user accts,
(2) ability to have 2+ users mapped to 1 email address.

@atopal - is an MDN user supposed to be allowed to have 2+ users mapped to 1 email address?

[2019-10-21 20:21] tobinmori opened #6021 "Backend work to support User Acct creation"
### Summary
Create the Kuma back-end required to support the new account signup flow (see #5911).

### Acceptance Criteria
- [ ] Create a new function `is_username_taken(user)` available to Jinja, as well as its associated tests.
- [ ] Create a new API endpoint for doing the same, as well as its associated tests.
- [ ] (Not certain of this one yet) To the endpoint above, add the ability to check i

[2019-10-21 21:14] peterbe commented on #5987
It's pretty bad! I download all of MDN to disk using the Document JSON API.
Then I wrote a Python script to analyze every JSON doc. Here's the output when I run it for `mdn-api-prod/api/v1/doc/en-US/Web/`

[code]

And for `mdn-api-prod/api/v1/doc/en-US/Web/` it's
[code]

The script also prints all offending IDs (once per ID) and that gives you a preview of them:

`en-US` https://gist.github.com/pe

[2019-10-21 22:24] escattone opened #6022 "Legacy namespace documents are indexed/followed in production"
**Summary**
Legacy namespace documents, like https://developer.mozilla.org/en-US/docs/User:anonymous:uitest, are given a `robots` `meta` tag of `index, follow`. This may not be important, but I just wanted to record it since it's a deviation from the Wiki view. I discovered this when running the new and improved headless integration tests against production ([the test `test_user_document`](https:/

[2019-10-21 23:24] escattone commented on #5612
See https://github.com/mdn/kumascript/pull/1260

[2019-10-21 23:28] escattone commented on #5612
I also updated the link to Kuma in `README.md` of https://github.com/mozilla-l10n/mdn-l10n

[2019-10-21 23:58] escattone commented on #5612
I also updated all of the references to the Kuma repo within the strings within https://github.com/mozilla-l10n/mdn-l10n (see https://github.com/mozilla-l10n/mdn-l10n/commit/ce89753afd110de259d822935292f64664f537c8).

[2019-10-22 00:32] #5982 closed

[2019-10-22 00:37] peterbe commented on #5987
One curious thing, that I just learned is that these exceptions are only thrown on `document.querySelector[All]('#BADID')`.
E.g.
[code]

Also, I dug and dug and dug and tried to reverse backwards from how `live-examples.js` works to try to find pages that when opened would trigger the error boundaries. I failed. Couldn't find a single page.

Also, my initial Python script isn't right. It would com

[2019-10-22 00:38] peterbe commented on #6018
Thanks @Ocean-ZH Would you be interested in helping MDN fix this bug? All you need is `docker-compose`.

[2019-10-22 01:45] peterbe commented on #6022
The good news is that it's still not mentioned in [the sitemap](https://developer.mozilla.org/sitemaps/en-US/sitemap.xml) but I suspect Googlebot might pick these up because there's no reason not to.

P1?

[2019-10-22 11:12] atopal commented on #6022
Yeah, not just that. We are also asking Google to index pages that haven't been localized yet, like https://developer.mozilla.org/de/docs/Mozilla/Add-ons/WebExtensions/API/downloads/BooleanDelta

Can we see how these rules changed? And yeah, I'd pull that into the next sprint as a P1

[2019-10-22 12:17] atopal commented on #5909
Schalk, can you say what happens when you click the recover my profile button?

If you see that CTA, you haven't logged in to MDN since we switched over to Github only authentication almost 3 years ago (at least that should be the only time). In which case I'd say we should either just recover the account automatically (assuming it requires no extra effort by the user) or we should now "retire" al

[2019-10-22 12:42] schalkneethling commented on #6014
Will do.

[2019-10-22 13:02] Gregoor opened #6023 "Google Auth Workflow: Backend OAuth Flow Tests"
Depends on #6009

**Acceptance criteria**
Create a suite of tests that are at least as exhaustive as the ones we have for GitHub OAuth.

[2019-10-22 13:07] schalkneethling commented on #5909
To be honest, I have no idea how to legitimately trigger that case. I order to do the styling I simply removed the HTML from the conditional. I believe it sends a recovery email to the email address though. @escattone any ideas?

[code]

I totally agree. If we would actually want to gently nudge the user in the direction of just creating a new account but, keep this recovery functionality, I would

[2019-10-22 13:17] schalkneethling opened #6024 "Sign-In Landing page"
**Summary**

We are moving to a new sign-in/sign-up flow where we will be offering two options to users of MDN Web Docs. The first is the existing Github auth and the second new option will be Google Auth.

To facilitate this, we need a new account auth landing page that presents these options to the user(see below):

![Screenshot 2019-10-22 at 15 10 50](https://user-images.githubusercontent.com/1

[2019-10-22 13:31] peterbe commented on #6022
Hmm... I scraped that one and ran it locally. In the read-only side I get `<meta name="robots" content="noindex, nofollow">` just the same as I get with `wiki.mdn.localhost:8000`.
Working on it.

[2019-10-22 13:34] schalkneethling commented on #6008
** Some Questions**

- If a user already has an MDN Web Docs Account but now signs up with Google, what is the proposed flow?
- The same question but for Google Auth users signing in with Github
- I assume if a user already has an MDN Web Docs account with the Auth provider they choose on the landing page, they will simply be redirected back to the page they originally came from? i.e. skip the sig

[2019-10-22 13:36] schalkneethling opened #6025 "Make signup.html dynamic based on auth provider"
**Summary**

Currently, the `signup.html` page assumes Github as the auth provider, although there are some parts that have been coded with the concept of multiple providers.

This issue relates to changes required to make all relevant parts of this page dynamic based on the Auth provider.

In https://github.com/mdn/kuma/issues/6024 implementation details are provided for the new intermediary sign

[2019-10-22 13:40] schalkneethling commented on #6008
## For Google auth

- Do we by default present a text input to users signing up with Google? We previously discussed that we might:

1. Strip off the `@gmail.com` portion and use the remainder as the default username or
2. Just present the text input field for users who signup with Google Auth

Have we made a final decision on this one?

[2019-10-22 13:45] schalkneethling opened #6026 "Update copy below avatar on edit profile page based on Auth provider"
**Summary**

Underneath the avatar on the edit profile page we currently have text that reads:

We need to change this so that it reflects the chosen auth provider

**Audience**

New and existing users of MDN Web Docs

## Acceptance Criteria

- [ ] The copy below the avatar on the profile edit page shows: "Change your avatar on (github||google)" as appropriate

[2019-10-22 13:55] tobinmori commented on #5650
Waiting for answer from CloudOps.

[2019-10-22 15:18] atopal commented on #5909
Okay, let's find out what the button does and then we can decide what action to take.

[2019-10-22 15:18] atopal commented on #5909
Reminds me a little bit of this: https://www.youtube.com/watch?v=NkeniR-d8H4 ;)

[2019-10-22 15:22] atopal commented on #6024
For now, only use the last bullet point in "benefits of MDN account"

[2019-10-22 15:47] jmswisher commented on #5909
To be continued in next sprint.

[2019-10-22 15:52] jmswisher commented on #5798
To be continued

[2019-10-22 15:53] jmswisher commented on #5941
To be continued

[2019-10-22 16:14] atopal commented on #6008
We should always re-direct to the page they were on before they clicked on "log-in".

[2019-10-22 16:15] atopal commented on #6008
for Google auth, let's show them the username without @gmail.com if that's a valid username, or an empty field, if not.

[2019-10-22 16:19] atopal commented on #6008
As to what to do about multiple auth providers: Unfortunately Nick had to leave before we figured that one out. I'm not sure what our technical capabilities are. (How) would we know that they already have the other auth provider? Can we combine accounts later?

Ideal flow: you try to log in with another auth provider, we recognize it and offer to use the other one, to combine both, or continue and

[2019-10-22 16:30] Gregoor commented on #6008
I don't have any answers in terms of what we SHOULD do, but if I manage to figure allauth out (which we already use for GitHub) we'd have a backend for connecting multiple accounts "for free".

[2019-10-22 16:36] Gregoor commented on #6008
If we're able to use allauth for Google login, which we're already using for GitHub, at least the backend for having multiple auth providers should be basically "free".

[2019-10-22 16:52] tobinmori commented on #5942
@atopal this task would be a big one, but could potentially turn into a bigger one.

This will mean migrating all our MySQL data to a new version. The potential extra work could come upon hitting many errors during migration or getting munged data as a result. Perhaps, this is low-risk since we're doing an upgrade, but just want to check that you consider this high priority.

Let us know, thanks.

[2019-10-22 17:44] atopal commented on #6016
Removing P1, since it doesn't look like this is a bug

[2019-10-22 17:47] atopal commented on #5942
@tobinmori is there a way for us to get a better understanding of the size of this?

[2019-10-22 19:00] peterbe commented on #5942
I don't know where posted my original comments on this but...

The commands you need to run to tell MySQL to get it's 👕 together is:

[code]

I tried doing that to my local mysql db and it always fails on the last command with:

[code]

That makes me wonder if I can simply alter the table to set some longer contraints on certain columns.

[2019-10-22 19:02] tobinmori commented on #5942
Generally it seems low risk to me since we're not switching from MySQL to Postgres. Typically the steps are pretty standard, but there are quite a few and some of the steps can take hours at a time (depending on db size) - off the top of my head:

- export data / db dump (*can take a while depending on db size)
- setup up a new upgraded AWS RDS (not sure how long this would take @limed)
- import d

[2019-10-22 19:12] tobinmori commented on #5942
@peterbe i was under the (maybe misguided?) impression from @escattone that we'd have to upgrade the whole DB. if we can do an alter then that's great.

[2019-10-22 19:15] tobinmori commented on #5942
reading up a little it sounds like this could be the biggest headache:

"For example, a TINYTEXT column can hold up to 255 bytes, which correlates to 85 three-byte or 63 four-byte characters. Let’s say you have a TINYTEXT column that uses utf8 but must be able to contain more than 63 characters. Given this requirement, you can’t convert this column to utf8mb4 unless you also change the data type t

[2019-10-22 19:18] peterbe commented on #5942
So, I ran all those `ALTER ...` commands mentioned above.

[code]

(To make it work, I had to also change some `varchar(255)` to `varchar(191)` because Stack Overflow told me)

Sadly, I still can't put 🔐 into the wiki. Even after this change.

I'm wondering what difference it'll be to switch to Python3 and what effects that might have on our MySQL driver.

[2019-10-22 20:43] escattone commented on #5942
@peterbe @tobin Yeah, I was originally thinking we should alter the entire database, just for consistency sake, but maybe we should just do what @peterbe has outlined? Personally, I don't think this task is worth the effort, since we've lived with this limitation already for years and I'm hoping we will be able to move to GitHub within the next 6 months anyway.

[2019-10-22 20:48] escattone commented on #5942
@peterbe @tobin i'm worried that this will take more time that it seems on the surface due to the follow-on effects. For example, we have to change a set of columns from `varchar(255)` to `varchar(191)` to stay within the index key limit, and then that leads to further changes to tests, and so on.

[2019-10-22 20:49] #6022 closed

[2019-10-22 21:09] peterbe commented on #5942
No guarantee that that will actually work. I did that stuff to my local mysql but I could still not save with a big emoji. It *could* be due to some other UnicodeDecodeError which might be hopeful.

[2019-10-22 21:11] atopal commented on #5942
Thanks for looking into this. I agree it doesn't seem like its worth the effort at this time.

[2019-10-22 23:12] escattone commented on #6009
I just read this and was going to suggest the same, thanks @Gregoor!

[2019-10-23 00:24] mesqueeb commented on #5957
+1

[2019-10-23 01:21] peterbe opened #6030 "HTMLElement produces strange HTML escaping"
Take view-source:https://wiki.developer.mozilla.org/en-US/docs/Web/HTML/Element/nav for example. There's lots of HTML like this:
[code]
I.e. `&lt;footer>` and `&ltnav>`.

Why is it not `&lt;footer&gt` and `&ltnav&gt`?

The original Kuma HTML is this for example:

[code]

[2019-10-23 05:57] SphinxKnight commented on #6013
_(I'm back _:))__

I fixed the content which was out of sync with the en-US version. Instead of not mentioning any other example (like en-US), I chose to mentionhttps://github.com/mdn/learning-area/blob/master/javascript/asynchronous/introducing/xhr-async-callback.html instead.

@raphaelchalicarne could you confirm it's OK with you?

@peterbe: I cannot close issues on kuma, could you move it to ht

[2019-10-23 07:31] raphaelchalicarne commented on #6013
Thank you @SphinxKnight , it looks good to me

[2019-10-23 12:28] peterbe commented on #6013
Content issues goes to md/sprints??

[2019-10-23 12:28] #6013 closed

[2019-10-23 12:31] peterbe commented on #6014
Isn't that what *this* issue is?

[2019-10-23 12:34] peterbe commented on #6016
I know I did. Wasn't it so that it used to be that clicking it would immediately submit. And now it's fancy with a full form.

[2019-10-23 12:47] SphinxKnight commented on #6013
@peterbe thanks for closing.
(aside / Re: content issues, I was not sure before commenting earlier and clicked on "Feedback/Report a content problem" (top sidebar of the new front end) and got a link to https://github.com/mdn/sprints/issues/new?template=issue-template.md&projects=mdn/sprints/2&labels=user-report&title=%2Fen-US%2Fdocs%2FWeb%2FJavaScript%2FReference)

[2019-10-23 13:01] peterbe opened #6028 "Where should we send people to report content issues?"
Spawned from https://github.com/mdn/kuma/issues/6013#issuecomment-545426656 by @SphinxKnight

The "Report a content problem" links to [github.com/mdn/sprints/](https://github.com/mdn/sprints/issues/new?template=issue-template.md&projects=mdn/sprints/2&labels=user-report&title=%2Fen-US%2Fdocs%2FWeb%2FJavaScript%2FReference)
<img width="475" alt="Screen Shot 2019-10-23 at 8 50 26 AM" src="https://us

[2019-10-23 13:01] peterbe commented on #6013
I moved that discussion to here: https://github.com/mdn/kuma/issues/6028

[2019-10-23 13:04] peterbe commented on #5957
@mesqueeb If you feel strongly for being able to reach that endpoint please let us know your use case.
The Wiki was split up into a Wiki and a read-only site.

We probably won't ever re-instate https://developer.mozilla.org/en-US/search.json?q=array but we might turn it into a permanent redirect to https://developer.mozilla.org/api/v1/search/en-US?q=array

[2019-10-23 13:05] peterbe commented on #5957
Actually, @joedarc is that something you'd like to try? It'd warm you up a bit to how to hook up urls.py stuff.

[2019-10-23 13:23] atopal commented on #6016
Honestly, now I can't remember anymore whether it was the first or second click, but yeah, didn't require any data entry

[2019-10-23 13:42] tobinmori commented on #6014
@peterbe I'm not sure what it will involve but it's probably a bunch of frontend tasks, right? If it's just a single task that takes a couple days we could use this. Otherwise we can turn this into an Epic. (in our effort **not** to have ginormous issues)

[2019-10-23 13:44] joedarc commented on #5957
@peterbe Sure, i can take a look at this. 👍

[2019-10-23 14:29] peterbe commented on #5957
I think I know some good tricks. I hope. Take a look but don't venture too deep into a rabbit hole if you don't see an easy out. I think we just need to divorce `rest_framework` from the search entirely.

[2019-10-23 15:30] schalkneethling commented on #6014
No, this might be the Epic, but there will be other individual issues for the work. In terms of polyfills, my intent is to avoid polyfills as far as possible and instead progressively enhance both in terms of styling and JavaScript.

[2019-10-23 16:10] peterbe commented on #6001
I'm pretty confident this will be resolved when switching to Python 3.
Here I'm on the [python3 branch](https://github.com/mdn/kuma/pull/5518):
<img width="1029" alt="Screen Shot 2019-10-23 at 12 08 48 PM" src="https://user-images.githubusercontent.com/26739/67412804-f7513900-f58d-11e9-8ccb-36cf13df4005.png">

It didn't work before.

[2019-10-23 18:07] peterbe commented on #6030
A clue! I think Kumascript is innocent.
I put a print before and after this line: https://github.com/mdn/kuma/blob/7dfd7d89f6ba14cfa52d1b84a64eea4e6d18dd7e/kuma/wiki/kumascript.py#L130
Before:
[code]
After (after running `clean_content`):

[code]

So basically, `clean_content` turned `&lt;footer&gt;` into `&lt;footer>`.

[2019-10-23 18:53] peterbe commented on #6030
I dug even deeper: It happens here:

[code]

Which means, it goes deep. It's actually in `html5lib`. Yikes!

[2019-10-24 00:00] escattone commented on #5986
@peterbe With the new CDN configuration that I rolled-out on stage/prod with https://github.com/mdn/infra/issues/291, the `sessionid` cookie is no longer forwarded for requests for document pages or the home page (it is of course still forwarded, as always, for `/api/v1/whoami`), so the HTML differences you saw in the GA script between logged-in and anonymous users will no longer occur (all users

[2019-10-24 06:18] SphinxKnight opened #6032 "Profile page displaying no activity while user did upload attachments in the past (attachment spam)"
**Summary**
I edited a page in order to fix a link and saw shady/"xss attempts" attachments (see. https://wiki.developer.mozilla.org/fr/docs/MDN/Feedback$edit )
When I checked the corresponding user's page (https://wiki.developer.mozilla.org/fr/profiles/yaabouki.r): no edit appears

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. Go to https://wiki.developer.mozilla.org/fr/doc

[2019-10-24 08:27] schalkneethling opened #6033 "The place of icons and picture is invalid on RTL languages"
# User story

What did you do?
1.Goto a RTL version of MDN ste. eg: https://developer.mozilla.org/fa/

2.Look at small arrows on side of  Web Technologies; Learn web development; Developer Tools

3.Look at cat that shows "Help us build better CSS debugging tools!
Which CSS bugs are the worst?
Take the Survey"

4-Look at location of Arrow of "Sign Up now" button

5-From Refrences and Guides menu, l

[2019-10-24 08:53] caitmuenster opened #6034 "Redirect additional MDN pages to Extension Workshop"
Hi there! We need the following pages to be redirected from MDN to Extension Workshop:

- https://developer.mozilla.org/docs/Mozilla/Add-ons/AMO/Blocking_Process should redirect to https://extensionworkshop.com/documentation/publish/add-ons-blocking-process/
- https://developer.mozilla.org/docs/Mozilla/Add-ons/Third_Party_Library_Usage should redirect to https://extensionworkshop.com/documentation

[2019-10-24 10:12] ExE-Boss opened #6035 "Block indicator icons are broken on the React‑based frontend"
## Summary
Block indicator icons are broken, and sometimes duplicated, on the React‑based MDN frontend.

## Steps To Reproduce (STR)

1. Go to the React‑based [Indicator sandbox](https://developer.mozilla.org/docs/Sandbox/Indicators) page.
2. Compare with the Django‑based [Indicator sandbox](https://wiki.developer.mozilla.org/docs/Sandbox/Indicators) page.

## Expected behavior
The block indicator

[2019-10-24 10:57] schalkneethling opened #6037 "Send Recovery Mail for existing Persona accounts"
On the `signup` page there is the following code block:

[code]

From some testing(https://github.com/mdn/kuma/issues/5909#issuecomment-543634445) and speaking to @escattone it seems that the duplicate email constraint was never, or is no longer enforced.

@atopal Suggested that we look into the viability of(the amount of effort that will be required):

1. Detecting that the current user has an ex

[2019-10-24 11:00] schalkneethling commented on #5909
For `matching_accounts` and the related `send_recovery_email` we have opened the following research issue: https://github.com/mdn/kuma/issues/6037

For the work here, we will remove this piece of the puzzle and add the functionality back at a later stage should it be determined that there is a value to having this feature and that the maintenance cost is matched or exceeded by the user benefit.

[2019-10-24 11:01] schalkneethling commented on #5909
@escattone There is no more open question for you’re attention on this issue. 🍵

[2019-10-24 11:30] atopal commented on #6037
Sorry, there was a misunderstanding, my suggestion is that if we receive a validated email address that matches an already existing persona one we simply recover that account as part of the process, no emails being sent.

[2019-10-24 12:46] schalkneethling commented on #6024
I had a chat with @Gregoor on Slack around how we will approach the work for the Google Auth piece. We decided that it would be a good call to do this behind the waffle flag `google-auth`. That means we can open pull requests and land pieces of the work in master without affecting production.

Gregor is still investigating all things oAuth but, this issue will introduce a new flow where a user goe

[2019-10-24 12:47] schalkneethling commented on #6028
Ah, that should go to https://github.com/mdn/sprints/issues/

[2019-10-24 12:50] atopal commented on #6024
It seems like adding an actual landing page for this is adding a bunch of overhead. Since we don't have logins from the portal and no content behind log-in, we don't really need a landing page. Would it be easier to use a modal instead?

[2019-10-24 12:59] tobinmori commented on #6033
thanks @schalkneethling. moved it into our backlog.

[2019-10-24 13:20] #5850 closed

[2019-10-24 15:27] peterbe commented on #5957
@mesqueeb That is an excellent response! Thank you.
I think a better solution is this: https://github.com/klaascuvelier/alfred-mdn/pull/10
but for the sake of legacy, I think @joedarc has a solution here: https://github.com/mdn/kuma/pull/6029

[2019-10-24 15:32] peterbe opened #6039 "jinja2/react_base.html template uses request.user"
Summary says it all. The read-only pages should never depend on the users.

Our [CDN is configured](https://github.com/mdn/kuma/issues/5986#issuecomment-545684790) to never pass through any `sessionid` cookie values to the Django views so hopefully all pages now are always forcibly anonymous.

We should audit the trail to make sure nothing in the read-only site depends on the user.
Including waffl

[2019-10-24 15:33] peterbe commented on #5986
I "forked" the discussion to https://github.com/mdn/kuma/issues/6039

For the immediate future how about we focus on that `ga('send', 'pageview' ...` call?

[2019-10-24 15:46] tobinmori commented on #6023
@gregor can you add acceptance criteria for this?

[2019-10-24 16:40] peterbe opened #6042 "UnicodeDecodeError on /en-US/search"
Traceback:
[code]

You can easily reproduce it by opening: https://developer.mozilla.org/en-US/search?q=%27%22%3C%ff/script111111

At the time of writing, it's only happened to 1 user 3 times. That's probably not a human but a bot. Either way, it shouldn't cause a ISE.

[2019-10-24 17:31] tobinmori commented on #6009
@Gregoor can you write up separate issues out for this if you think it will take longer than a sprint to complete? If you don't think it will, then we convert this to a non-sprint.

[2019-10-24 18:16] peterbe commented on #6042
Most likely, this'll resolve once we're in Python 3. Consider:

[code]
Run that in Kuma's python 2.7 and you get:
[code]

Do the same in Python 3.7 and you get:
[code]

[2019-10-24 19:12] peterbe commented on #6028
Then why do we put Epics in there?
Is there anything more ideal that what we're currently doing? Otherwise, please close this @chrisdavidmills

[2019-10-24 20:21] #5957 closed

[2019-10-25 00:43] escattone commented on #5986
Too many meeting today, but I had a bit of time to work on this. One thing that I'm wondering is if something changed with Firefox such that DNT is enabled by default now? That would prevent the `ga` function from being defined, which in turn, would cause the `GAProvider` React component to define the `ga` function as a "noop". Probably not, but it could be a factor.

Otherwise, I haven't see anyt

[2019-10-25 06:07] SphinxKnight opened #6045 "Anchor generation while hovering a heading does not work with new front-end"
**Summary**
On w.d.m.o, while hovering a heading/title, one could see an icon to click on in order to get the link with the anchor to this heading.
This feature does not seem to exist on the new front-end.

**Steps To Reproduce (STR)**
1. Went on https://developer.mozilla.org/en-US/docs/Web/API/DragEvent
2. Wanted to get a link from the heading "Event types"

**Actual behavior**
No "UI/simple" fea

[2019-10-25 06:24] SphinxKnight opened #6046 "New front-end: No "partial localization"/"localization in progress" warning box"
**Summary**
On w.d.m.o ("old" front-end), when a page has the "Localization in progress" checkbox ticked, a box is displayed at the top of the article.
This message varies whether the last edit is recent/fresh or not (in this case, one can safely guess the translation has been abandoned).

cf. https://github.com/mdn/kuma/blob/6c99355a6623474bca20abd7c18f4f22a47cdeaf/kuma/wiki/jinja2/wiki/document.

[2019-10-25 06:26] SphinxKnight commented on #6046
![2019-10-25_08-25-26](https://user-images.githubusercontent.com/2413436/67548072-2dfb9080-f701-11e9-9469-85f8458b5c8d.png)

[2019-10-25 07:41] schalkneethling commented on #6035
I would definitely not want us to go this route.

Should this by itself solve the problem and remove the need for `!important` I would recommend we go with this solution. Thank you @ExE-Boss

[2019-10-25 09:26] atopal commented on #5986
I had checked earlier, but there was no Firefox release during that time, the drop is exactly on the day we switch to the react-front-end

[2019-10-25 10:22] ExE-Boss commented on #6035
That would remove the need for the whole `display: none` rule.

[2019-10-25 13:19] peterbe commented on #6035
How come the Wiki doesn't have the problem? Does the wiki already use the rather hacky `display: none !important` trick?

I see 4 monster PRs that might take years to review. Are you sure there's not a way to greatly simplify those into tiny PRs that are more likely going to get review attention @ExE-Boss ?

[2019-10-25 13:39] tobinmori commented on #6041
@jmswisher should we convert this to an epic?

[2019-10-25 13:44] tobinmori commented on #6028
What @sneethling said. :)

@peterbe, generally:
- content work and user stories are in the 'sprints' repo.
- epics and issues (pertaining to Kuma/leading back to user stories) can live in Kuma

[2019-10-25 13:58] tobinmori commented on #6034
Hi @caitmuenster,

Is there any way that can you give us more heads up for these requests?

We're trying to do abide by (Agile) Sprints for planning our work (having things planned a week before we start the actual work), and support tickets are usually weighed against all the other often urgent items in our backlog.

The other reason, is that we don't usually do deployments on Fridays (in case so

[2019-10-25 15:15] peterbe commented on #6039
Let's start with waffle flags. One place where `request.user` is used is
[code]
the implementation of `waffle.flag` depends on users in some django-waffle way.
But what's so wrong is that the rendering of the HTML is always anonymous (because our CloudFront will strip `sessionid` cookie values). So the HTML will never ship with the necessary CSS into the CSSOM but it could be that a users `/api/v1

[2019-10-25 15:20] peterbe opened #6048 "ratelimit is applied to pages that are always anonymous"
Views such as the `document` view for the read-only site is rate limited. Which doesn't make any sense since CloudFront is hitting those and we generally don't rate limit the CDN for GET requests.

We're currently configuring rate limiting with the middleware (`ratelimit.middleware.RatelimitMiddleware`) and this config:
[code]

It's pointless for many GET requests to even consider the `request.use

[2019-10-25 15:22] peterbe commented on #6048
Perhaps the simplest solution is to override the `ratelimit.middleware.RatelimitMiddleware` class with one of our own that first looks at he `request.get_host()` and `request.path`. E.g.
[code]

What do you think @escattone ?

[2019-10-25 15:37] peterbe commented on #5986
I believe https://github.com/mdn/kuma/pull/6047 fixes it so that the react home page and the react document pages share the same GA code which doesn't use `request.user`.

[2019-10-25 16:15] peterbe opened #6049 "Our precommit hook runs Prettier on every file"
In Kuma doing `git commit ...` is painfully slow. It's because `husky` is configured to run [`npm run precommit`](https://github.com/mdn/kuma/blob/c1868a0982d509b1efd5e83f047890dff165deb7/package.json#L36) which uses `npm run pretty`. Meaning, it checks every single .js(x) file according to the `.prettierignore`.

[2019-10-25 17:06] mbordas opened #6051 "Firefox alert SSL_ERROR_UNKNOWN_CA_ALERT when using client certificate since version 70"
Since I get Firefox updated to 70.0 (on Ubuntu), I can't connect to a site with client certificate. It worked before the update, and it still works with Chromium and Firefox 35 (an old version I keep for tests).
When I try to open the URL https://xxx.yyy.zz I get Firefox alert: SSL_ERROR_UNKNOWN_CA_ALERT

The server is running Apache2 with the following configuration parameters:

[code]
And I use

[2019-10-25 17:45] peterbe commented on #6045
We actually wrote a port of that functionality to the new React site. I believe it never got merged but perhaps @atopal remember why we didn't?

[2019-10-25 17:55] ExE-Boss commented on #6035
No, the&nbsp;wiki&nbsp;CSS has&nbsp;the&nbsp;`display: none` and&nbsp;`.<block‑indicator‑with‑icon>::before` rules located after the&nbsp:rules that set&nbsp;`display: inline‑block` and&nbsp;`margin` properties respectively with&nbsp;the&nbsp;same&nbsp;specificity in&nbsp;the&nsbp;compiled stylesheet, and&nbsp;I&nbsp;have no&nbsp;idea how&nbsp;to&nbsp;reorder the&nbsp;mess of&nbsp;spaghetti&nbsp;c

[2019-10-25 19:25] peterbe commented on #5986
The drop in users in GA is 1/3 but the drop in pageviews is 2/3. Not sure if that's a clue actually.

When we switched over to doing the `ga('send', 'pageview', ...)` in React, we now relied on making that send at the very end of the `/api/v1/whoami` XHR request: https://github.com/mdn/kuma/blob/b5557a17c8798dca12cc80e00d8484d24222b608/kuma/javascript/src/user-provider.jsx#L97
The `/api/v1/whoami`

[2019-10-25 19:33] peterbe commented on #5986
There is an exception happening the Browser Console which MIGHT be related to this domain:
<img width="1333" alt="Screen Shot 2019-10-25 at 3 26 26 PM" src="https://user-images.githubusercontent.com/26739/67598568-d9c1d200-f73b-11e9-9aaf-3605e1831542.png">

@escattone Believes it's related to this: https://github.com/mdn/kuma/blob/b5557a17c8798dca12cc80e00d8484d24222b608/kuma/javascript/src/user-p

[2019-10-25 19:46] peterbe commented on #5986
Oh! The reason why it's not working in Firefox is because `Mozilla && !Mozilla.dntEnabled()` evaluates to `false`. Even though I have Tracking Protection switched OFF. It's supposed to respect that:
<img width="671" alt="Screen Shot 2019-10-25 at 3 44 48 PM" src="https://user-images.githubusercontent.com/26739/67599675-92891080-f73e-11e9-87a7-3561fb117f88.png">

[2019-10-25 19:50] peterbe commented on #5986
If I replace the `if (Mozilla && !Mozilla.dntEnabled()) {` with `if (true) {` it appears to work better:
<img width="591" alt="Screen Shot 2019-10-25 at 3 48 58 PM" src="https://user-images.githubusercontent.com/26739/67599931-1642fd00-f73f-11e9-8030-d9cf94f21ff8.png">

That "HERE" console logging is from inside the `hitCallback`.

[2019-10-25 20:00] peterbe commented on #5986
Ok. So ignore everything I've said about things not working in Firefox. I'd an odd unicorn who *disabled* Tracking Protection for `wiki.developer.mozilla.org` and `developer.mozilla.org`.
I suspect that `Mozilla && !Mozilla.dntEnabled()` is `false` for every Firefox user with a modern browser.
Actually, I tried with my wife's Firefox 69 and `Mozilla && !Mozilla.dntEnabled()` is `false` too and tha

[2019-10-25 21:04] estelle commented on #5976
OK, so it happened again. This time I *DID* get the unable to save box, but reverted at the same time, so i lost what i was trying to save. Maybe this is what happened the other times.

[2019-10-25 21:16] escattone opened #6052 "UTM removal is broken for React pages"
**Summary**
The GA `hitCallback` function on the `ga('send', 'pageview', ...)` call, which removes the UTM query parameters in the loaded URL, is broken for React pages.

**Steps To Reproduce (STR)**
Go to https://developer.mozilla.org/en-US/docs/Web/HTML?utm_xxx

**Actual behavior**
After the page loads, the URL remains https://developer.mozilla.org/en-US/docs/Web/HTML?utm_xxx

**Expected behavio

[2019-10-25 21:28] escattone commented on #6052
This discovery arose from the work on #5986.

[2019-10-25 21:43] escattone opened #6054 "Outdated documentation for customizing local Docker environment"
**Summary**
The [MDN development documentation for customizing one's local Docker environment](https://kuma.readthedocs.io/en/latest/development.html#customizing-the-docker-environment) can be simplified. One can use `docker-compose up -d` instead of `docker-compose -f docker-compose.yml -f docker-compose.dev.yml up -d` if `docker-compose.override.yml` is used instead of `docker-compose.dev.yml` (

[2019-10-25 23:52] escattone commented on #5986
After banging my head against this all day, I'm still completely baffled why we're seeing a 60% drop in `pageview` hits in GA (see below, we launched the React-based front-end late on Oct. 9th):

<img width="485" alt="image" src="https://user-images.githubusercontent.com/3743693/67610028-e1d23f80-f744-11e9-9b26-15d7e9c88ea7.png">

@peterbe and I have not been able to find anything yet that explain

[2019-10-26 11:47] tobinmori commented on #5986
This is great. Thanks for digging into this @escattone and for your help too @peterbe.

@atopal do you want us to continue digging in this? (it will of course, push other work out, since we originally alotted a day for this.)

[2019-10-26 16:51] ExE-Boss commented on #6035
@schalkneethling I’ve&nbsp;now&nbsp;extracted the&nbsp;duplicate&nbsp;icon&nbsp;fix into&nbsp;<https://github.com/mdn/kumascript/pull/1264>.

[2019-10-26 18:57] escattone commented on #6051
The issues in this repo are for MDN Web Docs (https://developer.mozilla.org/en-US/), not the Firefox browser. Please try posting your issue to one of the support options at https://support.mozilla.org/en-US/products/firefox instead.

[2019-10-26 18:57] #6051 closed

[2019-10-27 08:27] ankiiitraj commented on #5672
Hi @peterbe I see that some of these has been deferred but some are not, like 'main', 'jquery-ui', 'payments'. These are not meant to be deferred or I should defer them.
How to know which should be deferred and what shouldn't?
Thanks.

[2019-10-27 08:31] ankiiitraj commented on #6018
Hi, I am in. Will require little help. Thanks.

[2019-10-27 16:06] #5975 closed

[2019-10-27 16:09] #6018 closed

[2019-10-28 09:06] ExE-Boss commented on #6014
Some of&nbsp;the&nbsp;UI could be&nbsp;made using&nbsp;`display: flex;`.

[2019-10-28 09:15] ExE-Boss commented on #5879
Maybe it’s the compat table: https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Browser_compatibility

That has its own repository at: https://github.com/mdn/browser-compat-data

[2019-10-28 09:33] schalkneethling commented on #6045
@SphinxKnight This feature was removed, unfortunately. The same functionality is technically available using the TOC at the top of the sidebar.

[2019-10-28 09:47] SphinxKnight commented on #6045
OK, thanks for the workaround and explanation @schalkneethling
-if there is a specific rationale for the removal available, I would read it-

[2019-10-28 09:47] #6045 closed

[2019-10-28 11:01] schalkneethling commented on #6045
The tl;dr is that the original implementation was a performance hog due to all of the DOM manipulation. @peterbe and I discussed it and landed on a better implementation that Peter then implemented. At the time, however, it was decided that spending more time on this was not a good use of our time as the analytics suggested that *very* few users actually use the feature aka, the user benefit is lo

[2019-10-28 12:14] #6052 closed

[2019-10-28 12:20] peterbe commented on #5976
Oh my! Not only did the POST fail, it also changed the current revision of the document?!
Are your changes safe now though? Did you copy it after you got the error growl notification?
Is your submission listed in the revision history?

[2019-10-28 12:27] #6054 closed

[2019-10-28 13:07] Gregoor commented on #6009
It should be ready for review tomorrow EOD. The tests (#6023) should also be done by end of the week, so I don't think this will take longer than a sprint.

[2019-10-28 13:09] Gregoor commented on #6023
Sure, I've added a sentence about it. Should it be more explicit? I haven't read the GitHub tests yet, which is why it's so vague.

[2019-10-28 14:39] atopal commented on #5986
@tobinmori yes, I don't see an alternative. We're mostly flying blind at this point.

[2019-10-28 14:44] atopal commented on #5986
Maybe it's helpful to know that Chrome user traffic dropped by 27% and Firefox traffic by 48% during the same time period

[2019-10-28 14:45] atopal commented on #5986
Safari and Edge roughly 35%. Again, no idea if this is relevant.

[2019-10-28 14:46] atopal commented on #5986
No geographic differences (except China, but that's probably due to Golden week)

[2019-10-28 15:38] BrandonCopley opened #6058 "XMLHTTPRequest does not listen to response headers"
In my application I am sending a request with responseType of "json" but the application on error is instead returning a string "This is my error message". However XMLHTTPRequest will throw this away and return null because the string is unable to be parsed as a javascript object.

[2019-10-28 16:15] peterbe commented on #5672
I'm sorry that this is so tricky. But one learns from doing what's *not* easy.
Before it was like this:

[code]
Indpendent of *where* in the DOM these are, this is the expected exection order:
1. b.js
2. d.js
3. c.js (maybe!)
4. f.js (maybe!)
5. a.js
6. e.js

Actually, when c.js and f.js executes is 100% unreliable. They executes when it feels like it's ready. You basically can't guarantee that th

[2019-10-28 16:38] ExE-Boss commented on #5672
If you put it on both `a.js` and `b.js`, then it will be fine, but for `a.js`, `document.body` might be `undefined` when it executes, unless they both do that in a `DOMContentLoaded` event listener.

Note that `DOMContentLoaded` event listeners are executed in the registered order, so `b.js`’s event listener would be called before `a.js`’s if only `a.js` has `defer`, which would still break things

[2019-10-28 17:15] #6048 closed

[2019-10-28 17:21] #6028 closed

[2019-10-28 17:25] #6030 closed

[2019-10-28 17:27] #5997 closed

[2019-10-28 17:34] tobinmori opened #6059 "Bugzilla #1587029 Update the DevEdition banner on the landing page"
**Summary**
_What should be changed? (Please provide a URL if applicable)_
https://bugzilla.mozilla.org/show_bug.cgi?id=1587029

**Rationale**
_What problems would this solve?_
Improve CTA.

**Audience**
_Who would use this changed feature?_

**Proposal**
_What would users see and do? What would happen as a result?_

    "Build/Design in the browser" is something we can probably word to be easier

[2019-10-28 17:40] BrandonCopley commented on #6058
Yes, I am sending a post request with reponseType of json. I am responding
with a string instead of a json and the header says response is a string,
because the message errored out. However, xmlhttprequest ignores the
response headers and uses the request headers and assumes json still. This
converts the string to “null” and the end result is the xmlhttprequest
never gets the response.

On Mon, Oc

[2019-10-28 18:00] ExE-Boss commented on #5891
`js/prism‑mdn/components/prism‑json.css` hasn’t existed since #5189 was merged, which happened 8 months ago in February.

[2019-10-28 18:46] escattone commented on #5986
I just wanted to document what @peterbe and I just discovered and suspect is the root cause of this issue. What we've discovered is that there's a race condition in the front-end. The race is between the definition of the `ga` function that gets started [here](https://github.com/mdn/kuma/blob/6efecf27a6d37aba9433efac30017b7a39d5fe96/jinja2/includes/react_google_analytics.html#L13) and the hydratio

[2019-10-28 18:55] joedarc commented on #5986
@escattone could it be because the GA `<script>` tag has `[async]`?

[2019-10-28 18:56] violasong commented on #6059
Happy to help brainstorm new design/copy for an improved banner. cc: @digitarald

[2019-10-28 19:19] joedarc commented on #5986
@escattone to clarify, [here](https://github.com/mdn/kuma/blob/6efecf27a6d37aba9433efac30017b7a39d5fe96/jinja2/includes/react_google_analytics.html#L12) it sets `a.async=1`. Wondering if removing that would resolve the race condition.

[2019-10-28 19:36] peterbe commented on #5986
@joedarc No, it's best to leave that one async. The flaw was that we were doing this:

1. Inject `<script src="https://www.google-analycis.js" async>`
2. Create GA context provider =  has analytics loaded yet ? use it : noop.
3. looong time passes whilst we're waiting for /api/v1/whoami
4. Actually use the GA context provider.

What it needs to be is this:

1. Inject `<script src="https://www.goog

[2019-10-28 19:43] joedarc commented on #5986
@peterbe Understood, makes sense. 👍

[2019-10-28 22:33] escattone commented on #5986
@joedarc @peterbe Hm, I'm starting to doubt this theory. The `ga` function is always defined as soon as [this code](https://github.com/mdn/kuma/blob/6efecf27a6d37aba9433efac30017b7a39d5fe96/jinja2/includes/react_google_analytics.html#L13) runs, not after `analytics.js` is fully loaded. The `ga` function is designed to queue the requests until `analytics.js` is full loaded.

[2019-10-28 22:53] escattone commented on #5986
Just documenting something I'm seeing.

This is the `ga` function when it works:

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/3743693/67723876-87cab780-f99a-11e9-9ef4-476535760ef4.png">

and this is the `ga` function when it doesn't:

<img width="1415" alt="image" src="https://user-images.githubusercontent.com/3743693/67723928-b779bf80-f99a-11e9-986d-bf0080262b76.p

[2019-10-28 23:05] escattone commented on #5986
@joedarc @peterbe Yeah, that theory is not quite right, since I always see [this line](https://github.com/mdn/kuma/blob/6efecf27a6d37aba9433efac30017b7a39d5fe96/kuma/javascript/src/ga-provider.jsx#L33) run both when it fails and when it doesn't, but this issue still seems to be due to a race condition of some sort.

[2019-10-29 00:30] escattone commented on #5986
@joedarc @peterbe Here's my latest theory. It's a race condition between the `GAProvider` hydration and the completion of the load of `analytics.js`. When it fails, the `GAProvider` locks-in the `ga` function with the initial queueing version (i.e. `function(){(i[r].q=i[r].q||[]).push(arguments)}`) so that even after `analytics.js` loads and re-defines the `ga` function (to `function(a){dd("Execut

[2019-10-29 00:47] escattone commented on #5986
The following "lazy" providence of the `ga` function via the `GAProvider` seems to fix it (I can't get it to fail any longer locally):
[code]

[2019-10-29 01:16] joedarc commented on #5986
FWIW, i used the above code from @escattone and was unable to get the error to occur locally as well after refreshing countless times.

[2019-10-29 07:12] schalkneethling commented on #5891
Yup, I noticed that ;) Somehow it just kept surviving all this time with no pipeline errors :/

[2019-10-29 08:56] #6049 closed

[2019-10-29 10:47] callahad commented on #5941
I think there are a few more tweaks we could make, but this feels largely complete.
cc: @tobinmori to close?

[2019-10-29 12:10] peterbe commented on #5986
That's what I have in my branch too. More or less exactly that. But I'm struggling with `jest` tests at the moment.

[2019-10-29 12:40] tobinmori commented on #5941
yep @callahad closing!

[2019-10-29 12:40] #5941 closed

[2019-10-29 12:58] peterbe commented on #6039
Actually, a more ideal solution would be something like this:
https://gist.github.com/peterbe/1740864dfa1e2ec02e90063eeec396f4

It's more complicated but might perform better since it's less CSS upfront. We'd need to do it more properly with better error handling and we'd also need to figure out a way to "connect" this to django-pipeline.

[2019-10-29 13:13] peterbe commented on #6039
@Gregoor For the record, this relates to how we'd do the CSS for BCD tables too.
I think my Django solution would tie us over but it would be even better if we could properly lazy load it.
Again, I'm not convinced I want to improve Kuma since there are no good ways to test if it works.

[2019-10-29 13:47] tobinmori commented on #6058
What is the URL that gives this response, Brandon?

Thanks.

[2019-10-29 14:20] BrandonCopley commented on #6058
I’ve been using Axios and running my dev there. I’ll setup a jist later
with this.

On Tue, Oct 29, 2019 at 8:48 AM Tobin <notifications@github.com> wrote:

--
--
[image: Giftnix]

Brandon Copley

Founder & CEO

t: 512.784.6060 <(512)%20784-6060>

e: copley.brandon@gmail.com

[2019-10-29 14:43] peterbe commented on #5672
You're ruining the exercise by giving away the answer @ExE-Boss  :)

[2019-10-29 16:22] BrandonCopley commented on #6058
The exact response I see in the responseText field is:

[Exception: DOMException: Failed to read the 'responseText' property from 'XMLHttpRequest': The value is only accessible if the object's 'responseType' is '' or 'text' (was 'json'). at XMLHttpRequest.invokeGetter (<anonymous>:...

I have a sample project up here:

https://github.com/BrandonCopley/axios

If you run Examples -> Then postStringR

[2019-10-29 16:26] BrandonCopley commented on #6058
You can see here, the request object shows responseType of "DOM ERROR"

The request object has held onto it's type of "json" while the response object headers which printed below in console shows "text/plain" and then the server trace in chrome shows "response goes here"

<img width="1640" alt="Screen Shot 2019-10-29 at 11 24 43 AM" src="https://user-images.githubusercontent.com/1200774/67787542-c

[2019-10-29 17:41] #5986 closed

[2019-10-30 14:56] schalkneethling opened #6067 "Remove contributor notification post account creation"
Once a user has successfully signed up, we show a banner similar to the one below either just below the page header, or generally at the top of the page.

![Screenshot 2019-10-30 at 16 06 16 16 41 01](https://user-images.githubusercontent.com/10350960/67869535-3ce5a700-fb36-11e9-930b-66b82f6fd141.png)

Because of the changes to account roles, these no longer makes sense and should be removed.

[2019-10-30 14:57] atopal opened #6068 "Survey banner broken on home page"
**Summary**
The task completion survey banner is visually broken on the home page.

**Steps To Reproduce (STR)**
Not that easy to re-produce since the banner shows up for only 5% of users. I think there might be a waffle url parameter, not quite sure though

**Actual behavior**
Banner showed liked this:
![MDN_Web_Docs_und_Notizen_und_MClark_pdf__Seite_1_von_18_](https://user-images.githubuserconte

[2019-10-30 20:49] aborrell opened #6070 "literally millions of files in storage"
While making a backup copy of my profile folder, I found millions of files under storage/http+++www.facebook.com cache. I had to cut the backup as it never ended. I'm running Firefox Nightly under Debian Sid. I have a small video showing my attempt to delete files from the copy (I cut the removal it was taking to long) but is about 13Gb long. The term in the bottom left corner of the images shows

[2019-10-30 21:40] escattone commented on #6070
@aborrell The issues in this repository are for MDN Web Docs only, not Firefox. I think you want to post your message to Firefox support (see https://support.mozilla.org/en-US/).

[2019-10-30 21:40] #6070 closed

[2019-10-30 21:51] aborrell commented on #6070
Thank you, sorry for the inconvenience

[2019-10-31 00:49] escattone commented on #6070
@aborrell No worries, cheers!

[2019-10-31 12:25] tobinmori opened #6071 "User acct deletion: modal overlay to confirm/cancel user deletion."
**Parent ticket:**
https://github.com/mdn/sprints/issues/1922

**Description:**
Overlay appears on MDN profile page when a logged-in MDN user clicks on 'Delete Account' link.

**Acceptance Criteria:**
- [x] Modal needs to work on all devices. (for mobile - will go to a separate screen)
- [x] Clicking on 'Cancel' closes modal
- [x] Clicking on 'Yes, Delete my Account' executes deletion and closes m

[2019-10-31 12:31] tobinmori commented on #6071
@atopal where should the 'Delete Account' link (that launches the modal) appear on the profile page? (I don't see it on the design)

[2019-10-31 12:33] peterbe commented on #6068
Same thing here: https://github.com/mdn/kuma/issues/5816

[2019-10-31 12:40] tobinmori commented on #5862
@atopal Re: archiving users, clarifying: are we assuming that this just happens automatically and is not a user choice?

[2019-10-31 12:41] #5819 closed

[2019-10-31 13:10] tobinmori opened #6072 "User acct deletion: endpoint (whoami?) that indicates whether an MDN user has made contributions or not"
**Description**
We need an endpoint that checks whether an MDN user has made contributions or not. This endpoint will be used to determine which (of two possible) 'Delete your account' overlay to show. Either for non contributors or contributors. See here:
- https://mozilla.invisionapp.com/share/Y8SGMKQBCW3#/screens/370705983_Account_-_Profile_-_Delete_Account_-no_Contrib-
- https://mozilla.invisi

[2019-10-31 13:29] tobinmori opened #6073 "User acct deletion: Contributor modal overlay to confirm/cancel user deletion."
**Description:**
User acct modal specific to contributors, with option on what to do with contribs (keep anon or not)

**Design:**
https://mozilla.invisionapp.com/share/Y8SGMKQBCW3#/screens/370705982_Account_-_Profile_-_Delete_Account_-has_Contrib-

**Acceptance**
- [ ] Upon clicking 'delete my account' link on Profile Page, launches correct window based upon response from whoami endpoint (revisio

[2019-10-31 14:12] tobinmori commented on #6072
@escattone can you chime in on the 'How to do this?' options I've laid out?

[2019-10-31 14:25] #6072 closed

[2019-10-31 14:41] schalkneethling commented on #6071
That will be at the bottom of the edit profile page. I will spin up a separate issue for the UI portion of this work.

[2019-10-31 14:43] schalkneethling commented on #6071
Never mind, this is that issue ;)

[2019-10-31 14:44] schalkneethling commented on #6067
Yes, the first one will remain.

[2019-10-31 17:24] peterbe opened #6075 "search_phase_execution_exception on huge queries"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6572241/

[code]

[2019-10-31 17:28] peterbe commented on #6075
We *used* swallow all errors from Elasticsearch and say something like "Search unavilable. Please try again later" which was a bit of a "lie".
In cases that like this we should not let it throw an internal server error because the fault lies with the client.
At the very least, if Elasticsearch throws a `RequestError(400, ...)` we should do so on the Django view too.
Another thing we could do is ma

[2019-10-31 17:43] #5930 closed

[2019-10-31 19:28] jesstucker opened #6087 "MDN web docs Mobile Width Menu Dropdown Does Not Drop Down on Hover or Click"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update
<img width="528" alt="Screen Shot 2019-10-31 at 3 21 23 PM" src="https://user-images.githubusercontent.com/3093012/67979170-1d13b900-fbf2-11e9-9777-aed43a6f5660.png">

# Details

Menu dropdown works in desktop widths, but not mobile widths.  Hoveri

[2019-10-31 19:45] atopal commented on #5669
yeah, let's do this then. Now we can test live, via the real user metrics.

[2019-11-01 11:42] peterbe opened #6076 "Published files to S3 with double-slash in key"
**Summary**
In our Document JSON API, which uploads a .json file to S3 after publishing we've ended up with two keys that are nearly identical:

1. `api/v1/doc/en-US/Mercurial//Basics.json`
2. `api/v1/doc/en-US/Mercurial/Basics.json`

This causes problems when downloading to disk because the OS will normalize those to be the same and you end up downloading them twice which can be disastrous if you

[2019-11-01 11:52] peterbe commented on #6076
Almost all of those are `is_redirect` so perhaps it's just a relic of the ancient past.

[2019-11-01 11:54] peterbe commented on #6076
By the way, they are super rare:
[code]

[2019-11-01 11:56] peterbe commented on #6076
Actually, the only two troublemakers that are known about are these:
[code]
I.e. Only `Mercurial//FAQ` and `Mercurial//Basics` exists with and without double-slash in the slug.

[2019-11-01 12:03] peterbe commented on #6076
Actually, I honestly don't think this is worth worrying about.

[2019-11-01 12:03] #6076 closed

[2019-11-01 15:20] atopal commented on #5979
closing this epic in favor of the one we have in the sprints repo: https://app.zenhub.com/workspaces/mdn-sprint-board-5ab3d23fd0f4ea53b0022a61/issues/mdn/sprints/1816

[2019-11-01 15:20] #5979 closed

[2019-11-01 20:53] peterbe opened #6077 "Newsletter JS should load deferred"
We're currently loading the newsletter.js bundle with `async`. There's probably no reason to do that.
Thankfully the script tag for it is far down in the HTML so the chances are smaller that it'll cause harm.

`async` script tags *execute* as soon as they're ready. Unlike `defer` which always execute after the rendering phase. This means that `async` script tags can cause the rendering to have to

[2019-11-01 20:57] peterbe commented on #6077
There are actually multiple script tags with `'extra_context': { 'async': True, },` in `kuma/settings/common.py`. Many that shouldn't be. From a quick look, many of them are unimportant since they're part of the wiki. But much of the Wiki relies on `window.jQuery` as a global so there might be race conditions lurking there.
The only one I can see that should remain `async` is the `perf.js` because

[2019-11-01 20:58] peterbe commented on #6077
Hmm.. I just occurred to me that the `newsletter.js` is only used on the home page(s). Performance might be unimportant on those.

[2019-11-01 21:05] peterbe opened #6078 "Inclusion of 'bc-signals` JS depends on request.user"
from `react_document.html`:
[code]
`react_document.html` is ALWAYS executed anonymously. If the flag is dependent on a user being authenticated, it won't ever be true here but it might be true in the `/api/v1/whoami` XHR.

[2019-11-01 21:16] peterbe commented on #6077
Landing pages like `/en-US/` and `/zh-CN/` make up about **2% of our page view traffic**.

[2019-11-01 21:18] peterbe opened #6080 "react-bcd-signal.js loaded on every document page"
A page like this: https://developer.mozilla.org/en-US/docs/Web/HTML always loads https://developer.mozilla.org/static/build/js/react-bcd-signal.e49be9481ede.js even though that page doesn't even have a BCD table.

Might be worth doing a quick analysis of all non-redirect `Document`s that have `{{Compat` somewhere in their raw Kuma HTML. If it turns out that 99.9% of documents have a Browser Compat

[2019-11-01 22:10] escattone commented on #6078
For `react_document.html`, we're OK when using `waffle.flag()` for flags that are on/off for everyone, which the `bc-signals` and `developer_needs` flags are, since no user information (like cookies or authentication) is involved.

[2019-11-01 22:47] escattone opened #6081 "Should we still use React for pages that are not cached?"
**Summary**
There is a subset of endpoints, for example `/en-US/users/account/signup` or `/en-US/profiles/batman` (there are more), which the CDN treats as "pass-throughs", so in other words their responses are never cached and all cookies are forwarded. Since these endpoints are also rarely used in comparison to the document pages, the question arises if it's worth converting them to the world of

[2019-11-02 09:48] schalkneethling commented on #6081
There are some comments that should not be lost on this pull request:
https://github.com/mdn/kuma/pull/6057

Should we transfer those to this issue?

[2019-11-02 10:48] #5909 closed

[2019-11-02 11:32] amity1 opened #6082 "Changing the Language from One the is Written from Right to Left"
Hello,

The drop down language menu on the left of MDN site screen is truncated when the mouse is over the current language name.
Attached is an image of the truncated menu:
![mdnissue](https://user-images.githubusercontent.com/9569005/68070265-fd58ce00-fd74-11e9-9397-5e97244f3f86.png)

I will appreciate it if you fix the issue.

Thanks,
  Amit

[2019-11-02 15:52] atopal commented on #6081
Disclaimer: Feel free to ignore my opinion for anything react related, as I'm obviously not well informed. I'm only commenting, because I've seen page size come up a few times, and how code might be downloaded that's then never used. Of course that's not ideal, but as long as that code is not processed (big if), there is essentially no impact on MDN's performance (within reason). MDN's 90th percen

[2019-11-02 15:55] atopal commented on #6077
And those landing pages are already the fastest pages on MDN.

[2019-11-02 21:52] peterbe commented on #6077
Probably because they have less heavy stuff (interactive examples, BCD tables).
Doesn't mean we should allow it to be worse than it can be.

[2019-11-03 13:33] atopal commented on #6077
Of course, just pointing that out since there is diminishing returns.

[2019-11-03 21:41] peterbe commented on #6081
That's exactly why it's so important to control the size of the JS bundles.
A large JS bundle takes longer to un-gzip, parse, and execute. 5-10 years ago web perf was network bound but these days it's often CPU bound. Yank and main-thread blocking interactions matter a lot to the performance and the happiness of users.

Near-mandatory reading is: https://v8.dev/blog/cost-of-javascript-2019

An ide

[2019-11-04 05:47] sunnysaurabh93 opened #6085 "4096 bit certificate"
Is 4096 bit certificates supported in nss 3.41 ?

[2019-11-04 12:01] ParkhomenkoDmitry opened #6086 "HTMLDataListElement.add()?"

[2019-11-05 06:51] peterbe commented on #6087
![35465FDF-9902-4F3D-A03F-6923A8A90C99](https://user-images.githubusercontent.com/26739/68185043-77b56800-ff98-11e9-8bc0-64042ff48ba9.png)
Works fine in Firefox on iOS (which is ultimately the same as Safari iOS).
Responsive simulation can be tricky.

[2019-11-05 10:17] schalkneethling commented on #6024
@Gregoor just FYI, I got my wires crossed. I meant I am working on *this* one, and perhaps you can grab the delete account front-end piece once I am done with this. 😄

[2019-11-05 13:03] KevinvBeek opened #6088 "Closures page contains a bad gateway to jsfiddle"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Closures,

When I visited that page and scrolled down I saw this bad gateway message.

![image](https://user-images.githubusercontent.com/47809099/68210040-96cded00-ffcc-11e9-8eed-729537ae9498.png)

[2019-11-05 21:49] ppseafield opened #6089 "MDN Search Input doesn't match rounded search box width"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The MDN search bar width doesn't always match its size. On a large screen, only part of the rounded box includes the search input. It's a bit jarring to click the right side of the search bar but no cursor appears.

![mdn-search-bar](h

[2019-11-05 23:03] caitmuenster commented on #6034
Hey @tobinmori, sorry about that! Yes, I can give more lead time for these requests in the future. :) Thanks for scheduling this request for an upcoming sprint!

[2019-11-05 23:42] peterbe commented on #6088
It's an iframe that looks like this:
[code]
Seems jsfiddle.net had a bit of downtime today. Not much to do here. Thanks for reporting!

[2019-11-05 23:42] #6088 closed

[2019-11-06 20:41] #5612 closed

[2019-11-06 21:29] a2sheppy opened #6090 "Style of "read only" badges is unreadable"
**Summary**
Currently, the "Read Only" badges (produced by the ReadOnlyInline macro) are white text on a very light grey background. Essentially unreadable:

| |
|---|
| ![image](https://user-images.githubusercontent.com/1641439/68339211-1f728900-00b2-11ea-8793-4d6533fd158a.png) |

**Steps To Reproduce (STR)**
Go to any page which uses the read only badge, such as any of the following;; note the u

[2019-11-07 08:14] schalkneethling commented on #6090
Thanks you for reporting @a2sheppy

[2019-11-08 02:07] rahim-ismail opened #6091 "Problem with "Graceful asynchronous programming with Promises" article"
I'm trying to follow the instructions here:
https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Promises

But I keep getting this error trying out the example:
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at file:///C:/Users/Rahim%20and%20Maria/Desktop/web-projects/coffee.jpg. (Reason: CORS request not http).

The thing is, the live

[2019-11-08 09:17] chrisdavidmills commented on #6091
This is because you can't run fetch operations directly from your local hard drive (i.e. from a file:// URL). You need to run them from a server such as GitHub pages, or a local web server such as MAMP or Python SimpleHTTPServer.

These will both help you:

* https://developer.mozilla.org/en-US/docs/Learn/Common_questions/set_up_a_local_testing_server
* https://developer.mozilla.org/en-US/docs/Lea

[2019-11-08 13:03] peterbe opened #6092 "search_phase_execution_exception in ES on huuuge ?page params"
https://sentry.prod.mozaws.net/operations/mdn-prod/issues/6620806/

[code]

[2019-11-08 13:03] peterbe commented on #6092
You can reproduce this locally by opening http://wiki.mdn.localhost:8000/en-US/search?page=3301

[2019-11-08 13:19] rahim-ismail commented on #6091
Thanks for your response!

On Fri, Nov 8, 2019, 4:18 AM Chris Mills, <notifications@github.com> wrote:

[2019-11-08 16:32] joedarc commented on #6092
@peterbe How would you expect this to be handled? Not sure if there is a more graceful approach you had in mind. I took the same approach as #6075 and got it rendering the 500.html template. Basically just `try..except` with the `RequestError` or `TransportError` and render the respective template. Let me know if this works or not 👍

[2019-11-08 16:33] bacmodung opened #6093 "hi"
hi

[2019-11-09 14:05] chrisdavidmills commented on #6091
You are welcome!

[2019-11-09 14:05] #6091 closed

[2019-11-10 09:24] peterbe commented on #6092
When I wrote the issue I actually investigated what the problem actually
was and later, on the train, figured out how to fix it.

On Fri, Nov 8, 2019 at 4:32 PM joedarc <notifications@github.com> wrote:

--
Peter Bengtsson
Mozilla MDN Web Docs
https://www.peterbe.com

[2019-11-10 22:19] velusgautam commented on #6093
@wbamberg You can close this issue.

[2019-11-11 13:47] atopal commented on #5995
Schalk, is the proposed browser support matrix documented somewhere more permanent? Maybe it would be a good ADR candidate?

[2019-11-11 14:40] #6093 closed

[2019-11-11 15:35] tobinmori commented on #6086
Hi @parkhomenodmitry, are you asking that this content be added to MDN?

[2019-11-11 15:36] tobinmori commented on #6085
@sunnysaurabh93,

Can you please further explain what you mean by this?

Are you asking that we update our cert type?

Thanks,
Tobin

[2019-11-11 15:39] sunnysaurabh93 commented on #6085
What I am asking here is, does Mozilla NSS 3.41 supports 4096 bit SSL Certificates. In the release document, I saw that it supports more than 1024 bit, but what is the upper limit

[2019-11-11 16:55] tobinmori commented on #6081
Sounds like this can be punted after we drop the Wiki, unless it's causing a major performance drag now?

If we agree on that I can write an issue for this. . .

[2019-11-11 17:08] tobinmori commented on #6080
@peterbe any idea what the perf hit is on this? (trying to size up the priority level)

[2019-11-11 17:42] schalkneethling commented on #5995
It will be part of our style guide/pattern library which lives on mdn-fiori.

[2019-11-11 18:15] tobinmori commented on #6081
The answer to this is yes we will do this down the line, a candidate for an ADR.

[2019-11-11 18:16] #6081 closed

[2019-11-11 18:18] #6078 closed

[2019-11-11 18:29] callahad commented on #6087
Looks like this report was misunderstood: On Desktop, when the browser is resized to be narrow, the header does not react to clicks.

Somehow, we are only listening for touch events.

[2019-11-11 18:53] chrisdavidmills commented on #6058
I'm not sure why I've been assigned here. does this need a documentation update?

[2019-11-11 19:04] BrandonCopley commented on #6058
I think this should be updated in documentation, who runs the project? What
can I do to report or help with this? It seems like a bug because there is
a response, it's just not formatted correctly.

On Mon, Nov 11, 2019 at 12:53 PM Chris Mills <notifications@github.com>
wrote:

[2019-11-11 22:03] ParkhomenkoDmitry commented on #6086
On my view it would be logical so far it is in standard select

 

 
 
--
Пархоменко Дмитрий
 

[2019-11-11 22:11] peterbe commented on #6080
@tobinmori  hard to tell. Usually excessive JS causes yank but it’s near impossible to tell how much effect (quantitatively) it has on First Input Delay without experimentation.

[2019-11-12 00:19] escattone opened #6097 "Logging problems with Celery when running Python 3 on stage"
**Summary**
When https://github.com/mdn/kuma/pull/6084 was deployed to stage, we saw the following errors on the Celery beat and worker pods:

[code]

**Expected behavior**
No errors

**Additional context**
This is within the context of moving from Python 2 to Python 3.

[2019-11-12 00:25] escattone commented on #6097
@callahad Discovered the fix for these errors. Here's what he said within a DM Slack channel:
[code]

[2019-11-12 13:36] tobinmori commented on #6080
thanks @peterbe

[2019-11-12 14:20] #6097 closed

[2019-11-12 14:39] peterbe commented on #6092
The PR description is pretty well documented about the problem *and* the solution.
https://github.com/mdn/kuma/pull/6098#issue-339909343

[2019-11-12 14:51] peterbe opened #6099 "humans.txt is outdated and arguably a bit pointless"
The [humans.txt project](http://humanstxt.org/) isn't particularly important. We're currently only doing it to list past developer's GitHub handles.
There are a bunch of other potential things we could be putting in there but most of those are already covered by the [contribute.json](https://developer.mozilla.org/contribute.json).

[2019-11-12 15:14] peterbe commented on #6099
Actually, the reason it's outdated is because [the code](https://github.com/mdn/kuma/blob/aa921bd799503aebbdfc89e9d40a793e909840f0/kuma/humans/models.py#L18-L23) that generates it doesn't paginate.

https://api.github.com/repos/mdn/kuma/contributors is what's the source of truth for https://developer.mozilla.org/humans.txt but that only lists the first 30 developers.

We could fix it by making it

[2019-11-12 15:54] #6077 closed

[2019-11-12 21:06] tobinmori commented on #6073
closing as duplicate of #5862

[2019-11-12 21:07] #6073 closed

[2019-11-12 21:41] tobinmori commented on #6037
@atopal Ryan and I checked this out and found 160k Persona users.

Question 1: What do you prefer we do once we discover that someone attempting to log in was once a Persona user?

1. delete the Persona acct in the background, and let them create a brand new social acct.
2. before deleting Persona acct, copy over the user's profile metadata (interests, TZ, locale, github/twitter/linkedin/fbook url

[2019-11-13 00:00] jmswisher commented on #5798
@callahad-zenhub What is this waiting on?

[2019-11-13 09:43] callahad commented on #5798
@jmswisher There's a checklist in the first comment on the associated pull request (https://github.com/mdn/kuma/pull/5998). The main blocker is (https://github.com/mdn/infra/issues/336).

[2019-11-13 12:54] #5830 closed

[2019-11-13 14:56] darkwing opened #6100 "Fix Firefox Preview detection"
**Summary**
First reported here:

https://github.com/mozilla-mobile/fenix/issues/6175

It seems kumascript (?) is incorrectly detecting Fennec instead of Firefox Preview.

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. Open Firefox Preview (repo here: https://github.com/mozilla-mobile/fenix)
2. Go to https://support.mozilla.org/en-US/kb/how-clear-browsing-history-firefox-prev

[2019-11-13 16:27] SapereaudeForest opened #6101 "Quick links for active list elements should be bolded in the distinguish way for better UX"
**Summary**
When user move around the MDN pages and read e.g. tutorial parts, he needs additional effort to localize his place on the website. Of course there is breadcrumb, but main localization component which is `class="quick-links"` doesn't mark user current location in the distinguish way. There is "next" and "previous" CTA, however user wants jump into right section, which can be rooted not

[2019-11-13 16:37] SapereaudeForest opened #6102 "[CR] Quick Links could be scrollable"
**Summary**
For long articles it will be nice to see  `class="quick-links"` able to floating together with the user during scrolling.

**Rationale**
User will not have to scroll up for a seconds to the top to see quick links and select another interesting part.

**Audience**
Anyone, articles on MDN are amazing, abundant in knowledge and therefore long.

**Proposal**
When  `class="quick-links"` wil

[2019-11-13 17:07] escattone opened #6104 "Launch Python 3 on Production"
#### Summary
Now that the `master` branch of Kuma is Python 3, we need to deploy that to production. Here's the plan, in order of execution:

- Put developer.mozilla.org into maintenance mode
- Wait for the Celery queues to drain
- Deploy `master` to prod
- Clear the `default` Django cache

#### Acceptance Criteria
- [x] Integration tests run successfully on prod
- [x] No blocking errors
- [x] Doc

[2019-11-13 17:24] tobinmori commented on #6059
@atopal do you want us to provide A/B testing on this? @gregoor has suggested possibly using Google Optimize to track audience groups.

[2019-11-13 17:26] atopal commented on #6059
No, we'll do time based testing.

[2019-11-13 17:30] tobinmori commented on #5792
@atopal Gregor brought up a good point. What should we do with users who already have an MDN acct? Will they have any opportunity to sign up for a subscription?

[2019-11-13 17:30] tobinmori commented on #5792
Note: we'll track users who have signed up by storing their Basket UID in the Django user obj.

[2019-11-13 17:32] digitarald commented on #6059
If we have a/b testing in place, it makes sense to test messaging (especially for other locales).

[2019-11-13 17:47] atopal commented on #6059
Unfortunately we don't have that already.

[2019-11-13 19:16] ClassicOldSong opened #6106 "div with inline style that is position:fixed /zh-CN/docs/Web/CSS/Adjacent_sibling_combinator"
Check this page: https://developer.mozilla.org/zh-CN/docs/Web/CSS/Adjacent_sibling_combinator

A mysterious translation plugin label appears on the left side of the page, which probably comes from someone who edited the page while using a select-to-translate extension.

![image](https://user-images.githubusercontent.com/10512422/68796010-0d35b380-068d-11ea-97bc-f92c0d0fbaa9.png)

May this be a pot

[2019-11-13 19:20] tobinmori opened #6107 "Implement flags in common.py for User Acct functionality"
We require constance flags that will toggle on/off the User Acct functionality, so that we can merge the FrontEnd code into master, w/o major rebasing hassles.

[2019-11-13 19:35] peterbe commented on #6106
I'm able to reproduce it locally:
<img width="1113" alt="Screen Shot 2019-11-13 at 2 35 33 PM" src="https://user-images.githubusercontent.com/26739/68797600-e3e03d80-0622-11ea-9024-9c7eed2ddba0.png">

[2019-11-13 19:39] peterbe commented on #6107
What is the reasoning for not just using an environment variable (and `settings/common.py`)?
Constance should only be used if there's a genuine need to toggle something global without having to wait for a release.

[2019-11-13 20:24] peterbe commented on #6106
Not an XSS thing. It's just some rather odd content. Someone's just put
[code]
into the content.
It's not insecure. I just don't get why [XiangHongAi](https://wiki.developer.mozilla.org/zh-CN/profiles/XiangHongAi) did it: https://wiki.developer.mozilla.org/zh-CN/docs/Web/CSS/Adjacent_sibling_combinator$compare?locale=zh-CN&to=1540152&from=1469297

I'm not sure what it is or why it's there but it's

[2019-11-13 20:29] marcelduin opened #6109 "Please remove the "Take a screenshot" entirely"
It's useless and people that will want to make a screenshot will know how to do that. Please remove all that stuff. It's confusing.

[2019-11-13 21:48] peterbe commented on #6109
What URL is that that you're referring to?

[2019-11-13 21:53] escattone opened #6110 "Integration tests fail when run using Python 3"
**Summary**
The integration tests (everything under `tests/`) fail when run using Python 3.

**Steps To Reproduce (STR)**
1. Build a Python 3 `virtualenv`, `pip` install `requirements/test.txt`, and activate it
2. Run `pytest --base-url https://developer.allizom.org tests`

**Actual behavior**
You'll see this error:
[code]

**Expected behavior**
The tests to run successfully.

[2019-11-13 21:58] marcelduin commented on #6109
Any, right-click on any page and it says "Take a screenshot". This applies to all context menus.

[2019-11-13 22:10] #6110 closed

[2019-11-13 22:16] peterbe commented on #6109
Thanks for sharing but this GitHub repo is for the Mozilla Developer Network website (aka. MDN) https://developer.mozilla.org

[2019-11-13 22:16] #6109 closed

[2019-11-13 23:54] escattone commented on #6104
The deploy to production completed around 2:45pm Pacific time, after which I cleared the cache to resolve the Unicode decode errors and successfully ran the integration tests. It has been about an hour since the deployment, and we are not seeing any new errors. That completes the acceptance criteria, so I'm closing this issue.

[2019-11-13 23:54] #6104 closed

[2019-11-14 00:18] escattone commented on #6107
I agree. I think we should just use an environment variable and an associated setting in `settings/common.py`.

[2019-11-14 09:35] callahad opened #6114 "README has stale links to Bugzilla"
README still points to Bugzilla for P1 / P2 bugs. It should link to GitHub instead.

[2019-11-14 13:35] chrisdavidmills commented on #6115
This si the only page I've seen that does this, but I am worried that more live ssamples will be affected. It is indicating that some styling is not being applied to the demo inside the IFrame because of this, so it should at least be investigated.

[2019-11-14 13:37] atopal commented on #6115
Marking as a P2 for the next sprint

[2019-11-14 13:45] peterbe commented on #6101
I agree but I'm not sure how easy that would be.
I filed [this](https://github.com/mdn/stumptown-renderer/issues/230) which is for a future refactoring how MDN's sidebars work.

[2019-11-14 13:57] peterbe commented on #6102
That might be very tricky if the sidebar's own height is more than height of the browser window. Because how else are you supposed to be able to scroll the side bar. And some sidebars get really long.

[2019-11-14 13:57] peterbe commented on #6102
Also, what does `[CR]` mean?

[2019-11-14 14:57] tobinmori opened #6116 "U - Document analysis of MDN contributor workflow usage"
Acceptance Criteria
- [x] Ratio english/non-english
- [ ] Number of contributions by power-users/staff/community
- [ ] Type of edits
- [ ] Typos, styling vs semantic changes (take a sample of 100 random edits)
- [x] Histogram of edits per week
- [x] Number edits per week (collapse multiple edits within short period of time)
- [ ] summarize data
- [ ] guesstimate # of edits/PRs (by non-core/core te

[2019-11-14 15:00] tobinmori opened #6117 "Analyze"

[2019-11-14 15:00] tobinmori opened #6118 "E - Alternative workflow agreed"

[2019-11-14 15:02] tobinmori opened #6119 "T - Reach out to other JAM-Stackers"
Acceptance Criteria:
Meetings with the following
- [ ] Microsoft (MSDN)
- [ ] React
- [ ] Kubernetes

[2019-11-14 15:06] tobinmori opened #6120 "Research whether github bots can help with vouching PR from Contributors"
E.g. Auto-merge PRs from people who already have a merged PR

Acceptance Criteria:

- [ ] research Probot or other options for automating vouching PRs from external content contributors
- [ ] document research

[2019-11-14 15:09] #6117 closed

[2019-11-14 15:13] tobinmori opened #6121 "T - Talk to L10n team and see how they deal with contributions they can’t control"
Acceptance criteria:
- [x] Talk to L10n team and see how they deal with contributions they can’t control and summarize those discussions
- [x] Talk to L10n team (Jeff Beatty) (now)

[2019-11-14 16:13] atopal commented on #5898
This was done yesterday

[2019-11-14 16:13] #5898 closed

[2019-11-14 16:13] Gregoor commented on #5792
Oh I guess this is only an issue for the backend, where as https://github.com/mdn/kuma/issues/6040 is for the frontend?
There's also a design for updating subscriptions in there, so that answers that question.

What I didn't find in the designs is a link for managing subscriptions over at mozilla.org. Or is that the subscription-"tab" on the side?

[2019-11-14 16:17] peterbe commented on #6106
[I just removed that weird `<div>`](https://wiki.developer.mozilla.org/zh-CN/docs/Web/CSS/Adjacent_sibling_combinator$compare?locale=zh-CN&to=1590595&from=1540152)

[2019-11-14 16:17] #6106 closed

[2019-11-14 16:23] tobinmori opened #6122 "T - Create feature matrix, and decide which features not to support (now)"
Acceptance Criteria:

- [x] A document that shows front-end features of MDN and compares these features against Stumptown renderer the goal of which is to determine which features to support in Yari 2
- [x] List missing features (now)
- [ ] List upcoming features that will need parity (now)
- [ ] List what missing features are straight forward, and which ones are fraught with risk (now)

[2019-11-14 16:28] tobinmori opened #6123 "Reuse code (de-dupe via pattern lib)"
Acceptance Criteria:

- [ ] ?

[2019-11-14 16:31] tobinmori commented on #6122
https://docs.google.com/document/d/1uUxPGdLJsiUVguQu1Hy_taMsVlQJ0DnbUoL8Ky1pE4o/

[2019-11-14 16:39] tobinmori opened #6124 "U - Competitive Analysis - Study other documentation projects' GitHub file organizations"
Acceptance criteria:

- [x] Provide a document describing how other orgs, organize their Github Files for contributor workflows

[2019-11-14 17:26] schalkneethling commented on #6123
? 😕 😸 @tobinmori

[2019-11-14 21:35] tobinmori commented on #6123
@schalkneethling consider this a placeholder for now! But I think the spirit of this issue will be to investigate how to make the front-end html/css/js nice and organized in the world of yari/stumptown (that best suits the way files are organized in those projects).

[2019-11-14 22:45] a2sheppy opened #6125 "Magic is incorrectly using image/svg as MIME type for SVG files, preventing uploads of SVG files"
Magic or libmagic is incorrectly using `image/svg` as the MIME type for SVG uploads, rather than `image/svg+xml`, which is the only correct MIME type [1] (and the one we've always used in the past).

Normally, we keep SVG uploads disabled for security reasons since SVG can contain JavaScript code. However, we like to use it for diagrams and the like because they can be translated, and they are mor

[2019-11-14 23:56] #6034 closed

[2019-11-15 16:39] l-miller opened #6128 "Fix "This PDF Document might not be displayed correctly" issue"
Hi All!

Here is a valid PDF file (checked up with various methods):
[Example.pdf](https://github.com/mdn/kuma/files/3852353/Example.pdf)

It pops up a print dialogue while opening (expected) and an annoying warning "This PDF Document might not be displayed correctly" (not expected, the screenshot is included).
![screenshot](https://user-images.githubusercontent.com/57762565/68959500-35352c00-07df

[2019-11-15 16:55] Gregoor commented on #5792
@atopal do we want a manage-subscription link anywhere on MDN or are we fine with it just being in the emails? This affects how we use the salesforce API, as we don't need API keys if we don't need to show that link (and we'd then also just store a flag in the db for subscription status, instead of a token).

[2019-11-15 17:01] Gregoor commented on #5792
Chatted with the basket engineer and the https://www.mozilla.org/en-US/newsletter/ endpoint will be deprecated soon, in favor of the http://basket.mozilla.org/subscribe/ endpoint. It should be drop-in replacement.

[2019-11-15 17:15] peterbe commented on #6128
This GitHub repo is about MDN (developer.mozilla.org) not Firefox the browser.

See https://bugzilla.mozilla.org/

[2019-11-15 17:15] #6128 closed

[2019-11-15 19:16] #6021 closed

[2019-11-15 19:16] peterbe commented on #6001
This got solved with the Python 3 upgrade. All those URLs work now.

[2019-11-15 19:16] #6001 closed

[2019-11-15 19:19] peterbe opened #6129 "Python3'isms and cleanup"
Originally from: https://bugzilla.mozilla.org/show_bug.cgi?id=1561948

We do a bunch of old-school Python 2 ways of doing things and we're still using backports in Django and six. We can clean all of that up now.

[2019-11-15 19:44] tobinmori commented on #6034
Hi @caitmuenster, thanks for your patience while we pushed Python3 over the hump.

We've finally deployed your request.

[2019-11-15 20:29] caitmuenster commented on #6034
Thank you so much, @tobinmori, and congrats on the Python3 work!

[2019-11-16 17:17] tobinmori commented on #5792
I think for the first iteration. "Subscription mgmt" is just the 'unsubscribe' link on the email. :)

[2019-11-18 12:46] schalkneethling commented on #6059
Hi @violasong and @digitarald,

Are there required changes here beyond copy? If the intent is to also change the design elements, please let me know so we can sync-up on the format etc. Thanks!

[2019-11-18 12:56] schalkneethling commented on #6067
@atopal FYI, we have the following copy in the current welcome email. Should this be cleaned up as well?

[code]

[2019-11-18 13:20] atopal commented on #6059
The current CTR is about 1.1%. It will be quite the challenge to improve upon that, prominent banners across the site usually get about .3%, but let's see what we can do :)

[2019-11-18 13:24] atopal opened #6132 "Outbound link tracking regression"
**Summary**
On October 24 2019 we did something that lead to outbound link tracking dropping to 0. Before that we had about 20000 events per work day. It looks like that's the only event that was affected.

**Additional context**
The event category is "Outbound Links". We use that to count the number of times outbound links are clicked on.

[2019-11-18 13:29] atopal opened #6133 "task completion banner broken"
**Summary**
The task completion survey banner is visually broken on all pages.

**Steps To Reproduce (STR)**
Not that easy to re-produce since the banner shows up for only 5% of users. I think there might be a waffle url parameter, not quite sure though. Once you can get it to show, scroll to the bottom of the page. The unstyled banner is displayed there.

**Actual behavior**
Banner is displayed a

[2019-11-18 13:34] atopal commented on #6067
Yes, it should be cleaned up, but it's fine to leave that for now.

[2019-11-18 13:40] atopal commented on #6067
I filed an issue here: https://github.com/mdn/sprints/issues/2425

[2019-11-18 13:43] atopal commented on #5792
Hey, please keep in mind that we need to send a message when they subscribe and another one when they unsubscribe: the screens are here: https://mozilla.invisionapp.com/share/6GUVS9DH9V5

[2019-11-18 14:06] Elchi3 commented on #6133
fwiw, it presented itself to me when I was on wiki.developer.mozilla.org today.

[2019-11-18 14:52] atopal commented on #6133
@Elchi3 you mean the correctly styled version in the top right corner?

[2019-11-18 14:54] Elchi3 commented on #6133
Yes, I can screenshot it next step time if I'm lucky to see it again. I'm using Firefox 70, Ubuntu.

[2019-11-18 16:34] peterbe commented on #6133
@atopal Your screenshot didn't upload here on the issue description. Can you try attaching it again?

[2019-11-18 16:37] atopal commented on #6133
Done. Weird though, maybe it's just me? I checked the numbers and if anything we now have more people taking the survey than a month ago.

[2019-11-18 16:38] atopal commented on #6133
oh, never mind, this is the MDN Web DNA (the needs survey). I was the only user who had it turned on permanently for testing puroposes.

[2019-11-18 16:38] #6133 closed

[2019-11-18 16:53] atopal commented on #6100
Hey David, that seems to be a support.mozilla.org issue? This is MDN.

[2019-11-18 16:54] atopal commented on #6100
That's https://github.com/mozilla/kitsune

[2019-11-18 16:55] darkwing commented on #6100
*Sigh*, my mistake.  I'll file there!

[2019-11-18 16:55] #6100 closed

[2019-11-18 16:57] atopal commented on #6101
Agreed. We have that in the reference, see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach

[2019-11-18 16:59] atopal commented on #6102
Peter, at that point the side bar itself becomes scrollable. See here: https://docs.microsoft.com/en-us/azure/backup/backup-mabs-protection-matrix

I'm not convinced that that's great UX.

[2019-11-18 17:08] peterbe commented on #6132
Note-to-self; start here: https://github.com/mdn/kuma/blob/1abcd6eb5faea79f5e46447ff39d6c5147301be4/kuma/static/js/analytics.js#L138

[2019-11-18 17:10] atopal commented on #5976
Hey @estelle do you still remember the incidence to answer Peter's questions? It would be helpful to triage this bug. Thank you!

[2019-11-18 17:14] atopal commented on #6125
Hey Sheppy, can you try image/svg instead? Looks like it's an issue in a library we are using.

[2019-11-18 17:34] peterbe commented on #6133
Perhaps I misread this but https://github.com/mdn/kuma/pull/6108 is a solution to this.
What happened in your case was that the `developer_needs` flag was `True` but when Jinja prepared the page, referencing waffle flags, the `developer_needs` flag was `False`. Clearly a mismatch.

[2019-11-18 17:37] atopal commented on #6133
Yes, agreed, it's already being tracked. I had assumed we had a new issue.

[2019-11-18 19:02] schalkneethling commented on #6040
Hey @escattone,

Should I add a newsletter checkbox to the current sign-up form, I assume there is some back-end work that needs to happen before the data will actually be handled properly correct?

Is this work blocked on https://github.com/mdn/kuma/issues/5792 or, does it makes sense to do the front-end work but, hide it behind a Constance setting?

Thanks!

[2019-11-18 21:09] peterbe commented on #5862
@atopal @escattone @tobinmori @schalkneethling Here's what I think we decided in Portland:
![Issue 5862(2)](https://user-images.githubusercontent.com/26739/69094079-b843c580-0a1d-11ea-8d6a-ec1e1fe923a6.png)

(Note-to-self; https://www.draw.io/#G1Jrf7H3YK5OtNz621dBff6M70vAzCUBTm)

3 things can happen when the user wants to delete their account:

1. They have 0 revision contributions so just wipe th

[2019-11-18 22:09] escattone commented on #5862
@peterbe That seems like a good plan to me!

If we tried to "revive" the account, how would we know if it's the same person? I suppose we'd have to save an email address (and so couldn't wipe everything except the username) and send a recovery code or something like that?

[2019-11-18 22:23] escattone commented on #6040
I think @Gregoor is taking this work on the back-end, so he'll have the final word, but I think you could go ahead and add a checkbox to the current sign-up form, but include/exclude it based on a simple python-decouple/environment variable in `kuma/settings/common.py`, something like:
[code]
that you'll then have access to via `settings.ENABLE_NEWSLETTER_SIGNUP` in the Jinja template.

[2019-11-19 01:32] violasong commented on #6059
From the survey data we've collected MDN's homepage seems to get a lot of beginners, so it could be good to call out a learning-type feature. A great candidate for that would be Inactive CSS. I'd also like to make the copy a bit clear about being a link to DevEdition.

[2019-11-19 03:12] schalkneethling commented on #5862
Yup, we would have to keep the associated email address as well so we can do the whole account recovery flow.

[2019-11-19 03:17] schalkneethling commented on #6040
Thanks, @escattone. That was my thinking as well. Total tangent but, now I hear you speak of a third mechanism for these things 🙈 😸

I get that Constance is essentially an on-off switch and Waffle is an on-off switch on low-grade steroids ;p Where does `python-decouple` fit into this picture? i.e. when should we use which option?

The distinction between Constance and Waffle seems clear to me, but

[2019-11-19 03:20] schalkneethling commented on #6059
That sounds like sane reasoning and a good version to test. We can also accommodate those design elements in our featured banner component. Let me know when you are ready to move forward on this.

[2019-11-19 11:38] atopal commented on #5862
We won't offer a way to get an old username, if you decided to delete your MDN account. If this turns out to be frequent and contentious, we can revise our implementation.

[2019-11-19 11:42] atopal commented on #5862
@peterbe yes, that diagram is what we had agreed on, IIRC. The only thing I can't remember is whether we agreed to change the username to "anonymous" or actually use the user anonymous to attribute those edits. I personally don't have an opinion either way.

[2019-11-19 11:48] atopal commented on #6040
@schalkneethling I don't see it in the invision deck, the language of the check box has to be changed, it's now: "Get updates on what’s new with MDN to your inbox."

[2019-11-19 11:50] atopal commented on #6059
That sounds good to me. @violasong is that the final design?

[2019-11-19 12:08] schalkneethling commented on #5862
We decided to use the single, catch-all `anonymous` user for these instances.

[2019-11-19 12:11] schalkneethling commented on #6040
Hmmm, that reads a little odd to me. How about:

`Get updates on what’s new with MDN delivered to your inbox.`

or,

`Get updates on what’s new on MDN delivered to your inbox.`

Thoughts @atopal?

[2019-11-19 12:40] atopal commented on #6040
That's the wording proposed by our legal counsel. I do like yours a bit better, Schalk, and would normally just go with that, but I don't think it's worth holding back and the several day long back and forth with legal to optimize that.

[2019-11-19 13:41] atopal opened #6283 "E - User flow instrumented"
# User story
As the PM I want our new user flow to be instrumented so we can identify bottle necks

# Context
We have a new user flow that will hopefully allow more users to easily get an MDN account. We have already talked about some potential confusing screens. Instrumenting the flow should allow us to identify issues and check whether our optimizations are working.

## My questions:
1. How many

[2019-11-19 17:18] atopal commented on #6037
Q1. Let’s go with option 1. They haven’t seen that data in at least 3 years.
Q2. Let’s ignore their banned status. This will most likely be extremely rare

[2019-11-19 18:02] escattone commented on #6040
@schalkneethling

I think a `python-decouple`/environment variable (i.e., something like `ENABLE_NEWSLETTER_SIGNUP = config('ENABLE_NEWSLETTER_SIGNUP', default=False, cast=bool)`) is the best option going forward, certainly for anything that changes infrequently (perhaps on the order of once a month at most?). On the one hand, it's much simpler (no dependencies other than the very simple `config`

[2019-11-19 18:41] schalkneethling commented on #6040
Thanks so much for the detailed feedback @escattone, much appreciated!

[2019-11-19 19:19] #6099 closed

[2019-11-20 01:20] violasong commented on #6059
Great! I'm working on a design here and would love feedback:

https://www.figma.com/file/7IA9MGWn9R4ToIQw3eY4qH/MDN-banner-inactive-css?node-id=1%3A11

I had to cut down on the text, including the words "Inactive CSS," because it was competing with the screenshot which already has a lot of text in it.

[2019-11-20 01:33] escattone commented on #6037
@atopal @schalkneethling After looking at this in much more detail today (the code is not easy to grasp), I realized that this is more complicated than I originally thought (for example, deleting the user associated with an existing persona account may not be straightforward since that user may have made one or more document revisions). Now that I understand this user/social-account world much bet

[2019-11-20 03:04] schalkneethling commented on #6059
Awesome! Thanks @violasong - I made a small suggestion on Figma, let me know your thoughts.

[2019-11-20 08:52] Gregoor commented on #5792
From my understanding email contents, like sign-up/unsubscribe confirmation are configurable through Salesforce, though design options might be limited there.

@pmclanahan can you point us to the right person that can help us getting our custom messages into salesforce?

[2019-11-20 09:33] zcdzfd797 opened #6137 "Array.prototype.flat() 中文事例有个问题"
// 使用 reduce、concat 和递归展开无限多层嵌套的数组
var arr1 = [1,2,3,[1,2,3,4, [2,3,4]]];

function flatDeep(arr, d = 1) {
   return d > 0 ? arr.reduce((acc, val) => acc.concat(Array.isArray(val) ? flatDeep(val, d - 1) : val), [])
                : arr.slice();
};

flattenDeep(arr1, Infinity);
// [1, 2, 3, 1, 2, 3, 4, 2, 3, 4]

// flattenDeep

[2019-11-20 11:25] atopal commented on #6037
Happy to meet, Ryan.

[2019-11-20 12:23] #6132 closed

[2019-11-20 13:19] Elchi3 opened #6139 "Require minium length for "explanation" field in BCD signals"
**Summary**
_What should be changed?_
A minimum length of 10 characters should be required for the "explanation" field in BCD signals

**Rationale**
_What problems would this solve?_
Less spam submissions

**Audience**
_Who would use this changed feature?_
BCD maintainers

**Proposal**
_What would users see and do? What would happen as a result?_
Users would be required to enter a meaningful expla

[2019-11-20 14:09] #6092 closed

[2019-11-20 14:52] pmac commented on #5792
The welcome email messages are indeed handled by the email team in Lifecycle Marketing. Best thing is to probably ask about these in the #email channel on slack. I'm not aware of any "unsubscribe" emails that we send, and in fact it may not be legal to send anyone email after they've specifically told us that they don't want anymore email. The email team would know best though.

[2019-11-20 15:35] Gregoor commented on #6040
Note from working with the basket/salesforce API before: They don't like us to manage the actual subscription state on our side, hence after setting that checkbox initially we should either disable it or completely hide it. Users are then able to manage their subscription status through the "footer"-link in the newsletters mails.

You can see that flow in action by signing up at voice.mozilla.org

[2019-11-20 16:01] schalkneethling commented on #6040
:+1: Thanks for the info @Gregoor. It will then only be shown once during the sign-up flow. And then it will be managed, as you mentioned, via the emails themselves.

I guess if a user did not choose to sign-up for the newsletter during sign-up, we might provide them a second opportunity to do so via their profile. Even then though, once they have subscribed, we will have no UI to manage subscript

[2019-11-20 16:30] a2sheppy commented on #6125
@atopal ^

[2019-11-20 18:51] #6067 closed

[2019-11-20 18:51] digitarald commented on #6059
@violasong you went down that path somewhat with the new design: I would recommend focussing on the general value of our CSS tools and not sell with a specific feature name. The screenshot works intuitively, so this is all about copy.

[2019-11-20 19:41] peterbe commented on #6139
@atopal Do we invoke the Open Participation team to come back and do this kind of maintenance or are we expected to do it ourselves from now on?

[2019-11-20 19:42] atopal commented on #6139
This is on us from now on Peter, they don't have any resources they can allocate to this anymore.

[2019-11-20 19:55] peterbe commented on #6125
How about this for a solution:

1) If the computed mimetype is `image/svg` we override and say it's `image/svg+xml`.
2) If you're a superuser or staff and the mimetype is `image/svg+xml` we skip the validation check and just allow it.

That worked for me in a quick hack. Now I was able to insert my SVG:
<img width="907" alt="Screen Shot 2019-11-20 at 2 51 41 PM" src="https://user-images.githubuser

[2019-11-20 19:57] a2sheppy commented on #6125
That works for me. It will be better than the current situation by far.

[2019-11-20 20:26] peterbe commented on #6125
[There are 29 users with staff status](https://developer.mozilla.org/admin/users/user/?is_staff__exact=1).
If we go for this solution, I wouldn't mind removing the use of Constance and just switching to a plain environment variable for this.

[2019-11-20 20:26] peterbe commented on #6125
@escattone If you don't mind it, I can take a stab.

[2019-11-20 20:44] escattone commented on #6125
@peterbe I had spent some time last week looking into getting `libmagic` to return `image/svgxml` rather than `image/svg`, but I couldn't see how to resolve that. It seems like a configuration bug, but I'm not sure. I like your proposed workaround, so please go ahead and take a stab, thanks!

[2019-11-20 21:13] peterbe commented on #6139
@Elchi3 I couldn't help but to start looking into it and now I'm almost there with a half-decent solution.
Ideally, what I'd like to do is something where it displays (underneat the textarea) like "Minimum 10 characters. YOu have typed 8." And it'd vanish once you're above 10 and reappear again when you've typed too much and say "Maximum is 1,000 characters and you have typed 1,001."
But the code

[2019-11-21 06:12] violasong commented on #6059
Cool! I changed the example from being about flex:1 to being about width/display:inline, which seemed like a more common/recognizable problem.

And Schalk, I added the checkboxes (it's still a somewhat simplified version of the UI).

https://www.figma.com/file/7IA9MGWn9R4ToIQw3eY4qH/MDN-banner-inactive-css?node-id=1%3A11

[2019-11-21 06:29] mashirozx commented on #6137
这里是 MDN 的后端代码库，不是 Web Docs 数据库，对于 MDN 文档上的疑问请不要发在这里。建议去其他相关的社区提问，比如 [StackOverflow](https://stackoverflow.com/)。另外，在一个英文项目中使用中文提问是非常不礼貌的。

Translation for the issue: he has a problem about content on Web Docs, not relate to this project.

[2019-11-21 10:21] jahnviss opened #6142 "navigator.connection doesn't give Cellular or Wi-fi type."
In javascript I am looking for network conenction type like :Cellular", "wifi", "ethernet" etc... and I found that navigator.connection.type gives such information. I checked in Google Chrome Version 73.0.3683.86 (Official Build) (64-bit) .

console.log(navigator.connection) gives output :
NetworkInformation {
downlink: 8.15
effectiveType: "4g"
onchange: null
rtt: 100
saveData: false
}
I don't see

[2019-11-21 10:24] schalkneethling commented on #6059
@digitarald and @violasong do we have sign-off on the design in https://github.com/mdn/kuma/issues/6059#issuecomment-556936574

[2019-11-21 11:32] atopal commented on #6139
Hey Peter, I appreciate that you want to fix small things quickly, but I wish you'd have waited a bit. This is not a priority, and the report doesn't have all the details to design a solution. When you show people the minimum characters required, those who had put noise in there, will just generate more noise, but in this case it's not a big deal to lose some submissions, since those with less tha

[2019-11-21 13:09] atopal commented on #6125
Peter, if you are working on this, do we need to remove something from the current sprint to accommodate that?

[2019-11-21 13:50] peterbe commented on #6125
I'm ahead on my sprint stuff. Besides, this is easy to do.

[2019-11-21 13:59] peterbe commented on #6139
So it all started innocently by poking to see if there's a quick and simple fix. Then it escalated when I realized there wasn't because of the way the JS is implemented but I did find a really straight-forward compromise. Then, I noticed something. There is 0 test coverage on the Django side. And there's no validation of the mandatory field `explanation`. So you can `curl` submit BCD signals with

[2019-11-22 00:38] wbamberg opened #6146 "Macro search results are mangled for non-en-US locales"
See for example https://wiki.developer.mozilla.org/en-US/search?locale=*&kumascript_macros=WebExtAllExamples&topic=none

This lists all pages that call WebExtAllExamples, across all locales. One entry looks like:

<img width="893" alt="Screen Shot 2019-11-21 at 4 30 25 PM" src="https://user-images.githubusercontent.com/432915/69387936-3e5d4780-0c7c-11ea-9347-5916d638d12d.png">

This is the German

[2019-11-22 01:23] violasong commented on #6059
Just talked to Harald - yep, we've signed off on it!

Here are the 2x assets for the banner and app icon, which should be displayed at 313px wide and 64px wide respectively.
[assets.zip](https://github.com/mdn/kuma/files/3877501/assets.zip)

Do you have an estimate for when this may go live? I'm going to work on adding an Inactive CSS section to the DevEdition website that can hopefully launch aro

[2019-11-22 04:27] schalkneethling commented on #6059
Thanks, @violasong. I would estimate this could go live on Monday, but let's make the official day Tuesday to be sure.

[2019-11-22 05:36] digitarald commented on #6059
This should also change the utm_campaign (now `css_grid_learn_more_2`), maybe `deved_inactive_css`?

[2019-11-22 09:15] Gregoor opened #6147 "Retry failed basket requests"
Depends on #6141 (the PR adding basket) and #5424 (which contains the util function `requests_retry_session`)

Currently basket requests are only tried once but one shall not trust network or external services or software in general. So we should add retries!

[2019-11-22 15:14] peterbe commented on #6146
Seems suspiciously so for all locales in general:
<img width="930" alt="Screen Shot 2019-11-22 at 10 11 26 AM" src="https://user-images.githubusercontent.com/26739/69437073-90e84380-0d10-11ea-8a11-5a095dd60897.png">

[2019-11-22 15:16] peterbe commented on #6146
You can actually reproduce it with: https://wiki.developer.mozilla.org/en-US/search?locale=*
One of the first-page search results is this:
<img width="1011" alt="Screen Shot 2019-11-22 at 10 15 45 AM" src="https://user-images.githubusercontent.com/26739/69437326-1a981100-0d11-11ea-879f-723273691027.png">

[2019-11-22 18:43] escattone opened #6148 "Create an updated sample database"
**Summary**
Create a new, updated sample database for local development.

**Rationale**
It's been almost a year or more since we've updated the sample database, and since then many things have changed, including the removal of many Kumascript macros that the old documents within the current, outdated sample database still use.

**Due Date**
Early 2020.

[2019-11-22 20:34] peterbe commented on #5862
@tobinmori I think the sprint paperwork might need some re-wording. What I built in https://github.com/mdn/kuma/pull/6149 is entirely "self-sufficient" in the Wiki and it doesn't depend on any new UI. I.e. this isn't blocked in any way on that modal.

Also, this Django functionality is tied to the regular Django patterns of the Wiki.

I'm losing track of progress and stuff but some day, if the sel

[2019-11-23 00:21] violasong commented on #6059
Great, thank you Schalk! ([DE website bug](https://github.com/mozilla/bedrock/issues/8211) filed)

[2019-11-24 10:08] ankiiitraj commented on #6114
Hi @callahad Can you review PR #6151

[2019-11-24 17:09] Arthur20191124 opened #6152 "Window.scrollTo has a different behavior on PC and Smartphone"
My program shows a box when clicking on an item. The Onclick calls the server which computes the content of the box and send back the same page with the box overlapping it. To position correctly the box I save the window.scrollY in a cookie and use it to reposition the window scroll when the page comes back,  using the JS window.scrollTo(0,y) function.
On a PC this method works fine.
On a smartpho

[2019-11-24 18:31] dumptyd opened #6153 "When logged in, 404 page uses the header used for logged out users"
Even when you're logged in, 404 page still shows the option to Sign In.

![image](https://user-images.githubusercontent.com/16368429/69499295-84cdd300-0f16-11ea-8fdd-c60f17df0295.png)

### Steps to reproduce

Visit this URL while signed in: https://developer.mozilla.org/en-US/docs/Web/API/DOMParser/parseFromString

[2019-11-25 06:46] schalkneethling commented on #5862
@peterbe I agree that the modal should not block this. It would be easy enough for me to rework the flow into a modal, and having this in production is beneficial to both end-users and staff. Thanks for getting this done 🎉

[2019-11-25 13:33] #6114 closed

[2019-11-25 13:58] peterbe opened #6154 "TypeError: hrefAttrValue is null"
**Summary**
`local-anchor.js` assumes that every `<a>` element in the DOM has a `href`. But in `wiki-compat-signal.js` there is a `<a>` without a href:
https://github.com/mdn/kuma/blob/fe06cc4abf710956d74df75491119f159f3f46ed/kuma/static/js/wiki-compat-signal.js#L14

I don't yet know when exactly it happens because I couldn't immediately reproduce it [in prod](https://developer.mozilla.org/en-US/d

[2019-11-25 13:58] peterbe commented on #6154
<img width="1500" alt="Screen Shot 2019-11-25 at 8 55 19 AM" src="https://user-images.githubusercontent.com/26739/69546419-b9b34780-0f61-11ea-8c3c-653ca4ca7a4a.png">

[2019-11-25 13:59] peterbe commented on #6154
@atopal @Elchi3 Can we just delete the old BC signal thing? The one that's only loaded on wiki.developer.m.o. The one that doesn't display a pretty form with actual questions.

[2019-11-25 13:59] atopal commented on #6154
sure

[2019-11-25 14:00] peterbe commented on #6154
Actually, it happens every time.
<img width="1616" alt="Screen Shot 2019-11-25 at 9 00 05 AM" src="https://user-images.githubusercontent.com/26739/69546590-0860e180-0f62-11ea-9b2b-a6bbcda70a2e.png">

[2019-11-25 14:02] peterbe opened #6155 "Remove wiki-compat-signal.js"
We have a different BCD signaling widget on the wiki. pages. Reasons to delete it.

1. Clicking it will just immediately submit a POST with no context or explanation.
2. [It's got a bug related to `local-anchor.js`](https://github.com/mdn/kuma/issues/6154)
3. [@atopal agrees](https://github.com/mdn/kuma/issues/6154#issuecomment-558167909)

[2019-11-25 16:55] peterbe commented on #6153
Not only that, but the whole header is wrong. It's the header used for wiki.developer.mozilla.org.

Technically this issue a dupe but I can't find the original one :)

[2019-11-25 16:59] peterbe commented on #6042
No longer happens because we use Python 3 now.

[2019-11-25 16:59] #6042 closed

[2019-11-25 17:11] peterbe commented on #5623
@ExE-Boss is right. It's still not fixed. See https://github.com/mdn/kuma/issues/6153

[2019-11-25 17:11] peterbe commented on #6153
Found the original issue. Turns out it was accidentally closed so that's why it slipped.
Closing your issue in favor of https://github.com/mdn/kuma/issues/5623
Thanks for filing!!

[2019-11-25 17:11] #6153 closed

[2019-11-25 20:22] peterbe commented on #6115
Generally the problem isn't with MIME types. [The iframe](https://mdn.mozillademos.org/en-US/docs/Web/CSS/resize$samples/Using_resize_with_arbitrary_elements?revision=1528269) uses
[code]
which means that the browser is GET'ing `https://mdn.mozillademos.org/static/build/styles/samples.37902ba3b7fe.css` but that URL causes a 404. And it also contains this HTTP response header:
[code]
For the record

[2019-11-26 07:14] ZiPengLiang opened #6159 "您好，这篇文章中文未翻译全啊"
您好，这篇文章中文未翻译全啊，在阅读带一半时，后半部未翻译

[2019-11-26 09:26] schalkneethling commented on #6059
@violasong and @digitarald The PR is open https://github.com/mdn/kuma/pull/6160#issue-345624938

[2019-11-26 11:00] #6154 closed

[2019-11-26 11:00] #6155 closed

[2019-11-26 11:42] SphinxKnight opened #6161 "Discrepancy between w.d.m.o and d.m.o for embedded live examples with hidden fragments when opening in CodePen / JSFiddle"
**Summary**
When a live sample has hidden parts (cf. the first live sample of https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout ), clicking "Open in CodePen" (or "Open in JSFiddle") does not produce the same result whether we click from developer.mozilla.org ([this page](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-plac

[2019-11-26 12:42] SeasonLeee commented on #6159
@ZiPengLiang 你好，我认为向开源项目提issue的行为很可取，但是要清楚的是，这些开源项目很多时候是不少爱好者抽自己的空余时间出来维护的，为了节省大家的时间应该提供足够的信息。

说回你这里的问题，你说的这篇文章未翻译全，却没有指明文章的链接。是丢失了还是忘记了，但是都已经过去那么久了都没发现自己提的问题有没有存在问题。

其次，在通篇都是英文issue的情况下，你用中文提问也是难为维护者，先不说有没有会中国语言的维护者吧，考虑到让你所提的问题更好地解决的情况下，用英语去提问不是能够让更多人看到吗？

To those who wonder what this  issue is about, @ZiPengLiang is reporting an issue of translation that  an article he was reading wasn't tran

[2019-11-26 16:04] peterbe commented on #6115
I'm understanding it a bit more now. This is a DevOps problem. Not a "traditional" web dev problem. It's about how we do AWS and stuff in Kuma.

First of all, the `x-cache: Error from cloudfront` means when you use CloudFront and the origin yields a 404. For example:
[code]

What happens is not that our Django code fails to find the file. The file `/static/build/styles/samples.37902ba3b7fe.css` to

[2019-11-26 16:37] peterbe commented on #6115
When `GET` a URL like `/static/build/styles/samples.37902ba3b7fe.css` in an iframe, on a page like https://developer.mozilla.org/en-US/docs/Web/CSS/resize it ultimately means that the iframe runs within `mdn.mozillademos.org`. So the URL we're struggling with is https://mdn.mozillademos.org/static/build/styles/samples.37902ba3b7fe.css

In production, `mdn.mozillademos.org` is actually the value of

[2019-11-26 19:26] tobinmori commented on #6115
cool, thanks for digging deep into that @peterbe.

so maybe it's as easy as adding `mdn.mozillademos.org` `static` to whitenoise on prod?

in any case, we can wait for @escattone on this one since he probably understands this best.

[2019-11-27 05:05] leela52452 opened #6162 "[question] resizing editor"
i am fixing URLs and sometimes typos. i am using mobile device. i am having issue with resizing toolbar. it is somewhat difficult for lengthy articles.   it is consuming more than 75% of screen size. my preferred way is to use full screen mode.

**editor : normal**

![editor -normal](https://user-images.githubusercontent.com/52065244/69695192-5a754480-10d3-11ea-9686-5926fe5e356d.png)

**editor : f

[2019-11-27 10:49] Gregoor commented on #6040
I assume this was closed accidently, so I reopened it

[2019-11-27 14:45] atopal opened #6163 "Add a way to indicate links are "to do" items"
## Current situation
Currently, when an article needs to reference a page that has not yet been written, we still add the `<a>` tags, linking to the intended article's URL. Sometimes these get written right away, sometimes years pass before someone has the opportunity to write that content.

This works fairly well, and gives contributors or potential contributors quick access to the editor through